.block_inner {
    width: 100%;
}

.about_head {
	padding-right: 20px;
	padding-left: 20px;
    padding-top: 30px;
    background: url(../img/head_bg.png) 50% 50% / cover no-repeat;

    @media all and (max-width: 1000px) {
    	padding-top: 20px;
    }

    .slider_top_block {
    	margin-right: -20px;
    	margin-left: -20px;
        &:before {
            z-index: 1;
        }

        .title {
            bottom: 55px;
            right: 0;
        }
    }
}

.site-path {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.9%;
    display: flex;
    align-items: center;

    a {
        position: relative;
        display: inline-block;
        padding-right: 6px;
        margin-right: 6px;
        color: #C84014;
        text-decoration-line: underline;

        &:before {
            position: absolute;
            content: '/';
            right: -3px;
            top: 0;
            bottom: 0;
            width: 3px;
            color: #7E7E7E;
        }
    }

    span {
        color: #7E7E7E;
    }
}

.more-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #C84014;
    padding-left: 20px;
    text-decoration: none;
    position: relative;

    &:before {
        position: absolute;
        content: '';
        width: 13px;
        height: 13px;
        left: 0;
        top: calc(50% - 6.5px);
        border-radius: 250px;
        background: #C84014 url("data:image/svg+xml,%3Csvg width='4' height='7' viewBox='0 0 4 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L3 3.47366L1 6' stroke='white' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
    }
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.factory_infromation__marque {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    height: 30px;
    background: #C84014;
    margin-right: -20px;
    margin-left: -20px;
    min-width: 1800px;
    &-msg {
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        right: 0;
        left: 0;

        div {
            animation: marquee 12s linear infinite;
            display: inline-block;
            padding-left: calc(100% + 58px);

            span {
                display: inline-block;
                margin-right: 40px;
            }
        }
    }

    marquee {
        span {
            display: inline-block;
            margin-right: 40px;
        }
    }

    &-msg--two div {
        animation-delay: 4s;
    }

    @media all and (min-width: 1001px) {
        .in_mob {
            display: none;
        }
    }
    @media all and (max-width: 1000px) {
        min-width: 100%;
        &-msg {
            display: none;
        }
    }
}

//// my styles
.slider_top_block.promo_land .slider_main {
    .item .block_inner {
        .text {
            background: none;
        }

        .name {
            text-transform: none;

            span {
                font-size: 20px;
                display: block;
                line-height: 110%;
                margin-bottom: 20px;
            }
        }

        .btn {
            display: inline-block !important;
            padding: 14px 48px;

            &.btn_orange {
                background: #C84014;
                color: #fff;
                margin-top: 10px;
            }
        }
    }
}

.about_factory {
    padding-top: 60px;
    padding-bottom: 95px;
    padding-right: 20px;
    padding-left: 20px;
    background: #fff;

    .block_inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        padding-bottom: 21px;
        margin-bottom: 49px;
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        color: #C84014;
        position: relative;
        display: inline-block;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: -1000px;
            border-bottom: 1px solid #C84014;
        }
        @media all and (max-width: 1000px) {
        	font-size: 25px;
        	padding-bottom: 20px;
        	margin: 0;
        	&:before {
        		display: none;
        	}
        }
    }

    &__left {
        width: 100%;
        max-width: 590px;
        margin-right: 40px;
        min-height: 418px;
        position: relative;

        &-image {
            font-size: 0;
            border: 1px solid #C84014;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(0deg, rgba(17, 14, 13, 0.29), rgba(17, 14, 13, 0.29));
            }

            img {
                width: 100%;
                object-fit: cover;
                height: 418px;
            }
        }

        &-btn {
            position: absolute;
            display: flex;
            align-items: center;
            width: 230px;
            min-height: 48px;
            top: calc(50% - 24px);
            left: calc(50% - 115px);
            z-index: 1;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            color: #FFFFFF;
            padding-left: 78px;
            background: url("data:image/svg+xml,%3Csvg width='68' height='48' viewBox='0 0 68 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M66.5781 7.49578C65.7946 4.54375 63.4937 2.2239 60.5662 1.43368C55.2655 4.29153e-07 33.9999 0 33.9999 0C33.9999 0 12.7346 4.29153e-07 7.43363 1.43368C4.5061 2.2239 2.20547 4.54375 1.4218 7.49578C4.25597e-07 12.841 0 24 0 24C0 24 4.25597e-07 35.159 1.4218 40.5043C2.20547 43.4563 4.5061 45.7762 7.43363 46.5662C12.7346 48 33.9999 48 33.9999 48C33.9999 48 55.2655 48 60.5662 46.5662C63.4937 45.7762 65.7946 43.4563 66.5781 40.5043C68 35.159 68 24 68 24C68 24 67.9943 12.841 66.5781 7.49578Z' fill='%23FF0000'/%3E%3Cpath d='M27 34L45 24.0001L27 14V34Z' fill='white'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
        }

        &-video {
            display: none;
        }
    }

    &__right {
        width: calc(100% - 630px);
        padding-top: 40px;

        &-title {
            font-weight: 700;
            font-size: 30px;
            line-height: 110%;
            color: #110E0D;
            margin-bottom: 30px;
        }

        &-desc {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #7E7E7E;
            margin-bottom: 30px;
        }

        &-list {
            margin-right: -20px;
            margin-left: -20px;
            display: flex;
            flex-wrap: wrap;
        }

        &-item {
            width: calc(50% - 40px);
            margin-right: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;

            @media all and (max-width: 640px) {
            	width: 100%;
            	margin-bottom: 15px;
            }

            .number {
                width: 86px;
                min-width: 86px;
                height: 86px;
                background: #110E0D;
                font-weight: 400;
                font-size: 60px;
                line-height: 73px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;

                &.active {
                    background: #C84014;
                }
            }

            .text {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #110E0D;
            }
        }
    }
    @media all and (max-width: 1200px) {
    	.block_inner {
    		flex-direction: column;
    	}
    	&__right {
    		padding-top: 20px;
    		width: 100%;
    		&-title {
    			font-size: 20px;
    			margin-bottom: 15px;
    		}
    		&-desc {
    			margin-bottom: 20px;
    		}
    	}
    }
    @media all and (max-width: 1000px) {
    	padding-top: 30px;
    	padding-bottom: 15px;
    	.about_factory__left-image img {
    		height: 228px;
    	}
    	.about_factory__left {
    		min-height: 228px;
    	}
    }
}

.mini_factory {
    background: #110E0D;
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        color: #FFFFFF;
        margin-bottom: 30px;
        text-align: center;
    }

    &__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    &__btn {
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
        background: #C84014;
        text-align: center;
        padding-top: 13px;
        padding-bottom: 13px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
        display: block;
    }
    @media all and (max-width: 1000px) {
    	padding: 30px 20px;
    	&__title {
    		font-size: 25px;
    	}
    	&__desc {
    		margin-bottom: 15px;
    	}
    	&__btn {
    		max-width: 320px;
    	}
    }
}

.solutions_block {
    padding-top: 60px;
    padding-bottom: 30px;
    position: relative;

    &:after {
        position: absolute;
        content: '';
        width: 122px;
        top: 0;
        bottom: 0;
        right: 0;
        background: url(../img/after_solutions.png) 50% 50% repeat;
        @media all and (max-width: 1000px){
        	display: none;
        }
    }

    &__title {
        padding-bottom: 21px;
        margin-bottom: 49px;
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        color: #C84014;
        position: relative;
        display: inline-block;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: -1000px;
            border-bottom: 1px solid #C84014;
        }
        @media all and (max-width: 1000px) {
        	&:before {
        		display: none;
        	}
        	padding-bottom: 15px;
        	margin-bottom: 0;
        	font-size: 25px;
        }
    }

    &__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 110%;
        color: #110E0D;
        margin-bottom: 40px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-right: -40px;
        margin-left: -40px;
        @media all and (max-width: 1000px) {
        	margin-right: -20px;
        	margin-left: -20px;
        }
        &-item {
            width: calc(33.3% - 80px);
            margin-right: 40px;
            margin-left: 40px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            @media all and (max-width: 1000px) {
            	width: calc(50% - 40px);
            	margin-right: 20px;
            	margin-left: 20px;
            }
            @media all and (max-width: 640px) {
            	width: calc(100% - 40px);
            	margin-bottom: 15px;
            }
            .icon {
                width: 86px;
                min-width: 86px;
                height: 86px;
                margin-right: 20px;
                background: #110E0D url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0624 40.9376C9.19281 39.0681 10.4328 35.143 9.48122 32.8431C8.49476 30.4589 4.875 28.5401 4.875 25.9999C4.875 23.4598 8.49478 21.541 9.48123 19.1569C10.4328 16.857 9.19281 12.9319 11.0624 11.0624C12.9319 9.19281 16.857 10.4328 19.1569 9.48122C21.5411 8.49476 23.4599 4.875 26.0001 4.875C28.5402 4.875 30.459 8.49478 32.8431 9.48123C35.143 10.4328 39.0681 9.19281 40.9376 11.0624C42.8072 12.9319 41.5672 16.857 42.5188 19.1569C43.5052 21.5411 47.125 23.4599 47.125 26.0001C47.125 28.5402 43.5052 30.459 42.5188 32.8431C41.5672 35.143 42.8072 39.0681 40.9376 40.9376C39.0681 42.8072 35.143 41.5672 32.8431 42.5188C30.4589 43.5052 28.5401 47.125 25.9999 47.125C23.4598 47.125 21.541 43.5052 19.1569 42.5188C16.857 41.5672 12.9319 42.8072 11.0624 40.9376Z' stroke='%23C84014' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M34.9375 21.125L23.0208 32.5L17.0625 26.8125' stroke='%23C84014' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
            }

            .text {
                font-weight: 700;
                font-size: 18px;
                line-height: 110%;
                color: #110E0D;
            }
        }
    }
    @media all and (max-width: 1000px){
    	padding: 30px 20px;
    	&__desc {
    		margin-bottom: 20px;
    	}
    }
}

.offer_block {
    position: relative;

    &:after {
        position: absolute;
        content: '';
        width: 122px;
        top: 0;
        bottom: 0;
        right: 0;
        background: url(../img/after_offer.png) 50% 50% repeat;
        @media all and (max-width: 1000px) {
        	display: none;
        }
    }

    .block_inner {
        display: flex;
    }

    &__title {
        padding-top: 60px;
        padding-bottom: 30px;
        background: #C84014;

        &-text {
            max-width: 1196px;
            margin: 0 auto;
            font-weight: 900;
            font-size: 50px;
            line-height: 100%;
            color: #FFFFFF;
        }
        @media all and (max-width: 1000px) {
        	padding: 30px 20px 20px;
        	&-text {
        		font-size: 30px;
        	}    	
        }
    }

    &__left {
        padding-top: 36px;
        max-width: 398px;
        width: 100%;
        margin-right: auto;
        @media all and (max-width: 1000px) {
        	padding: 20px 20px 12px;
        }
        &-title {
            font-weight: 700;
            font-size: 30px;
            line-height: 110%;
            color: #C84014;
            margin-bottom: 12px;
        }

        &-body {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: 0;

                li {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    color: #110E0D;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-left: 23px;
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        border-radius: 250px;
                        left: 0;
                        top: calc(50% - 6.5px);
                        width: 13px;
                        height: 13px;
                        background: #110E0D;
                    }
                }
            }
        }
    }

    &__center {
        .image {
            font-size: 0;
            img {
                width: 100%;
                object-fit: cover;
                height: 472px;

                @media all and (max-width: 1000px) {
                	height: 270px;
                }
            }
        }
    }

    &__right {
        width: 100%;
        max-width: 345px;
        background: #110E0D;
        padding: 40px 20px;
        box-sizing: border-box;

        &-title {
            font-weight: 700;
            font-size: 25px;
            line-height: 110%;
            color: #FFFFFF;
            margin-bottom: 28px;
        }

        .police {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #66220B;

            a {
                color: #66220B;
                text-decoration: none;
            }
        }
    }
    @media all and (max-width: 1000px) {
        .block_inner {
            flex-wrap: wrap;
        }
        &__left {
            width: 100%;
            max-width: 100%;
        }
        &__center {
            width: 50%;
            .image img {
                height: 420px;
            }
        }
        &__right {
            width: 50%;
            max-width: 100%;
            padding: 30px 20px;
        }
    }
    @media all and (max-width: 600px) {
        &__center {
            width: 100%;
            .image img {
                height: 270px;
            }
        }
        &__right {
            width: 100%;
        }
    }
}

.form_block_offer {
    .field {
        margin-bottom: 30px;

        input {
            border-bottom-color: #C84014;
        }

        &.name input {
            padding-left: 27px;
            background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10C10.2091 10 12 8.20914 12 6C12 3.79086 10.2091 2 8 2C5.79086 2 4 3.79086 4 6C4 8.20914 5.79086 10 8 10Z' stroke='%23C84014' stroke-miterlimit='10'/%3E%3Cpath d='M1.93683 13.4994C2.55155 12.4354 3.43546 11.5519 4.49976 10.9376C5.56405 10.3234 6.77125 9.99999 8.00009 10C9.22892 10 10.4361 10.3234 11.5004 10.9377C12.5647 11.552 13.4486 12.4355 14.0633 13.4995' stroke='%23C84014' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 0 50% no-repeat !important;
        }

        &.phone input {
            padding-left: 27px;
            background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.77977 7.80095C6.29842 8.86129 7.15792 9.71689 8.2206 10.2307C8.29835 10.2675 8.38436 10.2835 8.47015 10.277C8.55595 10.2705 8.63857 10.2418 8.7099 10.1937L10.2746 9.15028C10.3438 9.10414 10.4235 9.07598 10.5063 9.06838C10.5891 9.06077 10.6725 9.07394 10.749 9.10671L13.6763 10.3613C13.7757 10.4035 13.8588 10.4769 13.9128 10.5705C13.9669 10.664 13.9892 10.7726 13.9762 10.8798C13.8837 11.6038 13.5304 12.2693 12.9826 12.7516C12.4347 13.2339 11.7299 13.5 11 13.5C8.74566 13.5 6.58365 12.6045 4.98959 11.0104C3.39553 9.41635 2.5 7.25434 2.5 5C2.50004 4.27011 2.76612 3.56526 3.24843 3.01742C3.73073 2.46959 4.39618 2.11634 5.12019 2.02381C5.22745 2.01083 5.33602 2.03306 5.42955 2.08715C5.52307 2.14124 5.59649 2.22426 5.63873 2.3237L6.89439 5.25357C6.92687 5.32935 6.9401 5.41199 6.93291 5.49413C6.92572 5.57626 6.89833 5.65535 6.85318 5.72434L5.81341 7.31307C5.76608 7.38454 5.7381 7.46706 5.73221 7.55257C5.72631 7.63809 5.7427 7.72367 5.77977 7.80095V7.80095Z' stroke='%23C84014' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 0 50% no-repeat !important;
        }

        &.submit {
            margin-bottom: 15px;

            .btn {
                background: #C84014;
                border: 1px solid #FFFFFF;
                width: 100%;
                color: #fff;

                &:hover {
                    background: none;
                }
            }
        }
    }
}

.projects_block {
    background: #EFEFEF;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    .select_tab_btn {
    	background: #C84014;
    	color: #fff;
    }
    .mob_text {
    	font-weight: 700;
		font-size: 16px;
		line-height: 142.9%;
		color: #C84014;
		margin-bottom: 20px;
    }
    .dropdown_mob {
    	display: none;
    	padding: 0;
    	margin: 0 0 15px;
    	list-style: none;
    	font-size: 0;
    	li {
    		margin-bottom: 1px;
    		text-decoration: none;
    	}
        &.active {
            display: block;
        }
    }
    @media all and (min-width: 768px) {
    	.mob_text {
    		display: none;
    	}
    	.dropdow_mob {
    		display: none;
    	}
    }

    .select_dropdown {
        display: none;
        padding: 0 0 13px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        font-weight: 400;
        color: #110E0D;
        @media all and (max-width: 767px) {
            display: block;
            margin-bottom: 20px;
            text-align: left;

            &:after {
            	position: absolute;
            	right: 0;
            	top: 4px;
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 13px;
                height: 8px;
                background: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.44204 7L12 1' stroke='%23C84014' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
                margin: 0 6px;
            }
        }

        &:hover {
            background: none;
            color: #110E0D;
        }

        &.active {
            &:after {
                transform: rotate(180deg);
            }
        }
    }

    @media all and (min-width: 1001px) {
    	.swiper_arrow {
    		display: none;
    	}
    }
    &__header {
        display: flex;
        align-items: flex-end;
        margin-bottom: 40px;

        &-title {
            font-weight: 900;
            font-size: 50px;
            line-height: 100%;
            color: #110E0D;
            margin-right: auto;
            @media all and (max-width: 1000px) {
            	font-size: 25px;
            }
        }
    }

    .more-link {
        margin-bottom: 6px;
    }

    .tabs-b {
    	display: none;
    	&.active {
    		display: block;
    	}
    }

    .swiper-wrapper {
    	width: 100%;
    	.swiper {
    		width: 100%;
    	}
    }

    &__tabs {
    	position: relative;
        &-ul {
            list-style: none;
            padding: 0;
            margin: 0 0 30px;
            font-size: 0;
            display: flex;

            li.btn {
                margin-right: 10px;

                display: block;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #110E0D;
                border: 1px solid #110E0D;
                text-decoration: none;
                padding: 13px 35px;

                &:hover {
                    background: #110E0D;
                    color: #fff;
                }

                &.active {
                    background: #110E0D;
                    color: #fff;
                }

                &.r-tabs-state-active {
                    background: #110E0D;
                    color: #fff;
                }
            }

            @media all and (max-width: 767px) {
	            display: none;
	            position: absolute;
	            top: 44px;
	            left: -1px;
	            padding-bottom: 0;
	            z-index: 3;
	            right: -1px;
	            background: #fff;

	            li {
	                display: block;
	                text-align: center;
	                margin: 0;
	                border-width: 0 1px 1px;
	            }
	        }
        }

        &-body {
            // display: flex;
            // flex-wrap: wrap;
            margin-right: -10px;
            margin-left: -10px;
        }

        &-item {
            border: 1px solid #C84014;
            background: #FFFFFF;
            width: 223px;
            margin-right: 10px;
            margin-left: 10px;
            box-sizing: border-box;

            .top {
                min-height: 205px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .bottom {
                border-top: 1px solid #C84014;
                padding: 20px 18px 30px;

                .title {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 110%;
                    color: #110E0D;
                    margin-bottom: 15px;
                }
            }

            &:hover {
                .bottom {
                    background: #000000;

                    .title {
                        color: #fff;
                    }
                }
            }
        }
    }

    .r-tabs .r-tabs-accordion-title {
        display: none;
    }

    .r-tabs .r-tabs-panel.r-tabs-state-active {
        display: flex !important;
    }

    .r-tabs .r-tabs-panel {
        display: none;
    }
}

.factory_infromation {
    padding-top: 60px;
    background: #110E0D;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    overflow: hidden;

    &__title {
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .dropdown_mob {
    	display: none;
    	padding: 0;
    	margin: 0 0 15px;
    	list-style: none;
    	font-size: 0;
    	li {
    		color: #fff;
    		margin-bottom: 1px;
    		text-decoration: none;
    	}
        &.active {
            display: block;
        }
    }

    .production_block {
        padding-top: 40px;
        padding-bottom: 0;

        @media all and (max-width: 1000px) {
        	padding-right: 0;
        	padding-left: 0;
        	padding-top: 20px;
        }

        .tabs-title li {
            color: #fff;

            &:hover {
                color: #C84014;
                border-color: #C84014;
            }

            &.active {
                color: #C84014;
                border-color: #C84014;
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    height: 40px;
                    bottom: -40px;
                    width: 1px;
                    left: calc(50% - 1px);
                    background: #C84014;
                }
            }
        }

        .tabs-block .tabs-b {
            width: 100%;

            .swiper_arrow {
                top: 0;
                right: 0;
                left: auto;
                bottom: auto;

                &_btn {
                    border-color: #fff;

                    &:after {
                        background: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L1 6.44204L7 12' stroke='%23ffffff' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    }

                    &:hover {
                        border-color: #C84014;

                        &:after {
                            background: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L1 6.44204L7 12' stroke='%23C84014' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
                        }
                    }
                }
            }
        }

        .tabs-block .tabs-b .item {
            width: 100%;
            opacity: 1;
            background: #110E0D;

            .left {
                width: 100%;
                max-width: 638px;
                margin-right: 40px;
                min-height: 418px;
                flex: none;
                background: #FFFFFF;
                border: 2px solid #C84014;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: auto;
                    border: 0;
                    height: auto;
                }
            }

            .right {
                padding-left: 0;
                padding-bottom: 40px;
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    right: -1000px;
                    left: -40px;
                    border-bottom: 1px solid #C84014;
                }

                .name {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 110%;
                    color: #FFFFFF;
                    @media all and (max-width: 1000px) {
                    	font-size: 25px;
                    }
                }

                .desc {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 110%;
                    color: #C84014;
                    padding-bottom: 20px;
                }

                .body {
                    max-width: 400px;
                    padding-bottom: 30px;
                }

                .list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .list-title {
                        width: 100%;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 110%;
                        color: #C84014;
                        margin-bottom: 20px;
                    }

                    .list-item {
                        width: 50%;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 130%;
                        color: #7E7E7E;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        position: relative;
                        padding-left: 22px;
                        display: flex;
                        align-items: center;
                        &:before {
                            position: absolute;
                            content: '';
                            left: 0;
                            top: calc(50% - 6px);
                            background: #C84014;
                            border-radius: 250px;
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
    }
    .mob_text {
    	font-weight: 700;
		font-size: 16px;
		line-height: 142.9%;
		color: #C84014;
		margin-bottom: 20px;
    }
    @media all and (min-width: 768px) {
    	.mob_text {
    		display: none;
    	}
    }
    @media all and (max-width: 767px) {
    	.select_dropdown {
    		color: #fff;
    		text-align: left;
    		border-top: 0;
    		border-left: 0;
    		border-right: 0;
    		padding-bottom: 14px;
    		padding-left: 10px;
    		font-weight: 400;
            border-color: #C84014;
    		&:hover {
    			color: #fff;
    		}
    		&:after {
    			position: absolute;
    			right: 0;
    			top: calc(50% - 4px);
    		}
    	}
    }
    @media all and (max-width: 1000px) {
    	padding-top: 30px;
    	&__title {
    		font-size: 25px;
    		margin-bottom: 10px;
    	}
    	.factory_infromation__marque {
    		margin-right: -20px;
    		margin-left: -20px;
    	}
    }
}

.advantages {
    margin-top: 40px;
    margin-bottom: 30px;

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 110%;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
        margin-left: -30px;

        &-item {
            width: calc(25% - 60px);
            margin-right: 30px;
            margin-left: 30px;
            margin-bottom: 30px;
            display: flex;
            align-items: center;

            .number {
                width: 86px;
                min-width: 86px;
                height: 86px;
                margin-right: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 60px;
                line-height: 73px;
                color: #C84014;
                background: #fff;
            }

            .text {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
            }
        }
    }
    @media all and (max-width: 1000px) {
    	&__list {
    		margin-right: -20px;
    		margin-left: -20px;
    		&-item {
    			width: calc(33.3% - 40px);
    			margin-left: 20px;
    			margin-right: 20px;
    		}
    	}
    }
    @media all and (max-width: 768px) {
    	&__list {
    		&-item {
    			width: calc(50% - 40px);
    		}
    	}
    }
    @media all and (max-width: 768px) {
    	&__list {
    		&-item {
    			width: calc(100% - 40px);
    		}
    	}
    }
}

.overview_block {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
    .block_inner {
        display: flex;
    }

    &__left {
        width: 100%;
        max-width: 806px;
        margin-right: 40px;

        &-title {
            font-weight: 700;
            font-size: 30px;
            line-height: 110%;
            color: #110E0D;
            padding-bottom: 30px;
        }

        &-video {
        	iframe {
        		width: 100%;
        	}
        	@media all and (min-width: 1201px) {
        		min-height: 482px;
        	}
            .image {
            	font-size: 0;
	            border: 1px solid #C84014;
	            position: relative;

	            &:before {
	                position: absolute;
	                content: '';
	                top: 0;
	                right: 0;
	                bottom: 0;
	                left: 0;
	                background: linear-gradient(0deg, rgba(17, 14, 13, 0.29), rgba(17, 14, 13, 0.29));
	            }

	            &:after {
	                position: absolute;
	                content: '';
	                top: calc(50% - 24px);
	                left: calc(50% - 34px);
	                width: 68px;
	                height: 48px;
	                background: url("data:image/svg+xml,%3Csvg width='68' height='48' viewBox='0 0 68 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M66.5781 7.49578C65.7946 4.54375 63.4937 2.2239 60.5662 1.43368C55.2655 4.29153e-07 33.9999 0 33.9999 0C33.9999 0 12.7346 4.29153e-07 7.43363 1.43368C4.5061 2.2239 2.20547 4.54375 1.4218 7.49578C4.25597e-07 12.841 0 24 0 24C0 24 4.25597e-07 35.159 1.4218 40.5043C2.20547 43.4563 4.5061 45.7762 7.43363 46.5662C12.7346 48 33.9999 48 33.9999 48C33.9999 48 55.2655 48 60.5662 46.5662C63.4937 45.7762 65.7946 43.4563 66.5781 40.5043C68 35.159 68 24 68 24C68 24 67.9943 12.841 66.5781 7.49578Z' fill='%23FF0000'/%3E%3Cpath d='M27 34L45 24.0001L27 14V34Z' fill='white'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
	            }
            }
        }
    }

    &__right {
        flex-grow: 1;

        &-title {
            padding-bottom: 30px;
            font-weight: 700;
            font-size: 30px;
            line-height: 110%;
            color: #C84014;
        }
    }

    &__list {
        max-height: 482px;
        overflow-y: scroll;
        position: relative;

        &::-webkit-scrollbar {
            width: 11px;
            padding: 3px;
        }

        &::-webkit-scrollbar-track {
            background: #110E0D;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #C84014;
            outline: none;
            border: 3px solid #110E0D;
        }

        &-item {
            margin-bottom: 12px;
            max-width: 300px;

            .video {
                position: relative;
                border: 1px solid #110E0D;
                box-sizing: border-box;
                font-size: 0;
                margin-bottom: 10px;

                img {
                	width: 100%;
                	height: 168px;
                	object-fit: cover;
                }

                &:before {
                    position: absolute;
                    content: '';
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background: linear-gradient(0deg, rgba(17, 14, 13, 0.29), rgba(17, 14, 13, 0.29));
                }

                &:after {
                    position: absolute;
                    content: '';
                    width: 28px;
                    height: 20px;
                    top: 10px;
                    left: 10px;
                    background: url("data:image/svg+xml,%3Csvg width='28' height='20' viewBox='0 0 28 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.4145 3.0865C27.0919 1.87096 26.1445 0.915722 24.939 0.590338C22.7564 1.7671e-07 14 0 14 0C14 0 5.24366 1.7671e-07 3.06091 0.590338C1.85545 0.915722 0.908133 1.87096 0.585446 3.0865C1.75246e-07 5.28747 0 9.88235 0 9.88235C0 9.88235 1.75246e-07 14.4773 0.585446 16.6782C0.908133 17.8938 1.85545 18.849 3.06091 19.1743C5.24366 19.7647 14 19.7647 14 19.7647C14 19.7647 22.7564 19.7647 24.939 19.1743C26.1445 18.849 27.0919 17.8938 27.4145 16.6782C28 14.4773 28 9.88235 28 9.88235C28 9.88235 27.9976 5.28747 27.4145 3.0865Z' fill='%23FF0000'/%3E%3Cpath d='M11.1177 13.9999L18.5294 9.88233L11.1177 5.76465V13.9999Z' fill='white'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
                }

                &:hover {
                    border-color: #C84014;

                    &:before {
                        background: linear-gradient(0deg, rgba(210, 66, 19, 0.51), rgba(210, 66, 19, 0.51));
                    }
                }
            }

            &.active {
            	.video {
            		border-color: #C84014;

                    &:before {
                        background: linear-gradient(0deg, rgba(210, 66, 19, 0.51), rgba(210, 66, 19, 0.51));
                    }
            	}
            }

            .title {
                font-weight: 700;
                font-size: 16px;
                line-height: 110%;
                color: #110E0D;
                margin-bottom: 5px;
            }

            .desc {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #7E7E7E;
            }
        }
    }
    @media all and (max-width: 1000px){
    	padding-top: 30px;
    	padding-bottom: 18px;
    	.block_inner {
    		flex-direction: column;
    	}
    	&__list {
    		max-height: inherit;
    		overflow: auto;
    		display: flex;
    		flex-wrap: wrap;
    		margin-left: -10px;
    		margin-right: -10px;
    		&-item {
    			width: calc(50% - 20px);
    			margin-right: 10px;
    			margin-left: 10px;
    			max-width: 100%;
    		}
    	}
    	&__left {
    		&-title {
    			font-size: 25px;
    			padding-bottom: 20px;
    		}
    	}
    	&__right {
    		margin-top: 20px;
    		&-title {
    			padding-bottom: 20px;
    			font-size: 20px;
    		}
    	}
    }
    @media all and (max-width: 540px) {
    	&__list {
    		&-item {
    			width: calc(100% - 20px);
    		}
    	}
    }
}

//// my styles

.about_company {
    margin-top: 50px;
    min-height: 454px;
    padding-right: 20px;
    padding-left: 20px;
    .block_inner {
        display: flex;
        align-items: flex-start;
    }

    &__left {
        width: 100%;
        max-width: 490px;
        margin-right: 64px;

        &-title {
            font-weight: 900;
            font-size: 70px;
            line-height: 100%;
            color: #C84014;
            margin-bottom: 15px;
            @media all and (max-width: 1000px) {
            	font-size: 30px;
            	margin-bottom: 20px;
            }
        }

        &-desc {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #7E7E7E;
            margin-top: 15px;
            @media all and (max-width: 1000px) {
            	font-size: 16px;
            	line-height: 19px;
            }
        }

        &-btn {
            margin-top: 140px;
            width: 45px;
            height: 45px;
            border: 1px solid #C84014;
            box-sizing: border-box;
            border-radius: 250px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1L6.55796 7L1 1' stroke='%23C84014' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
        	
            &:hover {
                background: #C84014 url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1L6.55796 7L1 1' fill='%23C84014'/%3E%3Cpath d='M12 1L6.55796 7L1 1' stroke='%23110E0D' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat !important;
            }
            
            @media all and (max-width: 1000px) {
        		display: none;
        	}
        }
    }

    &__right {
        display: flex;
        align-items: center;

        &-btn {
            width: 126px;
            height: 126px;
            border: 1px solid #C84014;
            box-sizing: border-box;
            border-radius: 250px;
            margin-right: 28px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg width='38' height='42' viewBox='0 0 38 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.243896 41.7439L37.1219 21.0002L0.243896 0.256104V41.7439Z' fill='%23C84014'/%3E%3C/svg%3E%0A") 58% 50% no-repeat;
        
            &:hover {
                border-color: #fff;
                background: url("data:image/svg+xml,%3Csvg width='38' height='42' viewBox='0 0 38 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.243896 41.7439L37.1219 21.0002L0.243896 0.256104V41.7439Z' fill='%23fff'/%3E%3C/svg%3E%0A") 58% 50% no-repeat;
            }
        }

        &-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            color: #FFFFFF;
        }
    }
    @media all and (max-width: 1000px) {
    	margin-top: 35px;
    	min-height: 370px;
    	.block_inner {
    		flex-direction: column;
    	}
    	&__right {
    		margin-top: 20px;
    		&-btn {
    			width: 74px;
    			height: 74px;
    			margin-right: 12px;
    			background-size: 24px;
    		}
    	}
    }
}

.agro_block {
    background: #000;
}

.company_numbers {
	padding-right: 20px;
	padding-left: 20px;
    padding-top: 0;
    
    .block_inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        color: #110E0D;
        width: 100%;
        padding-bottom: 20px;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            bottom: 0;
            right: -9999px;
            left: -9999px;
            background: #C84014;
            height: 1px;
            @media all and (max-width: 1000px) {
                display: none;
            }
        }
    }

    &__left {
        max-width: 418px;
        margin-right: 60px;
        position: relative;

        &-image {
            font-size: 0;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(360deg, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0) 56.1%);
                z-index: 1;
            }

            img {
                width: 100%;
                height: 492px;
                object-fit: cover;
            }
        }

        &-block {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background: #C84014;
            padding: 15px 20px 18px;
            z-index: 2;
        }

        &-desc {
            font-weight: 400;
            font-size: 16px;
            line-height: 110%;
            color: #FFFFFF;
        }

        &-title {
            font-weight: 700;
            font-size: 25px;
            line-height: 110%;
            color: #FFFFFF;
        }
    }

    &__right {
        padding-top: 60px;
        flex: 1 1 auto;

        &-title {
            font-weight: 400;
            font-size: 25px;
            line-height: 30px;
            color: #110E0D;
            margin-bottom: 26px;
        }

        &-number {
            color: #C84014;
            margin-bottom: 20px;
            overflow: hidden;
            white-space: nowrap;

            span {
                display: inline-block;
                font-weight: 700;
                font-size: 150px;
                line-height: 100%;
            }
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            margin-right: -30px;
            margin-left: -30px;
        }

        &-item {
            width: calc(33.3% - 50px);
            margin-right: 25px;
            margin-left: 25px;

            .title {
                overflow: hidden;
                white-space: nowrap;
                color: #110E0D;

                span {
                    font-weight: 700;
                    font-size: 70px;
                    line-height: 100%;
                    display: inline-block;
                }
            }

            .desc {
                margin-top: 2px;
                font-weight: 400;
                font-size: 25px;
                line-height: 30px;
                color: #110E0D;
            }
        }
    }

    &__quote {
    	width: 100%;
    	margin-top: 40px;
    	&-title {
    		font-style: italic;
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			display: flex;
			align-items: center;
			color: #110E0D;
			max-width: 418px;
			padding-left: 90px;
			background: url("data:image/svg+xml,%3Csvg width='68' height='61' viewBox='0 0 68 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0618 35.2771C19.8642 36.0937 22.0073 37.6452 23.4909 39.9317C25.1394 42.0549 25.9636 44.668 25.9636 47.7711C25.9636 51.6908 24.7273 54.8755 22.2545 57.3253C19.7818 59.7751 16.7321 61 13.1055 61C9.14909 61 5.93455 59.7751 3.46182 57.3253C1.15394 54.7122 0 51.5274 0 47.7711C0 45.8112 0.164849 43.9331 0.494546 42.1365C0.989091 40.1767 1.89576 37.4003 3.21454 33.8072L13.6 0H25.4691L17.0618 35.2771ZM59.0982 35.2771C61.9006 36.0937 64.0436 37.6452 65.5273 39.9317C67.1758 42.0549 68 44.668 68 47.7711C68 51.6908 66.7636 54.8755 64.2909 57.3253C61.8182 59.7751 58.7685 61 55.1418 61C51.1855 61 47.9709 59.7751 45.4982 57.3253C43.1903 54.7122 42.0364 51.5274 42.0364 47.7711C42.0364 45.8112 42.2012 43.9331 42.5309 42.1365C43.0255 40.1767 43.9321 37.4003 45.2509 33.8072L55.6364 0H67.5055L59.0982 35.2771Z' fill='%23C84014'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
    	}
    }
    @media all and (max-width: 1000px) {
    	padding-top: 30px;
    	padding-bottom: 20px;
    	background: #EFEFEF;
    	&__title {
    		font-size: 25px;
    		order: -3;
    	}
    	&__left {
    		max-width: 100%;
    		margin-right: 0;
    		order: -2;
    		&-block {
    			padding: 14px 20px 10px;
    		}
    		&-desc {
    			font-size: 14px;
    			margin-bottom: 3px;
    		}
    		&-title {
    			font-size: 20px;
    		}
    	}
    	&__quote {
    		margin-top: 20px;
    		order: -1;
    		font-size: 16px;
    	}
    	&__right {
    		padding-top: 30px;
    		&-title {
    			font-size: 16px;
				line-height: 19px;
				margin-bottom: 5px;
    		}
    		&-number {
    			span {
                    font-size: 100px;
                }
    		}
    		&-list {
    			margin-right: -13px;
    			margin-left: -13px;
    		}
    		&-item {
    			width: calc(50% - 26px);
    			margin-right: 13px;
    			margin-left: 13px;
    			margin-bottom: 15px;
    			display: flex;
    			flex-direction: column;
    			.title {
    				order: 1;

                    span {
                        font-size: 50px;
                    }
    			}
    			.desc {
    				font-size: 16px;
    				line-height: 19px;
    				margin-bottom: 5px;
    			}
    		}
    	}
    }
    @media all and (min-width: 541px) and (max-width: 1000px) {

    }
}

.slider_block_professional {
    padding-top: 60px;
    padding-bottom: 78px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;

    .block_inner {
        position: relative;
        &:before{
            position: absolute;
            content: '';
            bottom: 100px;
            left: -9999px;
            right: 0;
            height: 1px;
            background: #C84014;
            @media all and (max-width: 1150px) {
                display: none;
            }
        }
    }
    &__items {
        display: flex;
        align-items: center;
        &-left {
            font-weight: 900;
            font-size: 50px;
            line-height: 100%;
            color: #110E0D;
            width: calc(100% - 690px);
            margin-right: auto;

            span {
                color: #C84014;
            }
        }

        &-right {
            border: 1px solid #C84014;
            font-size: 0;
        }
    }

    &__description {
        max-width: 645px;
        left: 160px;
        position: absolute;
        bottom: -96px;
        font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #7E7E7E;
    }

    .swiper {
        padding-bottom: 100px;
    }

    .swiper_arrow {
        position: absolute;
        bottom: 1px;
        left: 0;
        height: 45px;
        width: 100px;
        z-index: 2;
    }
    @media all and (min-width: 1001px) and (max-width: 1200px) {
        padding-left: 19px;
        &__items{
            &-left {
                width: 50%;
                padding-right: 10px;
                box-sizing: border-box;
                font-size: 40px;
            }
            &-right {
                width: 50%;
            }
        }
    }
    @media all and (max-width: 1000px) {
    	padding-top: 30px;
    	padding-bottom: 30px;
    	.swiper {
    		padding-bottom: 0;
    	}
    	&__items {
    		flex-direction: column;
    		&-left {
    			font-size: 25px;
    			margin-bottom: 20px;
    			width: 100%;
    		}
    		&-right {
    			width: 100%;
    			img {
    				width: 100%;
    			}
    		}
    	}
    	&__description {
    		position: relative;
    		left: 0;
            bottom: 0;
    		margin-top: 20px;
            border: 1px solid #C84014;
            border-top: 0;
            border-bottom: 0;
            margin-top: 0;
            padding: 15px;
    	}
    	.swiper_arrow {
    		position: relative;
    		width: auto;
    		bottom: 0;
    		right: 0;
    		left: 0;
    		padding: 10px 20px;
    		border: 1px solid #C84014;
    		border-top: 0;
    		box-sizing: border-box;
    		display: flex;
    		height: auto;
    		&_btn {
    			position: relative;
    			top: 0;
    			left: 0;
    			right: 0;
    			bottom: 0;
    			margin: 0 13px 0 0;
    		}
    	}
    }
}

.slider_block_history {
    background: #110E0D;
    padding-top: 60px;
    border-bottom: 29px solid #C84014;
    padding-right: 20px;
    padding-left: 20px;
    &__title {
        padding-bottom: 21px;
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        color: #fff;
        position: relative;
        display: inline-block;

        span {
            color: #C84014;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: -1000px;
            border-bottom: 1px solid #C84014;
        }
    }

    &__items-wrap {
        height: 620px;
        background: url("data:image/svg+xml,%3Csvg width='450' height='450' viewBox='0 0 450 450' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='225' cy='225' r='224.5' stroke='%23302525'/%3E%3C/svg%3E%0A") 200px 38px no-repeat;
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-left {
            .num {
                font-weight: 400;
                font-size: 250px;
                line-height: 305px;
                color: #C84014;
            }
        }

        &-right {
            max-height: 440px;
            position: relative;
            
            .item {
                max-width: 496px;
                padding-bottom: 30px;
                margin-bottom: 30px;
                border-bottom: 1px solid #302525;

                .title {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 110%;
                    color: #C84014;
                    margin-bottom: 20px;
                }

                .desc {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #7E7E7E;
                }
                &:last-child {
                margin-bottom: 0;
            }
            }

        }
    }

    .swiper_arrow {
        position: absolute;
        bottom: 80px;
        left: 0;
        height: 100px;
        width: 45px;
        z-index: 2;

        &_btn {
            border-color: #fff;
            top: 0;
            margin: 0;
            &:after {
                background: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L6.55796 1L1 7' stroke='white' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }

            &:hover {
                border-color: #C84014;

                &:after {
                    background: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L6.55796 1L1 7' stroke='%23C84014' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
                }
            }
            &.swiper-button-next{
            	top: auto;
            	bottom: 0;
            }
        }
    }

    .swiper-slide {
        height: 477px;

        &.swiper-slide-next {
            margin-top: -230px;
            display: block;

            .slider_block_history__items-right {
                opacity: 0;
            }

            .slider_block_history__items-left {
                .num {
                    font-weight: 400;
                    font-size: 200px;
                    line-height: 244px;
                    color: #231C1C;
                    margin-left: 100px;
                }
            }
        }
    }
    @media all and (max-width: 1000px) {
    	padding-top: 30px;
    	border-bottom-width: 10px;
    	.swiper_arrow {
    		left: auto;
    		right: 0;
    		top: 10px;
    		bottom: auto;
    	}
    	&__items-wrap {
    		height: 340px;
    		background: url("data:image/svg+xml,%3Csvg width='130' height='130' viewBox='0 0 130 130' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='65' cy='65' r='64.5' stroke='%23302525'/%3E%3C/svg%3E%0A") 45px 0 no-repeat;
    	}
    	&__title {
    		font-size: 25px;
    		&:before {
    			display: none;
    		}
    	}
    	&__items {
    		display: block;
    		align-items: flex-start;
    		&-left {
    			margin-bottom: 20px;
    			.num {
    				font-size: 100px;
					line-height: 122px;
    			}
    		}
    		&-right {
    			display: flex;
    			.item {
    				max-width: initial;
    				min-width: 250px;
    				border: 0;
    				padding-bottom: 0;
    				margin-bottom: 0;
    				padding-right: 20px;
    				margin-right: 20px;
    				border-right: 1px solid #C84014;
    				.desc {
    					font-size: 14px;
    					line-height: 17px;
    				}
    			}
    		}
    	}
    	.swiper-slide {
    		height: 100% !important;
    		&.swiper-slide-next {
    			margin: 0;
    		}
    	}
    }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
    .factory_infromation .production_block .tabs-block .tabs-b .item .left {
        max-width: 400px;
    }
}

@media all and (min-width: 768px) {
	.factory_infromation,
	.projects_block {
		.select_tab_btn {
			display: none;
		}
	}
}

@media all and (max-width: 767px) {
	.factory_infromation,
	.projects_block {
		.select_tab_btn {
			margin-bottom: 20px;
		}
	}
}

@media all and (min-width: 1001px) {
	.projects_block .swiper_arrow_btn {
		display: none;
	}
}
@media all and (min-width: 1001px) and (max-width: 1375px) {
	.solutions_block,
	.offer_block {
		padding-right: 120px;
        padding-left: 20px;
	}
    .offer_block {
        &__title {
            margin-left: -20px;
            padding-left: 20px;
        }
    }
	.solutions_block__list {
		margin-right: -20px;
		margin-left: -20px;
	}
	.solutions_block__list-item {
		width: calc(50% - 40px);
		margin-right: 20px;
		margin-left: 20px;
	}
}
@media all and (max-width: 1000px) {
	.company_numbers__quote-title {
		font-size: 16px;
	}
	.factory_infromation .production_block .tabs-block .tabs-b  {
		.item {
			.left {
				height: 220px;
				min-height: 100%;
			}
			.left img {
				height: 100%;
			}
		}
	}
	.factory_infromation .production_block .tabs-block .tabs-b .item .right {
		&:before {
			display: none;
		}
	}
	.factory_infromation .production_block .tabs-block .tabs-b .swiper_arrow {
		top: 398px;
		right: auto;
		left: 0;
	}
	.about_factory__left {
		margin-right: 0;
	}
	.factory_infromation .production_block .tabs-block .tabs-b .item .right:after {
		display: none;
	}
	.advantages__title {
		margin-bottom: 20px;
		font-size: 25px;
	}
	.advantages {
		margin-top: 0;
		margin-bottom: 15px;
		padding-top: 30px;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			right: -20px;
			left: -20px;
			height: 1px;
			background: #C84014;
			top: 0;
		}
	}
	.advantages__list-item {
		margin-bottom: 15px;
	}
	.projects_block {
		padding-top: 30px;
		&__header {
			margin-bottom: 20px;
		}
	}
	.projects_block__tabs {
		padding-bottom: 95px;
		.swiper_arrow_btn {
			bottom: 30px;
			top: auto;
			left: 0;
		}
		.swiper-button-next {
			left: 55px;
		}
	}
	.projects_block__header-link {
		position: absolute;
		bottom: 39px;
		left: 132px;
		z-index: 11;
	}
	.projects_block {
		padding-bottom: 0;
		position: relative;
	}
	.offer_block__left-title {
		font-size: 25px;
	}
	.factory_infromation .production_block .tabs-title li {
		background: #000;
	}
}

@media all and (max-width: 540px) {
	.factory_infromation .production_block .tabs-block .tabs-b .item .right .list .list-item {
		width: 100%;
	}
}