include _header_gl.jade
<div class="fixed_btns">
    <a href="" class="wh_btn"></a>
    <div class="up_link"></div>
</div>
<div class="site_wrapper header_bg">
    include _head.jade
<div class="content_block_wr page_inner_wrapper">
    <div class="page_404">
        <div class="block_inner">
            <div class="image">
                <img src="files/404.svg" alt="">
            </div>
            <div class="title">Такая страница не найдена :(</div>
            <div class="button_block">
                <a href="" class="btn btn_orange_full">Перейти на главную</a>
            </div>
        </div>
    </div>    
</div>
include _footer.jade