</div>
<footer class="footer">
	<div class="footer_top">
		<div class="block_inner">
			<div class="btn_up"></div>
			<div class="footer_left">
				<div class="time"><span>Записаться на прием</span> Мы работаем: Пн-Вс: 9:00 - 21:00</div>
				<div class="phone">
					<a href="tel:+7 (499) 288-71-15">+7 (499) 288-71-15</a>
				</div>
				<a href="#" class="btn ">Выбрать клинику</a>
			</div>
			<div class="footer_links">
				<ul>
					<li><a href="">Детская стоматология</a></li>
					<li><a href="">Учебный центр</a></li>
					<li><a href="">Взрослая стоматология</a></li>
					<li><a href="">Документы онлайн</a></li>
				</ul>
			</div>
			<div class="footer_right">
				<div class="soc_block">
					<a href="#">
						<img src="files/vk.svg" alt="">
					</a>
					<a href="#">
						<img src="files/yt.svg" alt="">
					</a>
					<a href="#">
						<img src="files/ss.svg" alt="">
					</a>
					<a href="#">
						<img src="files/tt.svg" alt="">
					</a>
				</div>
				<div class="email">
					<a href="mailto:info@tschelkunchik.ru">info@tschelkunchik.ru</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="block_inner">
			<div class="copy">© Все права защищены, 2022</div>
			<div class="police">Политика конфиденциальности</div>
		</div>
	</div>
</footer>
<script src="js/jquery.formstyler.js" async></script>
<script src="js/lightgallery-all.min.js" async></script>
<script src="js/main.js" async></script>
</body>
</html>