</div>
<footer class="footer">
	<div class="footer_top">
		<div class="block_inner">
			<div class="btn_up"></div>
			<div class="footer_left">
				<div class="time"><span>Записаться на прием</span> Мы работаем: Пн-Вс: 9:00 - 21:00</div>
				<div class="phone">
					<a href="tel:+7 (499) 288-71-15">+7 (499) 288-71-15</a>
				</div>
				<a href="#" class="btn make_btn">Выбрать клинику</a>
			</div>
			<div class="footer_links">
				<ul>
					<li><a href="">Детская стоматология</a></li>
					<li><a href="">Учебный центр</a></li>
					<li><a href="">Взрослая стоматология</a></li>
					<li><a href="">Документы онлайн</a></li>
				</ul>
			</div>
			<div class="footer_right">
				<div class="soc_block">
					<a href="#">
						<img src="files/vk.svg" alt="">
					</a>
					<a href="#">
						<img src="files/yt.svg" alt="">
					</a>
					<a href="#">
						<img src="files/ss.svg" alt="">
					</a>
					<a href="#">
						<img src="files/tt.svg" alt="">
					</a>
				</div>
				<div class="email">
					<a href="mailto:info@tschelkunchik.ru">info@tschelkunchik.ru</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="block_inner">
			<div class="copy">© Все права защищены, 2022</div>
			<div class="police">Политика конфиденциальности</div>
		</div>
	</div>
</footer>
<div class="form-popup-wrapper make_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<form action="">
				<div class="title">Записаться на приём</div>
				<div class="col_2">
					<div class="field">
						<input type="text" placeholder="Ваше имя">
					</div>
					<div class="field">
						<input type="text" placeholder="Номер телефона">
					</div>
				</div>
				<div class="col_2">
					<div class="field select">
						<select name="" id="">
							<option value="">Клиника</option>
							<option value="м. Раменки">м. Раменки</option>
							<option value="м. Войковская">м. Войковская</option>
							<option value="г. Красногорск">г. Красногорск</option>
						</select>
					</div>
					<div class="field select">
						<select name="" id="">
							<option value="Врач">Врач</option>
							<option value="Врач">Врач1</option>
							<option value="Врач">Врач2</option>
							<option value="Врач">Врач3</option>
							<option value="Врач">Врач4</option>
						</select>
					</div>
				</div>
				<div class="col_2 row">
					<button class="btn">Записаться на прием</button>
					<div class="text">Нажимая кнопку, Вы даете согласие на обработку персональных данных</div>
				</div>
				<div class="thenkText">Мы заботимся о вас и оставляем цены прежними.</div>
			</form>         
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<div class="form-popup-wrapper review_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<form action="">
				<div class="title">Оставить отзыв</div>
				<div class="col_2">
					<div class="field">
						<input type="text" placeholder="Ваше имя">
					</div>
					<div class="field">
						<input type="text" placeholder="Номер телефона">
					</div>
				</div>
				<div class="col_2">
					<div class="field select">
						<select name="" id="">
							<option value="">Клиника</option>
							<option value="м. Раменки">м. Раменки</option>
							<option value="м. Войковская">м. Войковская</option>
							<option value="г. Красногорск">г. Красногорск</option>
						</select>
					</div>
					<div class="field">
						<div class="select doctor_select">
							<select name="" id="">
								<option value="Врач">Врач</option>
								<option value="Врач">Врач1</option>
								<option value="Врач">Врач2</option>
								<option value="Врач">Врач3</option>
								<option value="Врач">Врач4</option>
							</select>
						</div>
						<div class="inputText">
							<input type="text">
						</div>
					</div>
				</div>
				<div class="field">
					<textarea name="" placeholder="Текст отзыва" id="" cols="30" rows="10"></textarea>
				</div>
				<div class="col_2 row">
					<button class="btn">Отправить отзыв</button>
					<div class="text">Нажимая кнопку, Вы даете согласие на обработку персональных данных</div>
				</div>
				<div class="thenkText">Мы заботимся о вас и оставляем цены прежними.</div>
			</form>         
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<script src="js/jquery.formstyler.js" async></script>
<script src="js/lightgallery-all.min.js" async></script>
<script src="js/main.js" async></script>
</body>
</html>