<div class="form_bottom_block">
	<div class="block_inner">
		<form action="">
			<div class="title">Готовы ответить на ваши вопросы</div>
			<div class="row_field">
				<div class="field name">
					<input type="text" placeholder="Имя*" required>
				</div>
				<div class="field phone">
					<input type="text" placeholder="Телефон*" required>
				</div>
				<div class="field file">
					<div class="file_input">
						<input type="file" name="file" id="file-2" required="" class="inputfile inputfile-2">
						<label for="file-2"><span>Прикрепить файл</span></label>
					</div>
					<div class="file_text">Файл не более 10МБ</div>
				</div>
				<div class="field textarea">
					<textarea name="" id="" placeholder="Описание вашей заявки" cols="30" rows="10"></textarea>
				</div>
				<div cass="field submit">
					<input type="submit" class="btn btn_white">
				</div>				
			</div>
			<div class="police">Я даю согласие на <a href="#">обработку персональных данных</a></div>
		</form>
	</div>
</div>
<footer class="footer">
	<div class="block_inner">
		<div class="left">
			<div class="logo">
				<a href="#">
					<img src="files/logo_footer.svg" alt="">
				</a>
			</div>
			<div class="text">ООО «НПП А-Инжиниринг» <br>ИНН 5403036256 <br>ОГРН 1175476113141</div>
		</div>
		<div class="menu_footer">
			<ul>
				<li><a href="#">Каталог</a></li>
				<li><a href="#">Решения</a></li>
				<li><a href="#">Производство</a></li>
				<li><a href="#">О компании</a></li>
				<li><a href="#">Проекты</a></li>
			</ul>
			<ul>
				<li><a href="">Гранды и лизинг</a></li>
				<li><a href="">Информация</a></li>
				<li><a href="">Контакты</a></li>
				<li><a href="">Сервис</a></li>
			</ul>
		</div>
		<div class="contacst">
			<div class="name">Мы в социальных сетях:</div>
			<div class="soc_block">
				<a href="">
					<img src="files/tg.svg" alt="">
				</a>
				<a href="">
					<img src="files/vk.svg" alt="">
				</a>
				<a href="">
					<img src="files/yb.svg" alt="">
				</a>
			</div>
			<div class="contact address">Новосибирск</div>
			<div class="contact email"><a href="mailto:info@mail.ru">info@mail.ru</a></div>
			<div class="contact phone"><a href="tel:88003020553">8 (800) 302-05-53</a></div>
		</div>
		<div class="copy">© Агроинжиниринг <br> Разработка сайта  <span>—</span>  <a href="#">Once&Twice</a></div>
	</div>
</footer>
</div>
<script src="js/jquery.formstyler.min.js" async></script>
<script src="js/lightgallery-all.min.js" async></script>
<script src="js/main.js" async></script>
</body>
</html>