<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/lightgallery.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/main-inner.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		
		<div class="menu_top">
			<ul>
				<li><a href="">Детская стоматология</a></li>
				<li><a href="">Взрослая стоматология</a></li>
			</ul>
		</div> 
		<div class="menu_icons_burger">
			<ul>
				<li>
					<a href="#">
						<span class="icon">
							<img src="files/menu_icon1.svg" alt="" class="norm">
							<img src="files/menu_icon1_hover.svg" alt="" class="hover">
						</span>
						<span class="name">О клинике</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="files/menu_icon2.svg" alt="" class="norm">
							<img src="files/menu_icon2_hover.svg" alt="" class="hover">
						</span>
						<span class="name">Услуги</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="files/menu_icon3.svg" alt="" class="norm">
							<img src="files/menu_icon3_hover.svg" alt="" class="hover">
						</span>
						<span class="name">Врачи</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="files/menu_icon4.svg" alt="" class="norm">
							<img src="files/menu_icon4_hover.svg" alt="" class="hover">
						</span>
						<span class="name">Цены</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="files/menu_icon5.svg" alt="" class="norm">
							<img src="files/menu_icon5_hover.svg" alt="" class="hover">
						</span>
						<span class="name">Отзывы</span>
					</a>
				<li>
					<a href="#">
						<span class="icon">
							<img src="files/menu_icon6.svg" alt="" class="norm">
							<img src="files/menu_icon6_hover.svg" alt="" class="hover">
						</span>
						<span class="name">Седация</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="files/menu_icon7.svg" alt="" class="norm">
							<img src="files/menu_icon7_hover.svg" alt="" class="hover">
						</span>
						<span class="name">Документы</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="menu_icons_burger last">
			<ul>
				<li>
					<a href="#">
						<span class="icon">
							<img src="files/m1.svg" alt="">
						</span>
						<span class="name">Беременным</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="files/m2.svg" alt="">
						</span>
						<span class="name">Учебный центр</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="files/m3.svg" alt="">
						</span>
						<span class="name">Акции</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="files/m4.svg" alt="">
						</span>
						<span class="name">Клиники</span>
					</a>
				</li>
			</ul>
		</div>
		<form class="search">
			<input type="text" placeholder="Поиск по сайту">
			<button class="btn_search"></button>
		</form>
	</div>
</nav> 
<div class="search_pop_wrap">
	<form class="search_pop">
		<input type="text" placeholder="Поиск по сайту">
		<button class="btn_search"></button>
	</form>
</div>
<header class="header">
	<div class="header_line">
		<div class="block_inner">
			<div class="logo">
				<a href="/">
					<img src="img/logo.svg" alt="">
				</a>
			</div>
			<div class="header_menu">
				<ul>
					<li><a href="">Детская стоматология</a></li>
					<li><a href="">Взрослая стоматология</a></li>
					<li><a href="">Учебный центр</a></li>
					<li><a href="">Для беременных</a></li>
					<li><a href="">Наши  акции</a></li>
					<li><a href="">Полезная информация</a></li>
				</ul>
			</div>
			<div class="search_btn"></div>
			<div class="call_btn"></div>
			<div class="burger"></div>
		</div>
	</div>
	<div class="header_bottom">
		<div class="block_inner">
			<div class="logo_header">
				<a href="/">
					<img src="img/logo.svg" alt="">
				</a>
			</div>
			<div class="menu_icons">
				<ul>
					<li>
						<a href="#">
							<span class="icon">
								<img src="files/menu_icon1.svg" alt="" class="norm">
								<img src="files/menu_icon1_hover.svg" alt="" class="hover">
							</span>
							<span class="name">О клинике</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon">
								<img src="files/menu_icon2.svg" alt="" class="norm">
								<img src="files/menu_icon2_hover.svg" alt="" class="hover">
							</span>
							<span class="name">Услуги</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon">
								<img src="files/menu_icon3.svg" alt="" class="norm">
								<img src="files/menu_icon3_hover.svg" alt="" class="hover">
							</span>
							<span class="name">Врачи</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon">
								<img src="files/menu_icon4.svg" alt="" class="norm">
								<img src="files/menu_icon4_hover.svg" alt="" class="hover">
							</span>
							<span class="name">Цены</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon">
								<img src="files/menu_icon5.svg" alt="" class="norm">
								<img src="files/menu_icon5_hover.svg" alt="" class="hover">
							</span>
							<span class="name">Отзывы</span>
						</a>
					<li>
						<a href="#">
							<span class="icon">
								<img src="files/menu_icon6.svg" alt="" class="norm">
								<img src="files/menu_icon6_hover.svg" alt="" class="hover">
							</span>
							<span class="name">Седация</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon">
								<img src="files/menu_icon7.svg" alt="" class="norm">
								<img src="files/menu_icon7_hover.svg" alt="" class="hover">
							</span>
							<span class="name">Документы</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="head_right">
				<div class="phone">
					<a href="tel:+7 (499) 288-71-15">+7 (499) 288-71-15</a>
				</div>
				<a href="#" class="btn ">Выбрать клинику</a>
			</div>
		</div>
	</div>
</header>									
<div class="content_block_wr">