include _header.jade
	<div class="content_main_bg">
		<div class="about_page_wr">
			<div class="block_inner">
				<div class="path_block"><a href="/">Главная</a><span>></span>О клинике</div>
				<h1>«Щелкунчик» - Семейная стоматологическая клиника Елены Яцкевич </h1>
				<div class="about_inner">
					<div class="left_block">
						<div class="body">
							<div class="more_text_body">
								<p>Здравствуйте!</p>
								<p>Меня зовут Елена Евгеньевна Яцкевич, я – Директор стоматологической клиники «Щелкунчик».</p>
								<p>Я и мои коллеги благодарны вам за то, что вы доверяете нам самое ценное – здоровье своих детей. Мы искренне любим свою работу, живем ею и беспрерывно в ней развиваемся. Мы считаем, что стоматология должна быть комфортной по отношению к вам – пациентам, а лечение максимально качественным. И делаем для этого всё, что от нас зависит, и даже больше.</p>
								<p>Если вам надо связаться со мной по вопросу, связанному с нашей работой, высказать свои пожелания, то позвоните мне по телефону: <a href="tel:+79163556846"><strong>+79163556846</strong></a>. Или пишите по электронной почте: <a href="mailto:elena.yatskevich@gmail.com"><strong>elena.yatskevich@gmail.com</strong></a>, я буду рада вашим предложениям, как нам стать лучше. <br>Я искренне рада Вам помочь!</p>
								<p>С уважением, <br>генеральный директор ООО «Щелкунчик» <br>доктор мед наук, врач высшей категории <br>Е.Е. Яцкевич</p>
							</div>
						</div>
						<a href="" class="btn border">Написать письмо</a>
					</div>
					<div class="right_block">
						<div class="image">
							<img src="files/ab.jpg" alt="">
						</div>
						<div class="name"><a href="">Яцкевич Елена Евгеньевна</a></div>
						<div class="ab">Основатель семейной стоматологии «Щелкунчик»</div>
					</div>
				</div>
			</div>
		</div>	
	</div>	
	<div class="mobile_show_block green">
		<div class="icon">
			<img src="files/logo-2.svg" alt="">
		</div>
		<div class="title">Учебный центр по детской стоматологии “Щелкунчик”</div>
		<div class="text">Мы обучаем детской стоматологии подробно шаг за шагом, тема за темой доступным языком и профессиональными методами.</div>
		<a href="#" class="btn border">Подробнее</a>
	</div>	
	<div class="eks_block inner_page_bg">
		<div class="block_inner">
			<div class="title">Приглашаем Вас на экскурсию по нашим клиникам:</div>
			<div class="inner">
				<a href="#" class="item">
					<span class="image">
						<img src="files/eks1.jpg" alt="">
					</span>
					<span class="body">
						<span class="name">м. Раменки</span>
						<span class="text">Мичуринский пр., 29 (минута от метро)</span>
					</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/eks2.jpg" alt="">
					</span>
					<span class="body">
						<span class="name">м. Войковская</span>
						<span class="text">ул. Зои и Александра Космодемьянских, д. 39</span>
					</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/eks3.jpg" alt="">
					</span>
					<span class="body">
						<span class="name">г. Красногорск</span>
						<span class="text">ул. Успенская д. 24</span>
					</span>
				</a>
			</div>
		</div>
	</div>			
	<div class="garant_block">
		<div class="block_inner">
			<div class="item" style="background-image: url(files/garant1.jpg);">
				<div class="title">Гарантия <br>на молочные <br>зубы</div>
				<div class="text">Даётся до полной смены молочного зуба на постоянный при условии, если вы каждые <strong>3 месяца</strong> приходите к нам на профилактический осмотр и профилактическую гигиену</div>
			</div>
			<div class="item" style="background-image: url(files/garant2.jpg);">
				<div class="title">Гарантия <br>на постоянные <br>зубы</div>
				<div class="text">5 лет при условии, если вы каждые <br><strong>6 месяцев</strong> приходите к нам на профилактический осмотр и профилактическую гигиену</div>
			</div>
		</div>
	</div>		
	<div class="slider_nag_block">
		<div class="block_inner">
			<div class="title">Наши награды:</div>
			<div class="slider_wr slider_nag">
				<div class="item">
					<a href="files/nag1.jpg">
						<img src="files/nag1.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="files/nag2.jpg">
						<img src="files/nag2.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="files/nag3.jpg">
						<img src="files/nag3.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="files/nag4.jpg">
						<img src="files/nag4.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="files/nag1.jpg">
						<img src="files/nag1.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="files/nag1.jpg">
						<img src="files/nag1.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>		
	<div class="form_green_block main_page_hide">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">Записаться на консультацию</div>
				<div class="text">Заполните форму и в ближайшее время с вами свяжется администратор для уточнения подробностей</div>
			</div>
			<div class="right_block">
				<form>
					<div class="left_form">
						<div class="col_2">
							<div class="field">
								<div class="name_field">Ваше имя*</div>
								<input type="text" required placeholder="Например, Олег...">
							</div>
							<div class="field">
								<div class="name_field">Мобильный телефон*</div>
								<input type="text" required placeholder="+7 (___) ___-__-__">
							</div>
						</div>
						<div class="field_text">Нажимая кнопку «Отправить», Вы даете согласие на обработку персональных данных</div>
					</div>
					<div class="right_form">
						<input type="submite" value="Отправить" class="btn">
						<div class="phone">
							<div class="name_phone">или позвоните нам</div>
							<a href="tel:+74992887115">+7 (499) 288-71-15</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="slider_nag_block">
		<div class="block_inner">
			<div class="title">Лицензии и сертификаты:</div>
			<div class="slider_wr slider_sert">
				<div class="item">
					<a href="files/sert1.jpg">
						<img src="files/sert1.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="files/sert2.jpg">
						<img src="files/sert2.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="files/sert3.jpg">
						<img src="files/sert3.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="files/sert4.jpg">
						<img src="files/sert4.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="files/sert1.jpg">
						<img src="files/sert1.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="files/sert1.jpg">
						<img src="files/sert1.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>		
	<div class="slider_part_block">
		<div class="block_inner">
			<div class="title">Наши партнеры</div>
			<div class="slider_wr slider_part">
				<a href="#" class="item">
					<div class="item_in">
						<img src="files/partn1.png" alt="">
						<div class="text">Стоматологическая ассоциация России</div>
					</div>
				</a>
				<a href="#" class="item">
					<div class="item_in">
						<img src="files/partn2.png" alt="">
						<div class="text">ФГУ "Московский НИИ педиатрии и детской хирургии" </div>
					</div>
				</a>
				<a href="#" class="item">
					<div class="item_in">
						<img src="files/partn3.png" alt="">
						<div class="text">ФНКЦ ДГОИ им. Д. Рогачева</div>
					</div>
				</a>
				<a href="#" class="item">
					<div class="item_in">
						<img src="files/partn4.png" alt="">
						<div class="text">Московский государственный медико-стоматологический университет</div>
					</div>
				</a>
			</div>
		</div>
	</div>		
	<div class="contacts_map">
		<div class="block_inner">
			<div class="inner">
				<div class="tab_map_block">
					<ul class="tab_map_title tabs-title">
						<li class="metro active"><span>Раменки</span></li>
						<li class="metro"><span>Войковская</span></li>
						<li><span>г. Красногорск</span></li>
					</ul>
					<div class="tab_map_body tabs-block">
						<div class="tab_main active">
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="icon">
										<img src="img/metro.svg" alt="">
									</div>
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">Раменки</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
						<div class="tab_main">
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="icon">
										<img src="img/metro_green.svg" alt="">
									</div>
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">Войковская</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
						<div class="tab_main">
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">г. Красногорск</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>				
	</div>	
include _footer.jade