include _header.jade
	<div class="content_main_bg doctors_page">
		<div class="block_inner">
			<div class="path_block"><a href="/">Главная</a><span>></span>Акции</div>
			<h1>Действующие акции</h1>
			<div class="sale_page">
				<div class="left_block">
					<img src="files/sale.jpg" alt="">
				</div>
				<div class="right_block">
					<div class="name">Скидка 10% на первичный осмотр в стоматологической клинике «Щелкунчик».</div>
					<div class="text">
						<p>Наши самые лучшие высококвалифицированные специалисты проведут обследование ротовой полости, дадут рекомендации по уходу за зубами и деснами, назначат дополнительные исследования и лечение (по необходимости).</p>
						<p>Успейте воспользоваться предложением! Наши врачи отличаются исключительным подходом к детям, глубокими профессиональными знаниями и отличными практическими навыками. Обращайтесь!</p>
						<p>* данная скидка не суммируется с другими действующими акциями.</p>
						<p>Записаться на приём в Семейную стоматологию "Щелкунчик" можно по тел. +7 (499) 288-71-15 или нажав кнопку ниже.</p>
					</div>
					<div class="text_param">
						<p><strong>Действует в клинике:</strong> Щелкунчик" м. Войковская / "Щелкунчик" г. Красногорск / "Щелкунчик" Мичуринский проспект, 29</p>
						<p><strong>Акция действует до:</strong>  30.08.2022 года</p>
					</div>
					<a href="#" class="btn border">Записаться на прием</a>
				</div>
			</div>
		</div>
	</div>	
	<div class="form_green_block mobile_ad">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">Записаться на консультацию</div>
				<div class="text">Заполните форму и в ближайшее время с вами свяжется администратор для уточнения подробностей</div>
			</div>
			<div class="right_block">
				<form>
					<div class="left_form">
						<div class="col_2">
							<div class="field">
								<div class="name_field">Ваше имя*</div>
								<input type="text" required placeholder="Например, Олег...">
							</div>
							<div class="field">
								<div class="name_field">Мобильный телефон*</div>
								<input type="text" required placeholder="+7 (___) ___-__-__">
							</div>
						</div>
						<div class="field_text">Нажимая кнопку «Отправить», Вы даете согласие на обработку персональных данных</div>
					</div>
					<div class="right_form">
						<input type="submite" value="Отправить" class="btn">
						<div class="phone">
							<div class="name_phone">или позвоните нам</div>
							<a href="tel:+74992887115">+7 (499) 288-71-15</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>	
	<div class="contacts_map">
		<div class="block_inner">
			<div class="inner">
				<div class="tab_map_block">
					<ul class="tab_map_title tabs-title">
						<li class="metro active"><span>Раменки</span></li>
						<li class="metro"><span>Войковская</span></li>
						<li><span>г. Красногорск</span></li>
					</ul>
					<div class="tab_map_body tabs-block">
						<div class="tab_main active">
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="icon">
										<img src="img/metro.svg" alt="">
									</div>
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">Раменки</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
						<div class="tab_main">
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="icon">
										<img src="img/metro_green.svg" alt="">
									</div>
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">Войковская</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
						<div class="tab_main">
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">г. Красногорск</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>				
	</div>																	
include _footer.jade