include _header.jade
	<div class="content_block_wr">
		<div class="path_block">
			<div class="block_inner">
				<ul>
					<li><a href="">Главная</a></li>
					<li> / Экструдер es-40 (220в и 380в) для переработки зерновых</li>
				</ul>
			</div>
		</div>
		<div class="card_main_block">
			<div class="block_inner">
				<h1>Экструдер es-40 (220в и 380в) для переработки зерновых</h1>
				<div class="left_image">
					<div class="thumbs">
						<div class="thumb_slider">
							<div class="item">
								<span>
									<img src="files/image_sl.png" alt="">
								</span>
							</div>
							<div class="item">
								<span>
									<img src="files/image_sl.png" alt="">
								</span>
							</div>
							<div class="item">
								<span>
									<img src="files/image_sl.png" alt="">
								</span>
							</div>
							<div class="item">
								<span>
									<img src="files/image_sl.png" alt="">
								</span>
							</div>
							<div class="item">
								<span>
									<img src="files/image_sl.png" alt="">
								</span>
							</div>
						</div>
					</div>
					<div class="big_image">
						<div class="big_image_slider">
							<div class="item">
								<a href="files/image_sl.png">
									<span class="video_text">Видео обзор</span>
									<img src="files/image_sl.png" alt="">
								</a>
							</div>
							<div class="item">
								<a href="files/image_sl.png">
									<img src="files/image_sl.png" alt="">
								</a>
							</div>
							<div class="item">
								<a href="files/image_sl.png">
									<img src="files/image_sl.png" alt="">
								</a>
							</div>
							<div class="item">
								<a href="files/image_sl.png">
									<img src="files/image_sl.png" alt="">
								</a>
							</div>
							<div class="item">
								<a href="files/image_sl.png">
									<img src="files/image_sl.png" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="right_detals">
					<div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
					<div class="param_name">Общие характеристики</div>
					<ul class="params">
						<li>Производительность 15-40 кг/час</li>
						<li>Ресурс шнековой части 15 тонн</li>
						<li>Может работать 24 часа в сутки</li>
						<li>Поставляется в сборе</li>
						<li>Главный привод 3 кВт (220В, 380В)</li>
						<li>Масса 72 - 80кг</li>
					</ul>
					<a href="#" class="btn btn_orange_full">Узнать подробнее</a>
				</div>
			</div>
		</div>
		<div class="card_tabs">
			<div class="block_inner">
				<div class="select_dropdown btn btn_select">Описание</div>
				<ul class="tabs-title">
					<li class="btn btn_white_border active"><span>Описание</span></li>
					<li class="btn btn_white_border"><span>Схема размещения</span></li>
					<li class="btn btn_white_border"><span>Габариты</span></li>
					<li class="btn btn_white_border"><span>Отзывы</span></li>
				</ul>
				<div class="tabs-block">
					<div class="tabs-b active">
						<div class="inner">
							<div class="video_left">
								<iframe width="100%" height="418" src="https://www.youtube.com/embed/EUX6lXTX9zQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="right">
								<div class="name">Описание</div>
								<div class="body">
									<p>Частные объявления такого плана: «Зерновой экструдер Россия продам по низким ценам», - вот, что в действительности привлекает внимание. Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур. Теперь в изготовлении употребляется  соя, разные зерновые отходы, солома, отходы боен , а также многое другое . Продажа указанного оборудования создает возможность существенно повысить производственные показатели в сегодняшнем фермерском хозяйстве. Именно потому зерновой экструдер купить Новосибирск является правильным решением. </p>
									<p>Продажа указанного оборудования создает возможность существенно повысить производственные показатели в сегодняшнем фермерском хозяйстве. Именно потому зерновой экструдер купить Новосибирск является правильным решением. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="tabs-b">
						<div class="inner">
							<div class="video_left">
								<iframe width="100%" height="418" src="https://www.youtube.com/embed/EUX6lXTX9zQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="right">
								<div class="name">Схема размещения</div>
								<div class="body">
									<p>Частные объявления такого плана: «Зерновой экструдер Россия продам по низким ценам», - вот, что в действительности привлекает внимание. Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур. Теперь в изготовлении употребляется  соя, разные зерновые отходы, солома, отходы боен , а также многое другое . Продажа указанного оборудования создает возможность существенно повысить производственные показатели в сегодняшнем фермерском хозяйстве. Именно потому зерновой экструдер купить Новосибирск является правильным решением. </p>
									<p>Продажа указанного оборудования создает возможность существенно повысить производственные показатели в сегодняшнем фермерском хозяйстве. Именно потому зерновой экструдер купить Новосибирск является правильным решением. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="tabs-b">
						<div class="inner">
							<div class="video_left">
								<iframe width="100%" height="418" src="https://www.youtube.com/embed/EUX6lXTX9zQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="right">
								<div class="name">Габариты</div>
								<div class="body">
									<p>Частные объявления такого плана: «Зерновой экструдер Россия продам по низким ценам», - вот, что в действительности привлекает внимание. Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур. Теперь в изготовлении употребляется  соя, разные зерновые отходы, солома, отходы боен , а также многое другое . Продажа указанного оборудования создает возможность существенно повысить производственные показатели в сегодняшнем фермерском хозяйстве. Именно потому зерновой экструдер купить Новосибирск является правильным решением. </p>
									<p>Продажа указанного оборудования создает возможность существенно повысить производственные показатели в сегодняшнем фермерском хозяйстве. Именно потому зерновой экструдер купить Новосибирск является правильным решением. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="tabs-b">
						<div class="inner">
							<div class="video_left">
								<iframe width="100%" height="418" src="https://www.youtube.com/embed/EUX6lXTX9zQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="right">
								<div class="name">Отзывы</div>
								<div class="body">
									<p>Частные объявления такого плана: «Зерновой экструдер Россия продам по низким ценам», - вот, что в действительности привлекает внимание. Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур. Теперь в изготовлении употребляется  соя, разные зерновые отходы, солома, отходы боен , а также многое другое . Продажа указанного оборудования создает возможность существенно повысить производственные показатели в сегодняшнем фермерском хозяйстве. Именно потому зерновой экструдер купить Новосибирск является правильным решением. </p>
									<p>Продажа указанного оборудования создает возможность существенно повысить производственные показатели в сегодняшнем фермерском хозяйстве. Именно потому зерновой экструдер купить Новосибирск является правильным решением. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article_block_wr">
			<div class="swiper_arrow_btn next_article"></div>
			<div class="block_inner">
				<div class="title">Статьи об экструдерах</div>
				<a href="" class="link">Читать все статьи</a>
				<div class="article_wr">
					<div class="swiper article_slider">
						<div class="swiper_arrow">
							<div class="swiper_arrow_btn swiper-button-prev"></div>
							<div class="swiper_arrow_btn swiper-button-next"></div>
						</div>
						<div class="swiper-wrapper">
							<a href="" class="item swiper-slide">
								<div class="name">Название блока с информацией</div>
								<span class="body">Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур. </span>
								<div class="bottom">
									<span class="link">Подробнее</span>
								</div>
							</a>
							<a href="" class="item swiper-slide">
								<div class="name">Название блока с информацией</div>
								<span class="body">Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур. </span>
								<div class="bottom">
									<span class="link">Подробнее</span>
								</div>
							</a>
							<a href="" class="item swiper-slide">
								<div class="name">Название блока с информацией</div>
								<span class="body">Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур. </span>
								<div class="bottom">
									<span class="link">Подробнее</span>
								</div>
							</a>
							<a href="" class="item swiper-slide">
								<div class="name">Название блока с информацией</div>
								<span class="body">Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур. </span>
								<div class="bottom">
									<span class="link">Подробнее</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="recommended_block_wr">
			<div class="block_inner">
				<div class="title">Рекомендуемые товары</div>
				<a href="" class="link">Все рекомендуемые товары</a>
				<div class="recommended_wr">
					<div class="swiper recommended_slider">
						<div class="swiper_arrow">
							<div class="swiper_arrow_btn swiper-button-prev"></div>
							<div class="swiper_arrow_btn swiper-button-next"></div>
						</div>
						<div class="swiper-wrapper">
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/image_sl.png" alt="">
								</span>
								<div class="bottom">
									<div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
									<span class="body">Примерное кратокое описание</span>
									<span class="link">Подробнее</span>
								</div>
							</a>
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/image_sl.png" alt="">
								</span>
								<div class="bottom">
									<div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
									<span class="body">Примерное кратокое описание</span>
									<span class="link">Подробнее</span>
								</div>
							</a>
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/image_sl.png" alt="">
								</span>
								<div class="bottom">
									<div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
									<span class="body">Примерное кратокое описание</span>
									<span class="link">Подробнее</span>
								</div>
							</a>
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/image_sl.png" alt="">
								</span>
								<div class="bottom">
									<div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
									<span class="body">Примерное кратокое описание</span>
									<span class="link">Подробнее</span>
								</div>
							</a>
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/image_sl.png" alt="">
								</span>
								<div class="bottom">
									<div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
									<span class="body">Примерное кратокое описание</span>
									<span class="link">Подробнее</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
include _footer.jade