include _header_gl.jade
<div class="fixed_btns">
    <a href="" class="wh_btn"></a>
    <div class="up_link"></div>
</div>
<div class="site_wrapper header_bg">
    <div class="content_block_wr">
        <div class="header_wrapper">
            include _head.jade
            <div class="path_block">
                <div class="block_inner">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li> / Каталог</li>
                    </ul>
                </div>
            </div>
            <div class="catalog_list_block">
                <div class="block_inner">
                    <div class="left">
                        <h1><span>Дробилки</span>зерна</h1>
                        <div class="text">Примерное краткое описание категории</div>
                    </div>
                    <div class="right">
                        <span><img src="files/cat_pic.png" alt=""></span>
                    </div>
                    <div class="catalog_main_block_bottom">
                        <div class="title">Выбрать другую категорию</div>
                        <div class="btns_wrap">
                            <div class="field field-white select">
                                <select name="" id="">
                                    <option>Выбрать год</option>
                                    <option>2010</option>
                                    <option>2011</option>
                                    <option>2012</option>
                                    <option>2013</option>
                                    <option>2014</option>
                                    <option>2015</option>
                                    <option>2016</option>
                                    <option>2017</option>
                                    <option>2018</option>
                                </select>
                            </div>
                            <div class="btn btn_white">Показать</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog_list_tabs">
            <div class="block_inner">
                <ul class="tabs-title">
                    <li class="btn btn_black active"><span>Пневматические</span></li>
                    <li class="btn btn_black"><span>Стационарные</span></li>
                    <li class="btn btn_black more">Показать все</li>
                </ul>
                <div class="tabs-block">
                    <div class="tabs-b active">
                        <div class="catalog_list_tabs__items-wrap">
                            <a class="catalog_list_tabs__item">
                                <span class="image"><img src="files/image_sl.png" alt=""></span>
                                <span class="bottom">
                                    <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </span>
                            </a>
                            <a class="catalog_list_tabs__item">
                                <span class="image"><img src="files/image_sl.png" alt=""></span>
                                <span class="bottom">
                                    <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </span>
                            </a>
                            <a class="catalog_list_tabs__item">
                                <span class="image"><img src="files/image_sl.png" alt=""></span>
                                <span class="bottom">
                                    <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </span>
                            </a>
                            <a class="catalog_list_tabs__item">
                                <span class="image"><img src="files/image_sl.png" alt=""></span>
                                <span class="bottom">
                                    <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </span>
                            </a>
                            <a class="catalog_list_tabs__item">
                                <span class="image"><img src="files/image_sl.png" alt=""></span>
                                <span class="bottom">
                                    <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </span>
                            </a>
                            <a class="catalog_list_tabs__item">
                                <span class="image"><img src="files/image_sl.png" alt=""></span>
                                <span class="bottom">
                                    <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="tabs-b">
                        <div class="catalog_list_tabs__items-wrap">
                            <a class="catalog_list_tabs__item">
                                <span class="image"><img src="files/image_sl.png" alt=""></span>
                                <span class="bottom">
                                    <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </span>
                            </a>
                            <a class="catalog_list_tabs__item">
                                <span class="image"><img src="files/image_sl.png" alt=""></span>
                                <span class="bottom">
                                    <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </span>
                            </a>
                            <a class="catalog_list_tabs__item">
                                <span class="image"><img src="files/image_sl.png" alt=""></span>
                                <span class="bottom">
                                    <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mob_btn btn_black btn">Показать еще</div>
            </div>
        </div>
        <div class="recommended_block_wr">
            <div class="block_inner">
                <div class="title">Рекомендуемые товары</div>
                <a href="" class="link">Все рекомендуемые товары</a>
                <div class="recommended_wr">
                    <div class="swiper recommended_slider">
                        <div class="swiper_arrow">
                            <div class="swiper_arrow_btn swiper-button-prev"></div>
                            <div class="swiper_arrow_btn swiper-button-next"></div>
                        </div>
                        <div class="swiper-wrapper">
                            <a href="" class="item swiper-slide">
                                <span class="image">
                                    <img src="files/image_sl.png" alt="">
                                </span>
                                <div class="bottom">
                                    <div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </div>
                            </a>
                            <a href="" class="item swiper-slide">
                                <span class="image">
                                    <img src="files/image_sl.png" alt="">
                                </span>
                                <div class="bottom">
                                    <div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </div>
                            </a>
                            <a href="" class="item swiper-slide">
                                <span class="image">
                                    <img src="files/image_sl.png" alt="">
                                </span>
                                <div class="bottom">
                                    <div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    include _footer.jade