include _header_gl.jade
<div class="fixed_btns">
	<a href="" class="wh_btn"></a>
	<div class="up_link"></div>
</div>
<div class="site_wrapper header_bg">
	include _head.jade
	<div class="content_block_wr">
		<div class="header_wrapper">
			
			<div class="path_block">
				<div class="block_inner">
					<ul>
						<li><a href="">Главная</a></li>
						<li> / Каталог</li>
					</ul>
				</div>
			</div>
			<div class="catalog_main_block">
				<div class="block_inner">
					<div class="left">
						<h1><span>Каталог</span>продукции</h1>
						<div class="text">Поставляем по России и в зарубежье  от одного экструдера или дробилки до комбикормовых заводов под ключ</div>
						<div class="down_btn_arrow button_down"></div>
					</div>
					<div class="right">
						<span><img src="files/cat_pic.png" alt=""></span>
					</div>
				</div>
			</div>
		</div>
		<div class="catalog_main_list first_block_scroll">
			<div class="block_inner">
				<a href="#" class="item">
					<span class="image">
						<img src="files/c_image1.png" alt="">
					</span>
					<span class="name">Дробилки зерна</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/c_image1.png" alt="">
					</span>
					<span class="name">Оборудование для очистки зерна</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/c_image1.png" alt="">
					</span>
					<span class="name">Оборудование для производства комбикорма</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/c_image1.png" alt="">
					</span>
					<span class="name">Транспортное оборудование</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/c_image1.png" alt="">
					</span>
					<span class="name">Сельскохозяйственное оборудование</span>
				</a>
			</div>
		</div>
		<div class="recommended_block_wr">
			<div class="block_inner">
				<div class="title">Рекомендуемые товары</div>
				<a href="" class="link">Все рекомендуемые товары</a>
				<div class="recommended_wr">
					<div class="swiper recommended_slider">
						<div class="swiper_arrow">
							<div class="swiper_arrow_btn swiper-button-prev"></div>
							<div class="swiper_arrow_btn swiper-button-next"></div>
						</div>
						<div class="swiper-wrapper">
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/image_sl.png" alt="">
								</span>
								<div class="bottom">
									<div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
									<span class="body">Примерное кратокое описание</span>
									<span class="link">Подробнее</span>
								</div>
							</a>
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/image_sl.png" alt="">
								</span>
								<div class="bottom">
									<div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
									<span class="body">Примерное кратокое описание</span>
									<span class="link">Подробнее</span>
								</div>
							</a>
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/image_sl.png" alt="">
								</span>
								<div class="bottom">
									<div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
									<span class="body">Примерное кратокое описание</span>
									<span class="link">Подробнее</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
include _footer.jade