include _header_gl.jade
<div class="fixed_btns">
    <a href="" class="wh_btn"></a>
    <div class="up_link"></div>
</div>
<div class="site_wrapper header_bg certificate_page">
    include _head.jade
    <div class="content_block_wr">
        <div class="header_wrapper">
            <div class="path_block">
                <div class="block_inner">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li> / Сертификаты и дипломы</li>
                    </ul>
                </div>
            </div>
            <div class="projects_main_block">
                <div class="block_inner">
                    <div class="left">
                        <h1><span>Сертификаты и дипломы</span></h1>
                        <div class="text">Деятельность компании  лицензирована на всей территории Российской Федерации и стран СНГ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project_page_tabs">
            <div class="block_inner">
                <div class="certificate_block">
                    <div class="title">Сертификаты</div>
                    <div class="inner">
                        <div class="swiper certificate_slider">
                            <div class="swiper_arrow">
                                <div class="swiper_arrow_btn swiper-button-prev"></div>
                                <div class="swiper_arrow_btn swiper-button-next"></div>
                            </div>
                            <div class="swiper-wrapper">
                                <a href="files/cert1.jpg" class="item swiper-slide">
                                    <img src="files/cert1.jpg" alt="">
                                </a>
                                <a href="files/cert2.jpg" class="item swiper-slide">
                                    <img src="files/cert2.jpg" alt="">
                                </a>
                                <a href="files/cert3.jpg" class="item swiper-slide">
                                    <img src="files/cert3.jpg" alt="">
                                </a>
                                <a href="files/cert1.jpg" class="item swiper-slide">
                                    <img src="files/cert1.jpg" alt="">
                                </a>
                                <a href="files/cert1.jpg" class="item swiper-slide">
                                    <img src="files/cert1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="certificate_block">
                    <div class="title">Дипломы</div>
                    <div class="text">Данная линия предназначена для производства рассыпных комбикормов. Исходное сырье располагается в сусеках. Дозирование осуществляется с напольного хранения, далее измельчается и подается вместе с добавками на участок смешивания. После смешивания готовый продукт распределяется по бункерам готовой продукции внутри производственного помещения и за его пределами. В случае необходимости возможно дозирование готового продукта. Линия оснащена автоматической системой управления.</div>
                    <div class="inner">
                        <div class="swiper certificate_slider">
                            <div class="swiper_arrow">
                                <div class="swiper_arrow_btn swiper-button-prev"></div>
                                <div class="swiper_arrow_btn swiper-button-next"></div>
                            </div>
                            <div class="swiper-wrapper">
                                <a href="files/cert4.jpg" class="item swiper-slide">
                                    <img src="files/cert4.jpg" alt="">
                                </a>
                                <a href="files/cert2.jpg" class="item swiper-slide">
                                    <img src="files/cert2.jpg" alt="">
                                </a>
                                <a href="files/cert3.jpg" class="item swiper-slide">
                                    <img src="files/cert3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    include _footer.jade