include _header_gl.jade
<div class="site_wrapper contact_page header_bg">
	include _head.jade
	<div class="content_block_wr">
		<div class="header_wrapper">			
			<div class="path_block">
				<div class="block_inner">
					<ul>
						<li><a href="">Главная</a></li>
						<li> / Контакты</li>
					</ul>
				</div>
			</div>
			<div class="contacts_top_block">
				<div class="block_inner">
					<h1>Контакты</h1>
					<div class="inner">
						<div class="phones">
							<div class="item">
								<div class="name">Отдел продаж (общий)</div>
								<div class="body">
									<a href="tel:8 (800) 302-05-53">8 (800) 302-05-53</a>
								</div>
							</div>
							<div class="item">
								<div class="name">Сервисный отдел:</div>
								<div class="body">
									<a href="tel:8 (800) 302-05-53">8 (800) 302-05-53</a>
								</div>
							</div>
							<div class="item">
								<div class="name">Отдел снабжения:</div>
								<div class="body">
									<a href="tel:+7 (383) 367-02-55">+7 (383) 367-02-55</a>
								</div>
							</div>
							<div class="item">
								<div class="name">Отдел бухгалтерии:</div>
								<div class="body">
									<a href="tel:+7 (383) 367-02-55">+7 (383) 367-02-55</a>
								</div>
							</div>
							<div class="item">
								<div class="name">Эл.почта:</div>
								<div class="body">
									<a href="mailto:info@mail.ru">info@mail.ru</a>
								</div>
							</div>
						</div>
						<div class="address">
							<div class="item">
								<div class="name">Адрес:</div>
								<div class="body">630056, г.Новосибирск, ул.Варшавская 1</div>
							</div>
							<div class="item">
								<div class="name">Разработка, производство и реализация:</div>
								<div class="body">ООО «НПП А-Инжиниринг»</div>
							</div>
							<div class="item">
								<div class="name">Реквизиты компании</div>
								<div class="body">ИНН 5403036256 / ОГРН 1175476113141</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="yMap_block_wr">
			<div class="block_inner">
				<div class="left">
					<div class="title">Описание филиала</div>
					<div class="text">
						<p><strong style="color: #fff;">29 и 30 июня в Алтайском крае пройдёт традиционный летний форум «День Сибирского поля-2022». Место его проведения, как и всегда, — Сибирский агропарк, расположенный на 37-м километре Павловского тракта.</strong></p>
						<p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
						<p>Выставка будет работать все дни форума с 9 до 17 часов в самом большом крытом павильоне Сибирского агропарка для всех желающих.</p>
					</div>
				</div>
				<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
				<div class="right">
					<div id="myMap" style="height: 614px;"></div>
				</div>
			</div>
		</div>	
		<div class="phone_main_block">
			<div class="block_inner">
				<div class="title">Телефон горячей линии</div>
				<div class="number">
					<a href="tel:88003020553">8 (800) 302-05-53</a>
				</div>
			</div>
		</div>													
	</div>
include _footer.jade