include _header.jade
	<div class="content_main_bg doctors_page">
		<div class="block_inner">
			<div class="path_block"><a href="/">Главная</a><span>></span><a href="/">Врачи</a><span>></span> Яцкевич Елена Евгеньевна</div>
			<h1>Яцкевич Елена Евгеньевна</h1>
			<div class="doctor_page_more">
				<div class="left_block">
					<img src="files/doctor.jpg" alt="">
				</div>
				<div class="right_block">
					<div class="btns">
						<div class="btn border">Записаться на прием</div>
						<div class="btn">Оставить отзыв</div>
					</div>
					<div class="params">
						<div class="param"><strong>Специальность:</strong> Главный врач</div>
						<div class="param"><strong>Ученая степень:</strong> Доктор медицинских наук, врач высшей категории</div>
						<div class="param"><strong>Принимает в клинике:</strong> Щелкунчик" м. Войковская / "Щелкунчик" г. Красногорск / "Щелкунчик" Мичуринский проспект, 29</div>
					</div>
					<div class="name">Образование</div>
					<div class="body">
						<div class="more_text_content">
							<p>Окончила Московский Государственный Медико-Стоматологический Университет им. Семашко, ординатуру и аспирантуру кафедры детской терапевтической стоматологии, где в 2000 г. защитила кандидатскую диссертацию «Повышение профилактики и лечения кариеса зубов у детей дошкольного возраста витаминно-минеральными комплексами».</p>
							<p>Более 10 лет работала ассистентом кафедры детской терапевтической стоматологии МГМСУ им. Семашко. Лечебно-профилактическую и консультативную работу проводила на базе поликлинического отделения Университета, где приобрела обширный практический опыт.</p>
							<p>Более 10 лет работала ассистентом кафедры детской терапевтической стоматологии МГМСУ им. Семашко. Лечебно-профилактическую и консультативную работу проводила на базе поликлинического отделения Университета, где приобрела обширный практический опыт.</p>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>			
	<div class="reviews_block">
		<div class="block_inner">
			<div class="title">Отзывы о враче</div>
			<div class="inner">
				<div class="reviews_slider">
					<div class="item">
						<div class="name">Ольга</div>
						<div class="text">Клиника " Щелкунчик" давно стала по-настоящему нашей семейной стоматологией. Приятная атмосфера и детский уголок с книгами и иллюстрациями, очень хорошо разряжают атмосферу, можно отвлечь ребенка. Приветливый персонал и квалифицированные дантисты у нас вызывают доверие. Теперь поход к стоматологу не столь трагичен для нашей малышни. Доктор и заговаривает им зубы и лечит одновременно))</div>
						<div class="item_bottom">
							<div class="date">15 мая 2022</div>
							<div class="doc">Врач: <a href=""><strong>Яцкевич Елена Евгеньевна</strong></a></div>
							<div class="address">г. Красногорск</div>
						</div>
					</div>
					<div class="item">
						<div class="name">Ольга</div>
						<div class="text">Клиника " Щелкунчик" давно стала по-настоящему нашей семейной стоматологией. Приятная атмосфера и детский уголок с книгами и иллюстрациями, очень хорошо разряжают атмосферу, можно отвлечь ребенка. Приветливый персонал и квалифицированные дантисты у нас вызывают доверие. Теперь поход к стоматологу не столь трагичен для нашей малышни. Доктор и заговаривает им зубы и лечит одновременно))</div>
						<div class="item_bottom">
							<div class="date">15 мая 2022</div>
							<div class="doc">Врач: <a href=""><strong>Яцкевич Елена Евгеньевна</strong></a></div>
							<div class="address">г. Красногорск</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>										
	<div class="form_green_block mobile_ad">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">Записаться на консультацию</div>
				<div class="text">Заполните форму и в ближайшее время с вами свяжется администратор для уточнения подробностей</div>
			</div>
			<div class="right_block">
				<form>
					<div class="left_form">
						<div class="col_2">
							<div class="field">
								<div class="name_field">Ваше имя*</div>
								<input type="text" required placeholder="Например, Олег...">
							</div>
							<div class="field">
								<div class="name_field">Мобильный телефон*</div>
								<input type="text" required placeholder="+7 (___) ___-__-__">
							</div>
						</div>
						<div class="field_text">Нажимая кнопку «Отправить», Вы даете согласие на обработку персональных данных</div>
					</div>
					<div class="right_form">
						<input type="submite" value="Отправить" class="btn">
						<div class="phone">
							<div class="name_phone">или позвоните нам</div>
							<a href="tel:+74992887115">+7 (499) 288-71-15</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>			
	<div class="contacts_map mobile_ad">
		<div class="block_inner">
			<div class="title">Наши клиники</div>
			<div class="inner">
				<div class="tab_map_block">
					<ul class="tab_map_title tabs-title">
						<li class="metro active"><span>Раменки</span></li>
						<li class="metro"><span>Войковская</span></li>
						<li><span>г. Красногорск</span></li>
					</ul>
					<div class="tab_map_body tabs-block">
						<div class="tab_main active">
							<div class="contacts">
								<div class="metro"><img src="img/metro_y.svg" alt=""> Раменки</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
							</div>
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="icon">
										<img src="img/metro.svg" alt="">
									</div>
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">Раменки</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
						<div class="tab_main">
							<div class="contacts">
								<div class="metro"><img src="img/metro_g.svg" alt=""> Войковская</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
							</div>
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="icon">
										<img src="img/metro.svg" alt="">
									</div>
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">Войковская</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
						<div class="tab_main">
							<div class="contacts">
								<div class="metro">г. Красногорск</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
							</div>
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="icon">
										<img src="img/metro.svg" alt="">
									</div>
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">г. Красногорск</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>				
	</div>																
include _footer.jade