include _header.jade
	<div class="content_main_bg doctors_page">
		<div class="block_inner">
			<div class="path_block"><a href="/">Главная</a><span>></span>Врачи</div>
			<h1>Врачи клиники Щелкунчик</h1>
		</div>
		<div class="fiter_block">
			<div class="block_inner">
				<div class="field">
					<div class="field_name">Клиника</div>
					<label class="select_f">
						<select name="" id="">
							<option value="">Выбрать из списка</option>
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</label>
				</div>
				<div class="field">
					<div class="field_name">Специальность</div>
					<label class="select_f">
						<select name="" id="" >
							<option value="">Выбрать из списка</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</label>
				</div>
				<div class="field">
					<div class="field_name">Врач ФИО</div>
					<label class="select_f">
						<select name="" id="">
							<option value="">Выбрать из списка</option>
							<option value="">Выбрать из списка</option>
							<option value="">Выбрать из списка</option>
							<option value="">Выбрать из списка</option>
							<option value="">Выбрать из списка</option>
						</select>
					</label>
				</div>
				<div class="field">
					<input type="submit" class="btn" value="Очистить фильтр">		
				</div>			
			</div>
		</div>
	</div>			
	<div class="list_personal">
		<div class="block_inner">
			<div class="block_inner_list">
				<div class="item">
					<div class="image">
						<a href="">
							<img src="files/per1.jpg" alt="">
							<div class="labels">
								<div class="blue">Доктор медицинских наук</div>
								<div class="green">Врач высшей категорий</div>
							</div>
						</a>
					</div>
					<div class="name"><a href="">Яцкевич Елена Евгеньевна</a></div>
					<div class="body">Главный врач</div>
				</div>
				<div class="item">
					<div class="image">
						<a href="">
							<img src="files/per2.jpg" alt="">
							<div class="labels">
								<div class="blue">Доктор медицинских наук</div>
								<div class="green">Врач высшей категорий</div>
							</div>
						</a>
					</div>
					<div class="name"><a href="">Селезнёв Дмитрий Александрович</a></div>
					<div class="body">Врач-ортодонт, член ассоциации ортодонтов России</div>
				</div>
				<div class="item">
					<div class="image">
						<a href="">
							<img src="files/per3.jpg" alt="">
							<div class="labels">
								<div class="red">Кандидат медицинских наук</div>
								<div class="green">Врач высшей категорий</div>
							</div>
						</a>
					</div>
					<div class="name"><a href="">Воронов Антон Сергеевич</a></div>
					<div class="body">Хирург, имплантолог</div>
				</div>
				<div class="item">
					<div class="image">
						<a href="">
							<img src="files/per4.jpg" alt="">
							<div class="labels">
								<div class="green">Врач высшей категорий</div>
							</div>
						</a>
					</div>
					<div class="name"><a href="">Первушина Лариса Александровна</a></div>
					<div class="body">Детский стоматолог</div>
				</div>
				<div class="item">
					<div class="image">
						<a href=""><img src="img/per_empty.jpg" alt=""></a>
					</div>
					<div class="name"><a href="">Тарасов Василий Витальевич</a></div>
					<div class="body">Детский психолог</div>
				</div>
				<div class="item">
					<div class="image">
						<a href=""><img src="img/per_empty.jpg" alt=""></a>
					</div>
					<div class="name"><a href="">Тарасов Василий Витальевич</a></div>
					<div class="body">Детский психолог</div>
				</div>
				<div class="item">
					<div class="image">
						<a href=""><img src="img/per_empty.jpg" alt=""></a>
					</div>
					<div class="name"><a href="">Тарасов Василий Витальевич</a></div>
					<div class="body">Детский психолог</div>
				</div>
				<div class="item">
					<div class="image">
						<a href=""><img src="img/per_empty.jpg" alt=""></a>
					</div>
					<div class="name"><a href="">Тарасов Василий Витальевич</a></div>
					<div class="body">Детский психолог</div>
				</div>
				<div class="item">
					<div class="image">
						<a href=""><img src="img/per_empty.jpg" alt=""></a>
					</div>
					<div class="name"><a href="">Тарасов Василий Витальевич</a></div>
					<div class="body">Детский психолог</div>
				</div>
				<div class="item">
					<div class="image">
						<a href=""><img src="img/per_empty.jpg" alt=""></a>
					</div>
					<div class="name"><a href="">Тарасов Василий Витальевич</a></div>
					<div class="body">Детский психолог</div>
				</div>
			</div>
			<div class="text_content">
				<p>Наша детская клиника – это особое место. Его уникальность отличается в той атмосфере, которая окружает пациентов во время пребывания в кабинете врача, максимум внимания, приятная музыка, игровая форма общения с детьми и специальный интерьер, которые превратят посещение стоматолога в радость.</p>
				<p>Доктора, которые работают у нас – это чудесные люди. Выбрав нелегкую стезю лечения детских зубов, они прилагают максимум усилий, чтобы стать друзьями ваших детей. Каждый детский врач-стоматолог, который работает у нас, имеет большой опыт работы и прекрасно ладит с детьми. Для каждого пациента у нас найдутся слова поддержки и одобрения, и каждому будет у нас комфортно.</p>
				<p>Безусловно, наши зубные врачи – профессионалы высокого уровня. Мы боролись за каждого из них и рады, что теперь эти люди работают у нас, и при записи в частную детскую стоматологию в Москве «Щелкунчик» вы можете быть уверены в качестве услуг. Позвоните и запишитесь на первый прием к врачу-стоматологу общей практики, если вы давно не были в зубной клинике. Запись к врачу осуществляется через сайт или по телефону.</p>
			</div>
		</div>
	</div>			
	<div class="form_green_block main_page_hide">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">Записаться на консультацию</div>
				<div class="text">Заполните форму и в ближайшее время с вами свяжется администратор для уточнения подробностей</div>
			</div>
			<div class="right_block">
				<form>
					<div class="left_form">
						<div class="col_2">
							<div class="field">
								<div class="name_field">Ваше имя*</div>
								<input type="text" required placeholder="Например, Олег...">
							</div>
							<div class="field">
								<div class="name_field">Мобильный телефон*</div>
								<input type="text" required placeholder="+7 (___) ___-__-__">
							</div>
						</div>
						<div class="field_text">Нажимая кнопку «Отправить», Вы даете согласие на обработку персональных данных</div>
					</div>
					<div class="right_form">
						<input type="submite" value="Отправить" class="btn">
						<div class="phone">
							<div class="name_phone">или позвоните нам</div>
							<a href="tel:+74992887115">+7 (499) 288-71-15</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>																		
include _footer.jade