include _header_gl.jade
<div class="fixed_btns">
    <a href="" class="wh_btn"></a>
    <div class="up_link"></div>
</div>
<div class="site_wrapper header_bg">
    include _head.jade
<div class="content_block_wr page_inner_wrapper">
    <div class="path_block">
        <div class="block_inner">
            <ul>
                <li><a href="">Главная</a></li>
                <li> / О компании</li>
                <li> / Пресс-центр</li>
                <li> / ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ» — 2022!</li>
            </ul>
        </div>
    </div>
    <div class="details_page">
        <div class="block_inner">
            <div class="details_page__left">
                <div class="details_page__left-back">
                    <a href="#" class="back-link">Вернуться</a>
                </div>
                <div class="details_page__left-title">Советы по кормлению от профессионалов</div>
                <div class="details_page__left-body">
                    <p><b>29 и 30 июня в Алтайском крае пройдёт традиционный летний форум «День Сибирского поля-2022». Место его проведения, как и всегда, — Сибирский агропарк, расположенный на 37-м километре Павловского тракта.</b></p>
                    <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                    <p style="font-size: 0;"><img src="img/info_detail.jpg" alt=""></p>
                    <p>Выставка будет работать все дни форума с 9 до 17 часов в самом большом крытом павильоне Сибирского агропарка для всех желающих.</p>
                    <ul class="list-ul">
                        <li>Выставка будет работать все дни форума</li>
                        <li>29-30 июня 2022</li>
                        <li>Алтайский край, п. Прутской, Сибирский агропарк, расположенный на 37 километре Павловского тракта</li>
                    </ul>
                    <p>Выставка будет работать все дни форума с 9 до 17 часов в самом большом крытом павильоне Сибирского агропарка для всех желающих.</p>
                </div>
            </div>
            <div class="details_page__right">
                <div class="details_page__right-title">Другая полезная информация</div>
                <div class="details_page__right-item">
                    <a href="#">ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ» Место его проведения, как и всегда, — Сибирский агропарк, расположенный на 37-м километре Павловского тракта.</a>
                </div>
                <div class="details_page__right-item">
                    <a href="#">29 и 30 июня в Алтайском крае пройдёт традиционный летний форум «День Сибирского поля-2022». Место его проведения, как и всегда, — Сибирский агропарк, расположенный на 37-м километре Павловского тракта.</a>
                </div>
                <div class="details_page__right-item">
                    <a href="#">ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ»</a>
                </div>
                <div class="details_page__right-item">
                    <a href="#">ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ» Место его проведения, как и всегда, — Сибирский агропарк, расположенный на 37-м километре Павловского тракта.</a>
                </div>
            </div>
        </div>
    </div>
</div>
include _footer.jade