include _header_gl.jade
<div class="fixed_btns">
    <a href="" class="wh_btn"></a>
    <div class="up_link"></div>
</div>
<div class="site_wrapper info_page">
    include _head.jade
    <div class="content_block_wr">
        <div class="header_wrapper">            
            <div class="path_block">
                <div class="block_inner">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li> / <a href="">О компании</a></li>
                        <li> / Полезная информация</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="info_list_wr">
            <div class="block_inner">
                <div class="title"><span>Полезная информация</span></div>
                <div class="text">Деятельность компании лицензирована на всей территории Российской Федерации и стран СНГ</div>
                <div class="filter_categor_wr">
                    <div class="filter_select_categor">
                        <div class="name">Категория оборудования</div>
                        <div class="btns_wrap">
                            <div class="field select">
                                <select name="" id="">
                                    <option>Выбрать год</option>
                                    <option>2010</option>
                                    <option>2011</option>
                                    <option>2012</option>
                                    <option>2013</option>
                                    <option>2014</option>
                                    <option>2015</option>
                                    <option>2016</option>
                                    <option>2017</option>
                                    <option>2018</option>
                                </select>
                            </div>
                            <div class="btn btn_orange_full">Показать</div>
                        </div>
                    </div>
                    <div class="hashtags">
                        <a href="#">#Тег оборудования</a>
                        <a href="#">#Еще тег</a>
                        <a href="#">#Тег оборудования еще</a>
                    </div>
                </div>
                <div class="inner">
                    <a href="" class="item">
                        <div class="name">Название блока с информацией</div>
                        <div class="bottom">
                            <span class="link">Подробнее</span>
                        </div>
                    </a>
                    <a href="" class="item">
                        <div class="name">Название блока с информацией</div>
                        <div class="bottom">
                            <span class="link">Подробнее</span>
                        </div>
                    </a>
                    <a href="" class="item">
                        <div class="name">Название блока с информацией</div>
                        <div class="bottom">
                            <span class="link">Подробнее</span>
                        </div>
                    </a>
                    <a href="" class="item">
                        <div class="name">Название блока с информацией</div>
                        <div class="bottom">
                            <span class="link">Подробнее</span>
                        </div>
                    </a>
                    <a href="" class="item">
                        <div class="name">Название блока с информацией</div>
                        <div class="bottom">
                            <span class="link">Подробнее</span>
                        </div>
                    </a>
                    <a href="" class="item">
                        <div class="name">Название блока с информацией</div>
                        <div class="bottom">
                            <span class="link">Подробнее</span>
                        </div>
                    </a>
                </div>
                <div class="bottom_btn">
                    <a href="" class="btn btn_more">Загрузить еще</a>
                </div>
            </div>
        </div>
    </div>
    include _footer.jade