include _header_gl.jade
<div class="fixed_btns">
    <a href="" class="wh_btn"></a>
    <div class="up_link"></div>
</div>
<div class="site_wrapper header_bg lizing_page h1_small_page">
    include _head.jade
    <div class="content_block_wr">
        <div class="header_wrapper">            
            <div class="path_block">
                <div class="block_inner">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li> / Лизинг</li>
                    </ul>
                </div>
            </div>
            <div class="projects_main_block">
                <div class="block_inner">
                    <div class="left">
                        <h1><span>Лизинг</span></h1>
                        <div class="body">
                            <p><strong>С нашей стороны менеджеры, конечно, помогают оформить документы в лизиниг, но какого строго алгоритма или одной лизинговой компании нет. Все индивидуально.</strong></p>
                            <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project_page_main">
            <div class="block_inner">
                <a href="" class="lizing_item">
                    <div class="image">
                        <img src="files/liz2.png" alt="">
                    </div>
                    <div class="text">
                        <div class="name">Балтийский лизинг</div>
                        <div class="body">Краткое описание лизинговой компании написано для наглядного примера в данном блоке.</div>
                        <div class="item_link">Сайт компании: <span>baltlease.ru</span></div>
                    </div>
                </a>
                <a href="" class="lizing_item">
                    <div class="image">
                        <img src="files/liz1.png" alt="">
                    </div>
                    <div class="text">
                        <div class="name">Балтийский лизинг</div>
                        <div class="body">Краткое описание лизинговой компании написано для наглядного примера в данном блоке.</div>
                        <div class="item_link">Сайт компании: <span>baltlease.ru</span></div>
                    </div>
                </a>
                <a href="" class="lizing_item">
                    <div class="image">
                        <img src="files/liz2.png" alt="">
                    </div>
                    <div class="text">
                        <div class="name">Балтийский лизинг</div>
                        <div class="body">Краткое описание лизинговой компании написано для наглядного примера в данном блоке.</div>
                        <div class="item_link">Сайт компании: <span>baltlease.ru</span></div>
                    </div>
                </a>
                <a href="" class="lizing_item">
                    <div class="image">
                        <img src="files/liz1.png" alt="">
                    </div>
                    <div class="text">
                        <div class="name">Балтийский лизинг</div>
                        <div class="body">Краткое описание лизинговой компании написано для наглядного примера в данном блоке.</div>
                        <div class="item_link">Сайт компании: <span>baltlease.ru</span></div>
                    </div>
                </a>
                <a href="" class="lizing_item">
                    <div class="image">
                        <img src="files/liz2.png" alt="">
                    </div>
                    <div class="text">
                        <div class="name">Балтийский лизинг</div>
                        <div class="body">Краткое описание лизинговой компании написано для наглядного примера в данном блоке.</div>
                        <div class="item_link">Сайт компании: <span>baltlease.ru</span></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    include _footer.jade