include _header_gl.jade
<div class="site_wrapper main_page">
	<div class="content_block_wr">
		include _head.jade
		<div class="slider_main_wrapper">
			<div class="bg_slider">
				<div class="swiper-slide item" style="background-image: url(files/top_slider.jpg);"></div>
			</div>
			<div class="slider_top_block">
				<div class="swiper slider_main">
					<div class="swiper-wrapper">
						<div class="swiper-slide item">
							<div class="block_inner">
								<div class="name"><span>ОБОРУДОВАНИЕ</span> <br>И КОМПЛЕКСНЫЕ <br>РЕШЕНИЯ </div>
								<div class="text">
									<div class="inner">Поставляем по России и в зарубежье  от одного экструдера или дробилки до комбикормовых заводов под ключ</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide item">
							<div class="block_inner">
								<div class="name"><span>test</span> <br>И КОМПЛЕКСНЫЕ <br>РЕШЕНИЯ </div>
								<div class="text">
									<div class="inner">Поставляем по России и в зарубежье  от одного экструдера или дробилки до комбикормовых заводов под ключ</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper_arrow">
						<div class="swiper_arrow_btn swiper-main-button-prev" data-prev="swiper-button-prev"></div>
						<div class="swiper_arrow_btn swiper-main-button-next" data-next="swiper-button-next"></div>
					</div>
				</div>
				<div class="title parallax__layer" id="scene2">
					<svg width="902"  data-depth="0.2" height="244" viewBox="0 0 902 244" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M278.227 45.432H250.871V5.21966H426.636V68.0607H384.266V46.432V45.432H383.266H334.039H333.039V46.432V202.962V203.962H334.039H355.087V238.777H260.993V203.962H278.227H279.227V202.962V46.432V45.432H278.227ZM89.2388 125.598L88.8701 126.875H90.1996H133.672H135.001L134.633 125.599L112.932 50.1688L111.972 46.8339L111.01 50.168L89.2388 125.598ZM210.145 203.962H222.872V238.777H136.959V203.962H153.016H154.252L153.994 202.754L146.089 165.663L145.921 164.871H145.111H78.7604H77.9495L77.782 165.665L69.947 202.756L69.6921 203.962H70.9254H86.9123V238.777H1V203.962H13.7295H14.4591L14.6818 203.268L78.1729 5.21966H145.769L209.193 203.267L209.416 203.962H210.145ZM481.438 45.432H454.081V5.21966H565.189C584.253 5.21966 599.353 7.70436 610.548 12.543C621.746 17.4789 630.191 23.5514 635.958 30.7941C641.761 38.1535 645.5 45.9703 647.2 54.4488L647.2 54.4502C648.923 62.9803 649.814 71.0094 649.814 78.4049C649.814 102.763 642.537 121.065 628.045 133.489L628.042 133.492C613.648 145.956 593.729 152.279 568.45 152.279H536.903H535.903V153.279V202.962V203.962H536.903H556.634V238.777H463.857V203.962H481.438H482.438V202.962V46.432V45.432H481.438ZM536.903 45.432H535.903V46.432V109.752V110.752H536.903H564.496C569.204 110.752 573.256 109.824 576.621 108.003L576.63 107.998C579.883 106.194 582.516 103.791 584.352 100.714C586.144 97.7114 587.429 94.4243 588.215 90.7259C588.996 87.1146 589.347 83.3055 589.347 79.3732C589.347 75.498 589.003 67.5122 588.214 63.9334C587.418 60.3273 585.899 57.1393 583.577 54.3155C581.3 51.4557 578.162 49.2892 574.228 47.7195L574.221 47.7166L574.214 47.7139C570.247 46.2016 565.125 45.432 558.951 45.432H536.903ZM786.01 243C748.015 243 719.731 227.879 700.999 205.238C682.249 182.572 673.027 152.312 673.315 122.01C673.604 91.707 683.401 61.4424 702.584 38.7709C721.749 16.1214 750.32 1 788.297 1C826.276 1 854.556 16.1205 873.29 38.7625C892.043 61.4279 901.274 91.6879 900.994 121.991C900.714 152.293 890.925 182.558 871.744 205.229C852.581 227.879 824.006 243 786.01 243ZM788.297 195.59C807.254 195.59 821.586 186.314 831.17 172.475C840.734 158.664 845.58 140.309 845.69 122.006C845.799 103.704 841.172 85.3433 831.659 71.5274C822.124 57.6798 807.68 48.4102 788.297 48.4102C768.915 48.4102 754.471 57.6798 744.936 71.5274C735.423 85.3433 730.796 103.704 730.905 122.006C731.015 140.309 735.861 158.664 745.425 172.475C755.009 186.314 769.341 195.59 788.297 195.59Z" fill="#110E0D" stroke="#C84014" stroke-width="2"/>
					</svg>
				</div>	
				<div class="human_slider_wr" id="scene">
					<div class="human_slider_in" data-depth="0.1">
						<div class="swiper human_slider">
							<div class="swiper-wrapper">
								<div class="swiper-slide item">
									<img src="files/man.png" alt="">
								</div>
								<div class="swiper-slide item">
									<img src="files/man2.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="subtitle" id="scene3">
					<svg width="530"  data-depth="0.3" height="45" viewBox="0 0 530 45" fill="none" xmlns="http://www.w3.org/2000/svg">
					<mask id="path-1-inside-1_1_167" fill="white">
					<path d="M521.933 11.6228H530V0H498.666V7.47236H503.23V37.5276H498.705V45H518.51V37.5276H513.049V7.47236H521.933V11.6228Z"/>
					<path d="M488.75 7.47236V0H470.21V7.47236H474.652V18.4324H458.312V7.47236H462.997V0H444.131V7.47236H448.491V37.5276H443.806V45H462.916V37.5276H458.312V25.3219H474.652V37.5276H470.127V45H488.709V37.5276H484.43V7.47236H488.75Z"/>
					<path d="M431.731 0H414.292V7.47236H418.977L402.557 25.7371V7.47236H406.143V0H388.051V7.47236H392.736V37.5276H388.01V45H406.917V37.5276H401.009L417.674 19.0133V37.5276H412.948V45H431.69V37.5276H427.493V7.47236H431.731V0Z"/>
					<path d="M364.236 45V37.5276H359.019V27.8133H365.294C367.577 27.8133 369.614 27.5238 371.407 26.9409C373.159 26.32 374.666 25.4476 375.93 24.2857C377.192 23.1219 378.13 21.6705 378.781 19.9676C379.433 18.2248 379.76 16.1905 379.76 13.8647C379.76 13.1181 379.719 12.3295 379.637 11.581C379.557 10.8343 379.433 10.0457 379.271 9.21523C379.149 8.42666 378.904 7.67999 378.577 6.93141C378.252 6.22665 377.803 5.47809 377.315 4.81524C376.825 4.15048 376.214 3.52761 375.44 2.94666C374.707 2.36571 373.851 1.86666 372.832 1.41142C371.854 0.954281 370.673 0.580951 369.328 0.373332C367.984 0.123808 366.436 0 364.682 0H344.717V7.47236H349.281V37.5276H344.717V45H364.236ZM359.019 7.47236H363.542C364.153 7.47236 364.724 7.51236 365.213 7.59617C365.742 7.67998 366.232 7.80379 366.64 7.96951C367.046 8.13522 367.453 8.38474 367.78 8.63427C368.106 8.88379 368.433 9.17333 368.676 9.50666C368.921 9.83809 369.124 10.1695 369.287 10.5428C369.45 10.9181 369.573 11.2914 369.654 11.7067C369.736 12.0381 369.777 12.4533 369.818 12.8267C369.857 13.2419 369.898 13.6571 369.898 14.0305C369.898 14.4457 369.857 14.819 369.818 15.2343C369.777 15.6495 369.736 16.0228 369.654 16.3981C369.573 16.8133 369.491 17.1867 369.328 17.56C369.207 17.9333 369.042 18.2647 368.838 18.5981C368.676 18.9714 368.433 19.261 368.147 19.5524C367.861 19.8438 367.535 20.0914 367.169 20.299C366.802 20.5067 366.395 20.6724 365.946 20.7981C365.539 20.88 365.051 20.9638 364.561 20.9638H359.019V7.47236Z"/>
					<path d="M334.762 0H317.323V7.47236H322.008L305.587 25.7371V7.47236H309.173V0H291.081V7.47236H295.766V37.5276H291.04V45H309.947V37.5276H304.078L320.705 19.0133V37.5276H315.976V45H334.721V37.5276H330.524V7.47236H334.762V0Z"/>
					<path d="M278.963 7.47236V0H260.422V7.47236H264.864V18.4324H248.483V7.47236H253.17V0H234.302V7.47236H238.703V37.5276H234.018V45H253.129V37.5276H248.483V25.3219H264.864V37.5276H260.34V45H278.922V37.5276H274.642V7.47236H278.963Z"/>
					<path d="M222.515 0H205.075V7.47236H209.76L193.34 25.7371V7.47236H196.926V0H178.834V7.47236H183.519V37.5276H178.793V45H197.7V37.5276H191.831L208.457 19.0133V37.5276H203.729V45H222.474V37.5276H218.276V7.47236H222.515V0Z"/>
					<path d="M122.53 20.7143L112.466 37.5276H106.639V45H118.74L133.37 20.7143L120.86 0H108.757V7.47236H114.543L122.53 20.7143ZM144.004 7.47236H149.383V0H128.642V7.47236H134.183C134.183 17.4762 134.183 27.5238 134.183 37.5276H128.602V45H149.465V37.5276H144.004C144.004 27.5238 144.004 17.4762 144.004 7.47236ZM144.819 20.7143L157.287 0H169.43V7.47236H163.603L155.657 20.7143L165.723 37.5276H171.548V45H159.407L144.819 20.7143Z"/>
					<path d="M98.5642 7.47236V0H80.0236V7.47236H84.4638V18.4324H68.1256V7.47236H72.7696V0H53.9449V7.47236H58.3047V37.5276H53.6196V45H72.7304V37.5276H68.1256V25.3219H84.4638V37.5276H79.9413V45H98.523V37.5276H94.2436V7.47236H98.5642Z"/>
					<path d="M43.7219 0H26.2825V7.47236H30.9265L14.5472 25.7371V7.47236H18.133V0H0.0411366V7.47236H4.72629V37.5276H0V45H18.907V37.5276H12.9992L29.6646 19.0133V37.5276H24.9383V45H43.6808V37.5276H39.4836V7.47236H43.7219V0Z"/>
					</mask>
					<path d="M521.933 11.6228H530V0H498.666V7.47236H503.23V37.5276H498.705V45H518.51V37.5276H513.049V7.47236H521.933V11.6228Z" fill="white"/>
					<path d="M488.75 7.47236V0H470.21V7.47236H474.652V18.4324H458.312V7.47236H462.997V0H444.131V7.47236H448.491V37.5276H443.806V45H462.916V37.5276H458.312V25.3219H474.652V37.5276H470.127V45H488.709V37.5276H484.43V7.47236H488.75Z" fill="white"/>
					<path d="M431.731 0H414.292V7.47236H418.977L402.557 25.7371V7.47236H406.143V0H388.051V7.47236H392.736V37.5276H388.01V45H406.917V37.5276H401.009L417.674 19.0133V37.5276H412.948V45H431.69V37.5276H427.493V7.47236H431.731V0Z" fill="white"/>
					<path d="M364.236 45V37.5276H359.019V27.8133H365.294C367.577 27.8133 369.614 27.5238 371.407 26.9409C373.159 26.32 374.666 25.4476 375.93 24.2857C377.192 23.1219 378.13 21.6705 378.781 19.9676C379.433 18.2248 379.76 16.1905 379.76 13.8647C379.76 13.1181 379.719 12.3295 379.637 11.581C379.557 10.8343 379.433 10.0457 379.271 9.21523C379.149 8.42666 378.904 7.67999 378.577 6.93141C378.252 6.22665 377.803 5.47809 377.315 4.81524C376.825 4.15048 376.214 3.52761 375.44 2.94666C374.707 2.36571 373.851 1.86666 372.832 1.41142C371.854 0.954281 370.673 0.580951 369.328 0.373332C367.984 0.123808 366.436 0 364.682 0H344.717V7.47236H349.281V37.5276H344.717V45H364.236ZM359.019 7.47236H363.542C364.153 7.47236 364.724 7.51236 365.213 7.59617C365.742 7.67998 366.232 7.80379 366.64 7.96951C367.046 8.13522 367.453 8.38474 367.78 8.63427C368.106 8.88379 368.433 9.17333 368.676 9.50666C368.921 9.83809 369.124 10.1695 369.287 10.5428C369.45 10.9181 369.573 11.2914 369.654 11.7067C369.736 12.0381 369.777 12.4533 369.818 12.8267C369.857 13.2419 369.898 13.6571 369.898 14.0305C369.898 14.4457 369.857 14.819 369.818 15.2343C369.777 15.6495 369.736 16.0228 369.654 16.3981C369.573 16.8133 369.491 17.1867 369.328 17.56C369.207 17.9333 369.042 18.2647 368.838 18.5981C368.676 18.9714 368.433 19.261 368.147 19.5524C367.861 19.8438 367.535 20.0914 367.169 20.299C366.802 20.5067 366.395 20.6724 365.946 20.7981C365.539 20.88 365.051 20.9638 364.561 20.9638H359.019V7.47236Z" fill="white"/>
					<path d="M334.762 0H317.323V7.47236H322.008L305.587 25.7371V7.47236H309.173V0H291.081V7.47236H295.766V37.5276H291.04V45H309.947V37.5276H304.078L320.705 19.0133V37.5276H315.976V45H334.721V37.5276H330.524V7.47236H334.762V0Z" fill="white"/>
					<path d="M278.963 7.47236V0H260.422V7.47236H264.864V18.4324H248.483V7.47236H253.17V0H234.302V7.47236H238.703V37.5276H234.018V45H253.129V37.5276H248.483V25.3219H264.864V37.5276H260.34V45H278.922V37.5276H274.642V7.47236H278.963Z" fill="white"/>
					<path d="M222.515 0H205.075V7.47236H209.76L193.34 25.7371V7.47236H196.926V0H178.834V7.47236H183.519V37.5276H178.793V45H197.7V37.5276H191.831L208.457 19.0133V37.5276H203.729V45H222.474V37.5276H218.276V7.47236H222.515V0Z" fill="white"/>
					<path d="M122.53 20.7143L112.466 37.5276H106.639V45H118.74L133.37 20.7143L120.86 0H108.757V7.47236H114.543L122.53 20.7143ZM144.004 7.47236H149.383V0H128.642V7.47236H134.183C134.183 17.4762 134.183 27.5238 134.183 37.5276H128.602V45H149.465V37.5276H144.004C144.004 27.5238 144.004 17.4762 144.004 7.47236ZM144.819 20.7143L157.287 0H169.43V7.47236H163.603L155.657 20.7143L165.723 37.5276H171.548V45H159.407L144.819 20.7143Z" fill="white"/>
					<path d="M98.5642 7.47236V0H80.0236V7.47236H84.4638V18.4324H68.1256V7.47236H72.7696V0H53.9449V7.47236H58.3047V37.5276H53.6196V45H72.7304V37.5276H68.1256V25.3219H84.4638V37.5276H79.9413V45H98.523V37.5276H94.2436V7.47236H98.5642Z" fill="white"/>
					<path d="M43.7219 0H26.2825V7.47236H30.9265L14.5472 25.7371V7.47236H18.133V0H0.0411366V7.47236H4.72629V37.5276H0V45H18.907V37.5276H12.9992L29.6646 19.0133V37.5276H24.9383V45H43.6808V37.5276H39.4836V7.47236H43.7219V0Z" fill="white"/>
					<path d="M521.933 11.6228H530V0H498.666V7.47236H503.23V37.5276H498.705V45H518.51V37.5276H513.049V7.47236H521.933V11.6228Z" stroke="white" stroke-width="2" mask="url(#path-1-inside-1_1_167)"/>
					<path d="M488.75 7.47236V0H470.21V7.47236H474.652V18.4324H458.312V7.47236H462.997V0H444.131V7.47236H448.491V37.5276H443.806V45H462.916V37.5276H458.312V25.3219H474.652V37.5276H470.127V45H488.709V37.5276H484.43V7.47236H488.75Z" stroke="white" stroke-width="2" mask="url(#path-1-inside-1_1_167)"/>
					<path d="M431.731 0H414.292V7.47236H418.977L402.557 25.7371V7.47236H406.143V0H388.051V7.47236H392.736V37.5276H388.01V45H406.917V37.5276H401.009L417.674 19.0133V37.5276H412.948V45H431.69V37.5276H427.493V7.47236H431.731V0Z" stroke="white" stroke-width="2" mask="url(#path-1-inside-1_1_167)"/>
					<path d="M364.236 45V37.5276H359.019V27.8133H365.294C367.577 27.8133 369.614 27.5238 371.407 26.9409C373.159 26.32 374.666 25.4476 375.93 24.2857C377.192 23.1219 378.13 21.6705 378.781 19.9676C379.433 18.2248 379.76 16.1905 379.76 13.8647C379.76 13.1181 379.719 12.3295 379.637 11.581C379.557 10.8343 379.433 10.0457 379.271 9.21523C379.149 8.42666 378.904 7.67999 378.577 6.93141C378.252 6.22665 377.803 5.47809 377.315 4.81524C376.825 4.15048 376.214 3.52761 375.44 2.94666C374.707 2.36571 373.851 1.86666 372.832 1.41142C371.854 0.954281 370.673 0.580951 369.328 0.373332C367.984 0.123808 366.436 0 364.682 0H344.717V7.47236H349.281V37.5276H344.717V45H364.236ZM359.019 7.47236H363.542C364.153 7.47236 364.724 7.51236 365.213 7.59617C365.742 7.67998 366.232 7.80379 366.64 7.96951C367.046 8.13522 367.453 8.38474 367.78 8.63427C368.106 8.88379 368.433 9.17333 368.676 9.50666C368.921 9.83809 369.124 10.1695 369.287 10.5428C369.45 10.9181 369.573 11.2914 369.654 11.7067C369.736 12.0381 369.777 12.4533 369.818 12.8267C369.857 13.2419 369.898 13.6571 369.898 14.0305C369.898 14.4457 369.857 14.819 369.818 15.2343C369.777 15.6495 369.736 16.0228 369.654 16.3981C369.573 16.8133 369.491 17.1867 369.328 17.56C369.207 17.9333 369.042 18.2647 368.838 18.5981C368.676 18.9714 368.433 19.261 368.147 19.5524C367.861 19.8438 367.535 20.0914 367.169 20.299C366.802 20.5067 366.395 20.6724 365.946 20.7981C365.539 20.88 365.051 20.9638 364.561 20.9638H359.019V7.47236Z" stroke="white" stroke-width="2" mask="url(#path-1-inside-1_1_167)"/>
					<path d="M334.762 0H317.323V7.47236H322.008L305.587 25.7371V7.47236H309.173V0H291.081V7.47236H295.766V37.5276H291.04V45H309.947V37.5276H304.078L320.705 19.0133V37.5276H315.976V45H334.721V37.5276H330.524V7.47236H334.762V0Z" stroke="white" stroke-width="2" mask="url(#path-1-inside-1_1_167)"/>
					<path d="M278.963 7.47236V0H260.422V7.47236H264.864V18.4324H248.483V7.47236H253.17V0H234.302V7.47236H238.703V37.5276H234.018V45H253.129V37.5276H248.483V25.3219H264.864V37.5276H260.34V45H278.922V37.5276H274.642V7.47236H278.963Z" stroke="white" stroke-width="2" mask="url(#path-1-inside-1_1_167)"/>
					<path d="M222.515 0H205.075V7.47236H209.76L193.34 25.7371V7.47236H196.926V0H178.834V7.47236H183.519V37.5276H178.793V45H197.7V37.5276H191.831L208.457 19.0133V37.5276H203.729V45H222.474V37.5276H218.276V7.47236H222.515V0Z" stroke="white" stroke-width="2" mask="url(#path-1-inside-1_1_167)"/>
					<path d="M122.53 20.7143L112.466 37.5276H106.639V45H118.74L133.37 20.7143L120.86 0H108.757V7.47236H114.543L122.53 20.7143ZM144.004 7.47236H149.383V0H128.642V7.47236H134.183C134.183 17.4762 134.183 27.5238 134.183 37.5276H128.602V45H149.465V37.5276H144.004C144.004 27.5238 144.004 17.4762 144.004 7.47236ZM144.819 20.7143L157.287 0H169.43V7.47236H163.603L155.657 20.7143L165.723 37.5276H171.548V45H159.407L144.819 20.7143Z" stroke="white" stroke-width="2" mask="url(#path-1-inside-1_1_167)"/>
					<path d="M98.5642 7.47236V0H80.0236V7.47236H84.4638V18.4324H68.1256V7.47236H72.7696V0H53.9449V7.47236H58.3047V37.5276H53.6196V45H72.7304V37.5276H68.1256V25.3219H84.4638V37.5276H79.9413V45H98.523V37.5276H94.2436V7.47236H98.5642Z" stroke="white" stroke-width="2" mask="url(#path-1-inside-1_1_167)"/>
					<path d="M43.7219 0H26.2825V7.47236H30.9265L14.5472 25.7371V7.47236H18.133V0H0.0411366V7.47236H4.72629V37.5276H0V45H18.907V37.5276H12.9992L29.6646 19.0133V37.5276H24.9383V45H43.6808V37.5276H39.4836V7.47236H43.7219V0Z" stroke="white" stroke-width="2" mask="url(#path-1-inside-1_1_167)"/>
					</svg>
				</div>		
			</div>
		</div>
		<div class="production_block">
			<div class="block_inner">
				<div class="title">Производство</div>
				<div class="production_inner">
					<div class="select_dropdown btn btn_select">Проектирование</div>
					<ul class="swiper-pagination_tab tabs-title"></ul>
					<div class="tabs-block">
						<div class="tabs-b">
							<div class="swiper mySwiper" data-id="mySwiper">
								<div class="swiper_arrow">
									<div class="swiper_arrow_btn swiper-button-prev" data-prev="swiper-button-prev"></div>
									<div class="swiper_arrow_btn swiper-button-next" data-next="swiper-button-next"></div>
								</div>
								<div class="swiper-wrapper">
									<div class="item swiper-slide">
										<div class="left">
											<img src="files/p_slid.jpg" alt="">
										</div>
										<div class="right">
											<div class="name slide-title">Проектирование</div>
											<div class="body">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
											<a href="" class="link">Подробнее</a>
										</div>
									</div>
									<div class="item swiper-slide">
										<div class="left">
											<img src="files/p_slid.jpg" alt="">
										</div>
										<div class="right">
											<div class="name slide-title">Изготовление</div>
											<div class="body">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
											<a href="" class="link">Подробнее</a>
										</div>
									</div>
									<div class="item swiper-slide">
										<div class="left">
											<img src="files/p_slid.jpg" alt="">
										</div>
										<div class="right">
											<div class="name slide-title">Доставка</div>
											<div class="body">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
											<a href="" class="link">Подробнее</a>
										</div>
									</div>
									<div class="item swiper-slide">
										<div class="left">
											<img src="files/p_slid.jpg" alt="">
										</div>
										<div class="right">
											<div class="name slide-title">Монтаж</div>
											<div class="body">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
											<a href="" class="link">Подробнее</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>						
				</div>
			</div>
		</div>
		<div class="factory_products">
			<div class="block_inner">
				<div class="block_top">
					<div class="left">
						<div class="title">Продукция завода</div>
						<div class="body">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
						<a href="#" class="link">Подробнее</a>
					</div>
					<div class="right">
						<div class="swiper factory_images">
							<div class="swiper_arrow">
								<div class="swiper_arrow_btn swiper-button-prev"></div>
								<div class="swiper_arrow_btn swiper-button-next"></div>
							</div>
							<div class="swiper-wrapper">
								<div class="item swiper-slide">
									<img src="files/f_slid.jpg" alt="">
								</div>
								<div class="item swiper-slide">
									<img src="files/f_slid.jpg" alt="">
								</div>
								<div class="item swiper-slide">
									<img src="files/f_slid.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="body">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
					<a href="#" class="link">Подробнее</a>
				</div>
			</div>
			<div class="block_bottom">
				<div class="block_inner">
					<div class="swiper slider_line">
						<div class="swiper-wrapper">
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/l_pic1.jpg" alt="">
								</span>
								<span class="name">Оборудование для производства комбикорма</span>
							</a>
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/l_pic2.jpg" alt="">
								</span>
								<span class="name">Оборудование для отжима масла</span>
							</a>
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/l_pic3.jpg" alt="">
								</span>
								<span class="name">Транспортное оборудование</span>
							</a>
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/l_pic3.jpg" alt="">
								</span>
								<span class="name">Оборудование для очистки зерна</span>
							</a>
							<a href="" class="item swiper-slide">
								<span class="image">
									<img src="files/l_pic3.jpg" alt="">
								</span>
								<span class="name">Прочее оборудование</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="map_block_wr" id="counter">
			<div class="block_inner">
				<div class="title">Компания в цифрах</div>
				<div class="numbers">
					<div class="firts_number">
						<div class="name">Дней на рынке</div>
						<div class="number">
							<span class="wow slideInUp" data-wow-delay=".2s" data-wow-duration="999ms">5</span>
							<span class="wow slideInUp" data-wow-delay=".5s" data-wow-duration="999ms">4</span>
							<span class="wow slideInUp" data-wow-delay=".8s" data-wow-duration="999ms">7</span>
							<span class="wow slideInUp" data-wow-delay="1.1s" data-wow-duration="999ms">5</span>
						</div>
					</div>
					<div class="item">
						<div class="name">Проектов</div>
						<div class="number">
							<span class="wow slideInUp" data-wow-delay=".2s" data-wow-duration="999ms">1</span>
							<span class="wow slideInUp" data-wow-delay=".5s" data-wow-duration="999ms">3</span>
							<span class="wow slideInUp" data-wow-delay=".8s" data-wow-duration="999ms">0</span>
							<span class="wow slideInUp" data-wow-delay="1.1s" data-wow-duration="999ms">0</span>
						</div>
					</div>
					<div class="item">
						<div class="name">Городов в снг и рф</div>
						<div class="number">
							<span class="wow slideInUp" data-wow-delay=".2s" data-wow-duration="999ms">3</span>
							<span class="wow slideInUp" data-wow-delay=".5s" data-wow-duration="999ms">5</span>
						</div>
					</div>
					<div class="item">
						<div class="name">Заказов в месяц</div>
						<div class="number">
							<span class="wow slideInUp" data-wow-delay=".2s" data-wow-duration="999ms">1</span>
							<span class="wow slideInUp" data-wow-delay=".5s" data-wow-duration="999ms">3</span>
						</div>
					</div>
				</div>
				<div class="map_image">
					<img src="files/map_image.png" alt="">
					<div class="name_map">Россия</div>
					<div class="point" style="top: 26%;left: 6%;">
						<div class="name_point">Беларусь</div>
						<div class="point_text">
							<p>
								<strong>Сибирский Федеральный Округ</strong>
							</p>
							<p>
								<a href="">Оборудование для производства комбикорма</a>
							</p>
							<p>
								<a href="">Оборудование для очистки зерна</a>
							</p>
							<p>Более 200 едениц оборудования в данном регионе</p>
						</div>
					</div>
					<div class="point" style="top: 28%;left: 18%;">
						<div class="point_text">
							<p>
								<strong>Сибирский Федеральный Округ</strong>
							</p>
							<p>
								<a href="">Оборудование для производства комбикорма</a>
							</p>
							<p>
								<a href="">Оборудование для очистки зерна</a>
							</p>
							<p>Более 200 едениц оборудования в данном регионе</p>
						</div>
					</div>
					<div class="point" style="top: 34%;left: 52%;">
						<div class="point_text">
							<p>
								<strong>Сибирский Федеральный Округ</strong>
							</p>
							<p>
								<a href="">Оборудование для производства комбикорма</a>
							</p>
							<p>
								<a href="">Оборудование для очистки зерна</a>
							</p>
							<p>Более 200 едениц оборудования в данном регионе</p>
						</div>
					</div>
					<div class="point" style="top: 32%;left: 70%;">
						<div class="point_text">
							<p>
								<strong>Сибирский Федеральный Округ</strong>
							</p>
							<p>
								<a href="">Оборудование для производства комбикорма</a>
							</p>
							<p>
								<a href="">Оборудование для очистки зерна</a>
							</p>
							<p>Более 200 едениц оборудования в данном регионе</p>
						</div>
					</div>
					<div class="point" style="top: 65%;left: 26%;">
						<div class="name_point">Казахстан</div>
						<div class="point_text">
							<p>
								<strong>Сибирский Федеральный Округ</strong>
							</p>
							<p>
								<a href="">Оборудование для производства комбикорма</a>
							</p>
							<p>
								<a href="">Оборудование для очистки зерна</a>
							</p>
							<p>Более 200 едениц оборудования в данном регионе</p>
						</div>
					</div>
					<div class="point" style="top: 63%;left: 67%;">
						<div class="point_text">
							<p>
								<strong>Сибирский Федеральный Округ</strong>
							</p>
							<p>
								<a href="">Оборудование для производства комбикорма</a>
							</p>
							<p>
								<a href="">Оборудование для очистки зерна</a>
							</p>
							<p>Более 200 едениц оборудования в данном регионе</p>
						</div>
					</div>
					<div class="point" style="top: 73%;left: 13%;">
						<div class="name_point">Туркмения</div>
						<div class="point_text">
							<p>
								<strong>Сибирский Федеральный Округ</strong>
							</p>
							<p>
								<a href="">Оборудование для производства комбикорма</a>
							</p>
							<p>
								<a href="">Оборудование для очистки зерна</a>
							</p>
							<p>Более 200 едениц оборудования в данном регионе</p>
						</div>
					</div>
					<div class="point" style="top: 76%;left: 19%;">
						<div class="name_point">Узбекистан</div>
						<div class="point_text">
							<p>
								<strong>Сибирский Федеральный Округ</strong>
							</p>
							<p>
								<a href="">Оборудование для производства комбикорма</a>
							</p>
							<p>
								<a href="">Оборудование для очистки зерна</a>
							</p>
							<p>Более 200 едениц оборудования в данном регионе</p>
						</div>
					</div>
					<div class="point" style="top: 85%;left: 23%;">
						<div class="name_point">Таджикистан</div>
						<div class="point_text">
							<p>
								<strong>Сибирский Федеральный Округ</strong>
							</p>
							<p>
								<a href="">Оборудование для производства комбикорма</a>
							</p>
							<p>
								<a href="">Оборудование для очистки зерна</a>
							</p>
							<p>Более 200 едениц оборудования в данном регионе</p>
						</div>
					</div>
					<div class="point" style="top: 81%;left: 28%;">
						<div class="name_point">Киргизия</div>
						<div class="point_text">
							<p>
								<strong>Сибирский Федеральный Округ</strong>
							</p>
							<p>
								<a href="">Оборудование для производства комбикорма</a>
							</p>
							<p>
								<a href="">Оборудование для очистки зерна</a>
							</p>
							<p>Более 200 едениц оборудования в данном регионе</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clients_block">
			<div class="block_inner">
				<div class="title">Наши клиенты</div>
				<a href="" class="link">Все клиенты</a>
			</div>
			<div class="inner">
				<div class="item">
					<img src="files/client1.png" alt="">
				</div>
				<div class="item">
					<img src="files/client2.png" alt="">
				</div>
				<div class="item">
					<img src="files/client3.png" alt="">
				</div>
				<div class="item">
					<img src="files/client4.png" alt="">
				</div>
				<div class="item">
					<img src="files/client5.png" alt="">
				</div>
				<div class="item">
					<img src="files/client1.png" alt="">
				</div>
			</div>
		</div>
		<div class="news_block_wr">
			<div class="block_inner">
				<div class="title">Пресс-центр</div>
				<div class="news_inner">
					<ul class="tabs-title">
						<li class="btn btn_black active"><span>Новости</span></li>
						<li class="btn btn_black"><span>Мероприятия</span></li>
					</ul>
					<div class="tabs-block">
						<div class="tabs-b active">
							<div class="swiper_arrow">
								<div class="swiper_arrow_btn prev"></div>
								<div class="swiper_arrow_btn next"></div>
							</div>
							<div class="slider_wr">
								<div class="swiper_arrow_btn swiper-button-prev" data-prev="swiper-button-prev"></div>
								<div class="swiper_arrow_btn swiper-button-next" data-next="swiper-button-next"></div>
								<div class="swiper news_slider"  data-id="news_slider">
									<div class="swiper-wrapper">
										<a href="" class="item swiper-slide" style="background-image: url(files/new1.jpg);">
											<div class="name">Первая новость компании</div>
											<div class="bottom">
												<div class="mounth_year">cен <br>2022</div>
												<div class="day">22</div>
											</div>
										</a>
										<a href="" class="item swiper-slide" style="background-image: url(files/new1.jpg);">
											<div class="name">Первая новость компании</div>
											<div class="bottom">
												<div class="mounth_year">cен <br>2022</div>
												<div class="day">22</div>
											</div>
										</a>
										<a href="" class="item swiper-slide" style="background-image: url(files/new1.jpg);">
											<div class="name">Первая новость компании</div>
											<div class="bottom">
												<div class="mounth_year">cен <br>2022</div>
												<div class="day">22</div>
											</div>
										</a>
										<a href="" class="item swiper-slide" style="background-image: url(files/new1.jpg);">
											<div class="name">Первая новость компании</div>
											<div class="bottom">
												<div class="mounth_year">cен <br>2022</div>
												<div class="day">22</div>
											</div>
										</a>
										<a href="" class="item swiper-slide" style="background-image: url(files/new1.jpg);">
											<div class="name">Первая новость компании</div>
											<div class="bottom">
												<div class="mounth_year">cен <br>2022</div>
												<div class="day">22</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="tabs-b">
							<div class="swiper_arrow">
								<div class="swiper_arrow_btn prev"></div>
								<div class="swiper_arrow_btn next"></div>
							</div>
							<div class="slider_wr">
								<div class="swiper_arrow_btn swiper-button-prev" data-prev="swiper-button-prev"></div>
								<div class="swiper_arrow_btn swiper-button-next" data-next="swiper-button-next"></div>
								<div class="swiper news_slider" data-id="news_slider">
									<div class="swiper-wrapper">
										<a href="" class="item swiper-slide" style="background-image: url(files/new1.jpg);">
											<div class="name">Первая новость компании</div>
											<div class="bottom">
												<div class="mounth_year">cен <br>2022</div>
												<div class="day">22</div>
											</div>
										</a>
										<a href="" class="item swiper-slide" style="background-image: url(files/new1.jpg);">
											<div class="name">Первая новость компании</div>
											<div class="bottom">
												<div class="mounth_year">cен <br>2022</div>
												<div class="day">22</div>
											</div>
										</a>
										<a href="" class="item swiper-slide" style="background-image: url(files/new1.jpg);">
											<div class="name">Первая новость компании</div>
											<div class="bottom">
												<div class="mounth_year">cен <br>2022</div>
												<div class="day">22</div>
											</div>
										</a>
										<a href="" class="item swiper-slide" style="background-image: url(files/new1.jpg);">
											<div class="name">Первая новость компании</div>
											<div class="bottom">
												<div class="mounth_year">cен <br>2022</div>
												<div class="day">22</div>
											</div>
										</a>
										<a href="" class="item swiper-slide" style="background-image: url(files/new1.jpg);">
											<div class="name">Первая новость компании</div>
											<div class="bottom">
												<div class="mounth_year">cен <br>2022</div>
												<div class="day">22</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>						
				</div>
			</div>
			<div class="link_block">
				<div class="block_inner">
					<a href="" class="link">Перейти в пресс-центр</a>
				</div>
			</div>
		</div>
	</div>
include _footer.jade