include _header.jade
<div class="fixed_btns">
    <a href="" class="wh_btn"></a>
    <div class="up_link"></div>
</div>
<div class="content_block_wr">
    <div class="path_block">
        <div class="block_inner">
            <ul>
                <li><a href="">Главная</a></li>
                <li> / О компании</li>
                <li> / Пресс-центр</li>
                <li> / ПРИГЛАШАЕМ ВАС 29 ИЮНЯ НА «ДЕНЬ СИБИРСКОГО ПОЛЯ — 2022»</li>
            </ul>
        </div>
    </div>
    <div class="details_page">
        <div class="block_inner">
            <div class="details_page__left">
                <div class="details_page__left-date">27. 07. 2022</div>
                <div class="details_page__left-title">ПРИГЛАШАЕМ ВАС 29 ИЮНЯ НА «ДЕНЬ СИБИРСКОГО ПОЛЯ — 2022»</div>
                <div class="details_page__left-body">
                    <p><b>29 и 30 июня в Алтайском крае пройдёт традиционный летний форум «День Сибирского поля-2022». Место его проведения, как и всегда, — Сибирский агропарк, расположенный на 37-м километре Павловского тракта.</b></p>
                    <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                    <p style="font-size: 0;"><img src="img/news_detail.jpg" alt=""></p>
                    <p>Выставка будет работать все дни форума с 9 до 17 часов в самом большом крытом павильоне Сибирского агропарка для всех желающих.</p>
                    <p>
                        <b>Дата - </b>
                        <span>29-30 июня 2022</span>
                    </p>
                    <p>
                        <b>Место - </b>
                        <span>Алтайский край, п. Прутской, Сибирский агропарк, <br> расположенный на 37 километре Павловского тракта</span>
                    </p>
                    <p>
                        <b>Сайт выставки - </b>
                        <a href="#" style="text-decoration: none;">www.sibagropark.ru</a>
                    </p>
                    <p>
                        <b>Приглашаем вас - </b>
                        <span>наш стенд 374</span>
                    </p>
                </div>
            </div>
            <div class="details_page__right">
                <div class="details_page__right-title">Другие новости</div>
                <div class="details_page__right-item">
                    <div class="title">ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ» — 2022!</div>
                    <div class="date">12.05.2022</div>
                </div>
                <div class="details_page__right-item">
                    <div class="title">ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ» — 2022!Место его проведения, как и всегда, — Сибирский агропарк, расположенный на 37-м километре Павловского тракта.</div>
                    <div class="date">12.05.2022</div>
                </div>
                <div class="details_page__right-item">
                    <div class="title">29 и 30 июня в Алтайском крае пройдёт традиционный летний форум «День Сибирского поля-2022». Место его проведения, как и всегда, — Сибирский агропарк, расположенный на 37-м километре Павловского тракта.</div>
                    <div class="date">12.05.2022</div>
                </div>
                <div class="details_page__right-item">
                    <div class="title">ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ» — 2022!</div>
                    <div class="date">12.05.2022</div>
                </div>
                <div class="details_page__right-item">
                    <div class="title">ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ» — 2022!</div>
                    <div class="date">12.05.2022</div>
                </div>
                <div class="details_page__right-item">
                    <div class="title">ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ» — 2022! Место его проведения, как и всегда, — Сибирский агропарк, расположенный на 37-м километре Павловского тракта.</div>
                    <div class="date">12.05.2022</div>
                </div>
                <div class="details_page__right-item">
                    <div class="title">ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ» — 2022!</div>
                    <div class="date">12.05.2022</div>
                </div>
                <a class="details_page__right-link link">Читать все новости</a>
            </div>
        </div>
    </div>
</div>
include _footer.jade