include _header_promo.jade
<div class="content_block_wr page_inner_wrapper">
    <div class="production_header" style="background-image: url(files/bg_pro.jpg);">
        <div class="block_inner">
            <div class="title">Производство</div>
            <div class="text">Поставляем по России и в зарубежье от одного экструдера или дробилки до комбикормовых заводов под ключ</div>
            <div class="list">
                <div class="item">
                    <div class="number">1300</div>
                    <span>Проектов</span>
                </div>
                <div class="item">
                    <div class="number">243</div>
                    <span>сотрудника</span>
                </div>
            </div>
            <div class="down_btn_arrow button_down"></div>
        </div>
    </div>
    <div class="details_page production_page">
        <div class="block_inner">
            <div class="page_left_menu">
                <div class="title">Этапы производства</div>
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 20H12V16L24 4L28 8L16 20Z" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M21 7L25 11" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M27 15V26C27 26.2652 26.8946 26.5196 26.7071 26.7071C26.5196 26.8946 26.2652 27 26 27H6C5.73478 27 5.48043 26.8946 5.29289 26.7071C5.10536 26.5196 5 26.2652 5 26V6C5 5.73478 5.10536 5.48043 5.29289 5.29289C5.48043 5.10536 5.73478 5 6 5H17" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <span class="name">Проектирование</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 22H13.5" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M18.5 22H22" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M27 27V17H21L13 11V17L5 11V27" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2 26.9978H30" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M27.0018 17L25.1244 3.85858C25.0904 3.62028 24.9715 3.40226 24.7897 3.24455C24.6078 3.08683 24.3752 3 24.1345 3H21.8691C21.6283 3 21.3957 3.08683 21.2139 3.24455C21.032 3.40226 20.9132 3.62028 20.8791 3.85858L19.1953 15.6452" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <span class="name">Изготовление</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30 15H22V10H27.323C27.5228 10 27.7181 10.0599 27.8836 10.1719C28.0491 10.284 28.1772 10.443 28.2514 10.6286L30 15Z" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2 18H22" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M23.5 27C25.1569 27 26.5 25.6569 26.5 24C26.5 22.3431 25.1569 21 23.5 21C21.8431 21 20.5 22.3431 20.5 24C20.5 25.6569 21.8431 27 23.5 27Z" stroke="#110E0D" stroke-width="2" stroke-miterlimit="10" />
                                    <path d="M8.5 27C10.1569 27 11.5 25.6569 11.5 24C11.5 22.3431 10.1569 21 8.5 21C6.84315 21 5.5 22.3431 5.5 24C5.5 25.6569 6.84315 27 8.5 27Z" stroke="#110E0D" stroke-width="2" stroke-miterlimit="10" />
                                    <path d="M20.5 24H11.5" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M5.5 24H3C2.73478 24 2.48043 23.8946 2.29289 23.7071C2.10536 23.5196 2 23.2652 2 23V9C2 8.73478 2.10536 8.48043 2.29289 8.29289C2.48043 8.10536 2.73478 8 3 8H22V21.4019" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M22 21.4019V15H30V23C30 23.2652 29.8946 23.5196 29.7071 23.7071C29.5196 23.8946 29.2652 24 29 24H26.5" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <span class="name">Доставка</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 22C19.3137 22 22 19.3137 22 16C22 12.6863 19.3137 10 16 10C12.6863 10 10 12.6863 10 16C10 19.3137 12.6863 22 16 22Z" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M22.9575 8.13582C23.2777 8.41936 23.5805 8.72209 23.864 9.04233L27.2793 9.53003C27.8332 10.4945 28.2602 11.5264 28.5498 12.6001L26.4805 15.3591C26.4805 15.3591 26.5065 16.214 26.4805 16.6409L28.5507 19.4008C28.2603 20.4744 27.8326 21.506 27.2781 22.47L23.864 22.9577C23.864 22.9577 23.2779 23.5806 22.9577 23.8641L22.47 27.2794C21.5056 27.8333 20.4737 28.2603 19.3999 28.5499L16.6411 26.4807C16.2141 26.5066 15.786 26.5066 15.3591 26.4807L12.5992 28.5508C11.5257 28.2605 10.4941 27.8328 9.53 27.2783L9.0424 23.8643C8.72216 23.5808 8.41942 23.278 8.13588 22.9578L4.72058 22.4701C4.16674 21.5057 3.73972 20.4738 3.45012 19.4L5.51943 16.641C5.51943 16.641 5.4934 15.7861 5.51934 15.3592L3.44922 12.5994C3.73954 11.5258 4.16726 10.4942 4.72176 9.53012L8.1357 9.04252C8.41924 8.72227 8.72197 8.41954 9.04221 8.136L9.5299 4.7207C10.4943 4.16686 11.5262 3.73984 12.6 3.45024L15.3588 5.51947C15.7858 5.49352 16.2139 5.49352 16.6408 5.51947L19.4007 3.44934C20.4742 3.73967 21.5058 4.16738 22.4699 4.72188L22.9575 8.13582Z" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <span class="name">Монтаж</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="details_page__left">
                <div class="path_block">
                    <div class="block_inner">
                        <ul>
                            <li><a href="">Главная</a></li>
                            <li> / Производство</li>
                        </ul>
                    </div>
                </div>
                <h1>Проектирование</h1>
                <p><strong>Данная линия предназначена для производства рассыпных комбикормов. Исходное сырье располагается в сусеках. Дозирование осуществляется с напольного хранения, далее измельчается и подается вместе с добавками на участок смешивания. После смешивания готовый продукт распределяется по бункерам готовой продукции внутри производственного помещения и за его пределами. В случае необходимости возможно дозирование готового продукта. Линия оснащена автоматической системой управления.</strong></p>
                <p>Данная линия предназначена для производства рассыпных комбикормов. Исходное сырье располагается в сусеках. Дозирование осуществляется с напольного хранения, далее измельчается и подается вместе с добавками на участок смешивания. После смешивания готовый продукт распределяется по бункерам готовой продукции внутри производственного помещения и за его пределами. В случае необходимости возможно дозирование готового продукта. Линия оснащена автоматической системой управления.</p>
                <p>
                    <img src="files/pro_image.jpg" alt="">
                </p>
                <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, <a href="">или попробовать себя в кондитерской росписи</a>, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                <h2>Доставка</h2>
                <div class="icons_block">
                    <div class="item">
                        <div class="ic">
                            <img src="files/pro_icon1.svg" alt="">
                        </div>
                        <div class="name">Доставка авиатранспортом</div>
                    </div>
                    <div class="item">
                        <div class="ic">
                            <img src="files/pro_icon2.svg" alt="">
                        </div>
                        <div class="name">Доставка железнодорожным транспортом</div>
                    </div>
                    <div class="item">
                        <div class="ic">
                            <img src="files/pro_icon3.svg" alt="">
                        </div>
                        <div class="name">Автомобильным транспортом</div>
                    </div>
                </div>
                <p>
                    <strong>Данная линия предназначена для производства рассыпных комбикормов. Исходное сырье располагается в сусеках. Дозирование осуществляется с напольного хранения, далее измельчается и подается вместе с добавками на участок смешивания. После смешивания готовый продукт распределяется по бункерам готовой продукции внутри производственного помещения и за его пределами. В случае необходимости возможно дозирование готового продукта. Линия оснащена автоматической системой управления.</strong>
                </p>
                <h3>Этапы реализации</h3>
                <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, <a href="">или попробовать себя в кондитерской росписи</a>, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                <p>
                    <img src="files/pro_image2.jpg" alt="">
                </p>
                <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                <h3 style="color: #C84014;">Доступность</h3>
                <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                <p>
                    <img src="files/map_pic.png" alt="">
                </p>
                <h2>Изготовление</h2>
                <p><strong>Данная линия предназначена для производства рассыпных комбикормов. Исходное сырье располагается в сусеках. Дозирование осуществляется с напольного хранения, далее измельчается и подается вместе с добавками на участок смешивания. После смешивания готовый продукт распределяется по бункерам готовой продукции внутри производственного помещения и за его пределами. В случае необходимости возможно дозирование готового продукта. Линия оснащена автоматической системой управления.</strong></p>
                <p>Данная линия предназначена для производства рассыпных комбикормов. Исходное сырье располагается в сусеках. Дозирование осуществляется с напольного хранения, далее измельчается и подается вместе с добавками на участок смешивания. После смешивания готовый продукт распределяется по бункерам готовой продукции внутри производственного помещения и за его пределами. В случае необходимости возможно дозирование готового продукта. Линия оснащена автоматической системой управления.</p>
                <p>
                    <img src="files/pro_image3.jpg" alt="">
                </p>
                <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, <a href="">или попробовать себя в кондитерской росписи</a>, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                <p>
                    <img src="files/pro_image4.jpg" alt="">
                    <img src="files/pro_image5.jpg" alt="">
                </p>
                <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                <h2>Монтаж</h2>
                <p style="color: #C84014;"><strong>Данная линия предназначена для производства рассыпных комбикормов. Исходное сырье располагается в сусеках. Дозирование осуществляется с напольного хранения, далее измельчается и подается вместе с добавками на участок смешивания. После смешивания готовый продукт распределяется по бункерам готовой продукции внутри производственного помещения и за его пределами. В случае необходимости возможно дозирование готового продукта. Линия оснащена автоматической системой управления.</strong></p>
                <p>Данная линия предназначена для производства рассыпных комбикормов. Исходное сырье располагается в сусеках. Дозирование осуществляется с напольного хранения, далее измельчается и подается вместе с добавками на участок смешивания. После смешивания готовый продукт распределяется по бункерам готовой продукции внутри производственного помещения и за его пределами. В случае необходимости возможно дозирование готового продукта. Линия оснащена автоматической системой управления.</p>
                <p>
                    <img src="files/pro_image6.jpg" alt="">
                </p>
                <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, <a href="">или попробовать себя в кондитерской росписи</a>, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
            </div>
            <div class="details_page__right">
                <div class="page_left_menu">
                    <div class="title">Этапы производства</div>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 20H12V16L24 4L28 8L16 20Z" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M21 7L25 11" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M27 15V26C27 26.2652 26.8946 26.5196 26.7071 26.7071C26.5196 26.8946 26.2652 27 26 27H6C5.73478 27 5.48043 26.8946 5.29289 26.7071C5.10536 26.5196 5 26.2652 5 26V6C5 5.73478 5.10536 5.48043 5.29289 5.29289C5.48043 5.10536 5.73478 5 6 5H17" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                                <span class="name">Проектирование</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 22H13.5" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M18.5 22H22" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M27 27V17H21L13 11V17L5 11V27" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M2 26.9978H30" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M27.0018 17L25.1244 3.85858C25.0904 3.62028 24.9715 3.40226 24.7897 3.24455C24.6078 3.08683 24.3752 3 24.1345 3H21.8691C21.6283 3 21.3957 3.08683 21.2139 3.24455C21.032 3.40226 20.9132 3.62028 20.8791 3.85858L19.1953 15.6452" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                                <span class="name">Изготовление</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M30 15H22V10H27.323C27.5228 10 27.7181 10.0599 27.8836 10.1719C28.0491 10.284 28.1772 10.443 28.2514 10.6286L30 15Z" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M2 18H22" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M23.5 27C25.1569 27 26.5 25.6569 26.5 24C26.5 22.3431 25.1569 21 23.5 21C21.8431 21 20.5 22.3431 20.5 24C20.5 25.6569 21.8431 27 23.5 27Z" stroke="#110E0D" stroke-width="2" stroke-miterlimit="10" />
                                        <path d="M8.5 27C10.1569 27 11.5 25.6569 11.5 24C11.5 22.3431 10.1569 21 8.5 21C6.84315 21 5.5 22.3431 5.5 24C5.5 25.6569 6.84315 27 8.5 27Z" stroke="#110E0D" stroke-width="2" stroke-miterlimit="10" />
                                        <path d="M20.5 24H11.5" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M5.5 24H3C2.73478 24 2.48043 23.8946 2.29289 23.7071C2.10536 23.5196 2 23.2652 2 23V9C2 8.73478 2.10536 8.48043 2.29289 8.29289C2.48043 8.10536 2.73478 8 3 8H22V21.4019" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M22 21.4019V15H30V23C30 23.2652 29.8946 23.5196 29.7071 23.7071C29.5196 23.8946 29.2652 24 29 24H26.5" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                                <span class="name">Доставка</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 22C19.3137 22 22 19.3137 22 16C22 12.6863 19.3137 10 16 10C12.6863 10 10 12.6863 10 16C10 19.3137 12.6863 22 16 22Z" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M22.9575 8.13582C23.2777 8.41936 23.5805 8.72209 23.864 9.04233L27.2793 9.53003C27.8332 10.4945 28.2602 11.5264 28.5498 12.6001L26.4805 15.3591C26.4805 15.3591 26.5065 16.214 26.4805 16.6409L28.5507 19.4008C28.2603 20.4744 27.8326 21.506 27.2781 22.47L23.864 22.9577C23.864 22.9577 23.2779 23.5806 22.9577 23.8641L22.47 27.2794C21.5056 27.8333 20.4737 28.2603 19.3999 28.5499L16.6411 26.4807C16.2141 26.5066 15.786 26.5066 15.3591 26.4807L12.5992 28.5508C11.5257 28.2605 10.4941 27.8328 9.53 27.2783L9.0424 23.8643C8.72216 23.5808 8.41942 23.278 8.13588 22.9578L4.72058 22.4701C4.16674 21.5057 3.73972 20.4738 3.45012 19.4L5.51943 16.641C5.51943 16.641 5.4934 15.7861 5.51934 15.3592L3.44922 12.5994C3.73954 11.5258 4.16726 10.4942 4.72176 9.53012L8.1357 9.04252C8.41924 8.72227 8.72197 8.41954 9.04221 8.136L9.5299 4.7207C10.4943 4.16686 11.5262 3.73984 12.6 3.45024L15.3588 5.51947C15.7858 5.49352 16.2139 5.49352 16.6408 5.51947L19.4007 3.44934C20.4742 3.73967 21.5058 4.16738 22.4699 4.72188L22.9575 8.13582Z" stroke="#110E0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                                <span class="name">Монтаж</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="info_block">
                    <div class="title">Полезная информация</div>
                    <div class="item">
                        <a href="">ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ» Место его проведения, как и всегда, — Сибирский агропарк, расположенный на 37-м километре Павловского тракта.</a>
                    </div>
                    <div class="item">
                        <a href="">29 и 30 июня в Алтайском крае пройдёт традиционный летний форум «День Сибирского поля-2022». Место его проведения, как и всегда, — Сибирский агропарк, расположенный на 37-м километре Павловского тракта.</a>
                    </div>
                    <div class="item">
                        <a href="">ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ»</a>
                    </div>
                    <div class="item">
                        <a href="">ЗЕРНО-КОМБИКОРМА-ВЕТЕРИНАРИЯ» Место его проведения, как и всегда, — Сибирский агропарк, расположенный на 37-м километре Павловского тракта.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
include _footer.jade