include _header_gl.jade
<div class="fixed_btns">
    <a href="" class="wh_btn"></a>
    <div class="up_link"></div>
</div>
<div class="site_wrapper header_bg">
    <div class="content_block_wr">
        <div class="header_wrapper">
            include _head.jade
            <div class="path_block">
                <div class="block_inner">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li> / Каталог</li>
                    </ul>
                </div>
            </div>
            <div class="projects_main_block">
                <div class="block_inner">
                    <div class="left">
                        <h1><span>Реализованные</span>проекты</h1>
                        <div class="text">Поставляем по России и в зарубежье от одного экструдера или дробилки до комбикормовых заводов под ключ</div>
                        <div class="down_btn_arrow button_down"></div>
                    </div>
                    <div class="right">
                        <span><img src="img/cat_pic_filter.png" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="project_page_tabs first_block_scroll">
            <div class="block_inner">
                <div class="mob_title">Направление</div>
                <div class="project_page_tabs_inner">
                    <div class="select_dropdown btn btn_select">Животноводство</div>
                    <ul class="tabs-title">
                        <li class="btn btn_black active"><span>Животноводство</span></li>
                        <li class="btn btn_black"><span>Растениеводство</span></li>
                        <li class="btn btn_black"><span>Переработка</span></li>
                        <li class="btn btn_black"><span>Другое</span></li>
                        <li class="btn btn_black more">Все проекты</li>
                    </ul>
                    <div class="tabs-block">
                        <div class="tabs-b active">
                            <div class="project_page_tabs__items-wrap">
                                <a class="project_page_tabs__item">
                                    <span class="image"><img src="img/catalog1.jpg" alt=""></span>
                                    <span class="bottom">
                                        <span class="name">Минизавод по переработке зерна и производсту комбикорма</span>
                                        <span class="link">Подробнее</span>
                                    </span>
                                </a>
                                <a class="project_page_tabs__item">
                                    <span class="image"><img src="img/catalog2.jpg" alt=""></span>
                                    <span class="bottom">
                                        <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                        <span class="link">Подробнее</span>
                                    </span>
                                </a>
                                <a class="project_page_tabs__item">
                                    <span class="image"><img src="img/catalog3.jpg" alt=""></span>
                                    <span class="bottom">
                                        <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                        <span class="link">Подробнее</span>
                                    </span>
                                </a>
                                <a class="project_page_tabs__item">
                                    <span class="image"><img src="img/catalog4.jpg" alt=""></span>
                                    <span class="bottom">
                                        <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                        <span class="link">Подробнее</span>
                                    </span>
                                </a>
                                <a class="project_page_tabs__item">
                                    <span class="image"><img src="img/catalog5.jpg" alt=""></span>
                                    <span class="bottom">
                                        <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                        <span class="link">Подробнее</span>
                                    </span>
                                </a>
                                <a class="project_page_tabs__item">
                                    <span class="image"><img src="img/catalog6.jpg" alt=""></span>
                                    <span class="bottom">
                                        <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                        <span class="link">Подробнее</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="tabs-b">
                            <div class="project_page_tabs__items-wrap">
                                <a class="project_page_tabs__item">
                                    <span class="image"><img src="files/image_sl.png" alt=""></span>
                                    <span class="bottom">
                                        <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                        <span class="body">Примерное кратокое описание</span>
                                        <span class="link">Подробнее</span>
                                    </span>
                                </a>
                                <a class="project_page_tabs__item">
                                    <span class="image"><img src="files/image_sl.png" alt=""></span>
                                    <span class="bottom">
                                        <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                        <span class="body">Примерное кратокое описание</span>
                                        <span class="link">Подробнее</span>
                                    </span>
                                </a>
                                <a class="project_page_tabs__item">
                                    <span class="image"><img src="files/image_sl.png" alt=""></span>
                                    <span class="bottom">
                                        <span class="name">ЭКСТРУДЕР ES-40 (220В И 380В) ДЛЯ ПЕРЕРАБОТКИ ЗЕРНОВЫХ</span>
                                        <span class="body">Примерное кратокое описание</span>
                                        <span class="link">Подробнее</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recommended_block_wr">
            <div class="block_inner">
                <div class="title">Рекомендуемые товары</div>
                <a href="" class="link">Все рекомендуемые товары</a>
                <div class="recommended_wr">
                    <div class="swiper recommended_slider">
                        <div class="swiper_arrow">
                            <div class="swiper_arrow_btn swiper-button-prev"></div>
                            <div class="swiper_arrow_btn swiper-button-next"></div>
                        </div>
                        <div class="swiper-wrapper">
                            <a href="" class="item swiper-slide">
                                <span class="image">
                                    <img src="files/image_sl.png" alt="">
                                </span>
                                <div class="bottom">
                                    <div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </div>
                            </a>
                            <a href="" class="item swiper-slide">
                                <span class="image">
                                    <img src="files/image_sl.png" alt="">
                                </span>
                                <div class="bottom">
                                    <div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </div>
                            </a>
                            <a href="" class="item swiper-slide">
                                <span class="image">
                                    <img src="files/image_sl.png" alt="">
                                </span>
                                <div class="bottom">
                                    <div class="name">Экструдер es-40 (220в и 380в) для переработки зерновых</div>
                                    <span class="body">Примерное кратокое описание</span>
                                    <span class="link">Подробнее</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    include _footer.jade