include _header.jade
	<div class="content_main_bg reviews_page">
		<div class="block_inner">
			<div class="path_block"><a href="/">Главная</a><span>></span> Отзывы</div>
			<h1>Отзывы о клинике "Щелкунчик"</h1>
			<a href="" class="btn border review_btn">Оставить отзыв</a>
			<div class="tabs-wr-main">
				<ul class="tabs-title">
					<li class="active">
						</span>Отзывы</span>
					</li>
					<li>
						</span>Видео отзывы</span>
					</li>
				</ul>
				<div class="tabs-block">
					<div class="tab_main active">
						<div class="reviews_list">
							<div class="item">
								<div class="name">Ольга</div>
								<div class="text">Клиника " Щелкунчик" давно стала по-настоящему нашей семейной стоматологией. Приятная атмосфера и детский уголок с книгами и иллюстрациями, очень хорошо разряжают атмосферу, можно отвлечь ребенка. Приветливый персонал и квалифицированные дантисты у нас вызывают доверие. Теперь поход к стоматологу не столь трагичен для нашей малышни. Доктор и заговаривает им зубы и лечит одновременно))</div>
								<div class="item_bottom">
									<div class="date">15 мая 2022</div>
									<div class="doc">Врач: <a href=""><strong>Яцкевич Елена Евгеньевна</strong></a></div>
									<div class="address">г. Красногорск</div>
								</div>
							</div>
							<div class="item">
								<div class="name">Марина</div>
								<div class="text">Порадовало наличие заграничных имплантатов, по приятным ценам. Вставила два зуба  (4 и 7) ни капельки не пожалела. Новые зубки Ничем не отличаются от моих собственных. Боли практически не ощущала, анестезия сделало своё дело. Очень благодарна специалистом клиники Щелкунчик за красивую улыбку и вежливый сервис для меня.</div>
								<div class="item_bottom">
									<div class="date">15 мая 2022</div>
									<div class="doc">Врач: <a href=""><strong>Яцкевич Елена Евгеньевна</strong></a></div>
									<div class="address"> м. Раменки</div>
								</div>
							</div>
							<div class="item">
								<div class="name">Алексей</div>
								<div class="text">Очень беспокил зуб мудрости. Не мог прорвать десну. Боли были Кошмар. По отзывам знакомых решила идти в клинику Щелкунчик на Войковской. Процедура прошла терпимо, сделали надрез и удалили проблемный зуб. Боли практически не ощущала. Очень благодарна Доктору анестезиологу-реаниматологу, Сманцеру Вячеславу Александровичу за отличную работу!</div>
								<div class="item_bottom">
									<div class="date">15 мая 2022</div>
									<div class="doc">Врач: <a href=""><strong>Яцкевич Елена Евгеньевна</strong></a></div>
									<div class="address"> м. Войковская</div>
								</div>
							</div>
							<div class="item">
								<div class="name">Анастасия</div>
								<div class="text">Передний зуб был сломан, смотрелось не очень эстетично. А всегда хотела красивую улыбку, без изъянов. Посетила клинику Щелкунчик, мне рекомендовали именно Яцкевич Елену Евгеньевну. Клиника на Войковской. Доктор сточил поврежденную часть и нарастил новый материал. С наличием аппаратуры и профессиональных данных моего доктора моя улыбка теперь прекрасна. Нарощенная часть совсем не отличается от основания зуба. Спасибо большое.</div>
								<div class="item_bottom">
									<div class="date">15 мая 2022</div>
									<div class="doc">Врач: <a href=""><strong>Яцкевич Елена Евгеньевна</strong></a></div>
									<div class="address"> м. Войковская</div>
								</div>
							</div>
						</div>	
						<div class="page_list">
							<a href="#" class="arrov_page prev"></a>
							<a href="" class="number">1</a>
							<div class="number_active">2</div>
							<a href="" class="number">3</a>
							<a href="#" class="arrov_page next"></a>
						</div>	
					</div>
					<div class="tab_main">
						<div class="video_list">
							<div class="item">
								<iframe width="100%" height="212" src="https://www.youtube.com/embed/Nl8c8iO4x0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="item">
								<iframe width="100%" height="212" src="https://www.youtube.com/embed/Nl8c8iO4x0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="item">
								<iframe width="100%" height="212" src="https://www.youtube.com/embed/Nl8c8iO4x0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="item">
								<iframe width="100%" height="212" src="https://www.youtube.com/embed/Nl8c8iO4x0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="item">
								<iframe width="100%" height="212" src="https://www.youtube.com/embed/Nl8c8iO4x0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="item">
								<iframe width="100%" height="212" src="https://www.youtube.com/embed/Nl8c8iO4x0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<div class="page_list">
							<a href="#" class="arrov_page prev"></a>
							<a href="" class="number">1</a>
							<div class="number_active">2</div>
							<a href="" class="number">3</a>
							<a href="#" class="arrov_page next"></a>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="bottom_slider_block">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">5 преимуществ наших <br> стоматологий </div>
			</div>
			<div class="right_block">
				<div class="slider_b">
					<div class="item">
						<div class="item_top">
							<div class="icon">
								<img src="files/o1.svg" alt="">
							</div>
							<div class="name">Опытный и высококвалифицированный персонал</div>
						</div>
						<div class="body">
							<p>У нас работают кандидаты, доктора медицинских наук и врачи высшей врачебной категории. </p>
							<p>Мы специализируемся на лечении зубов именно у детей, но также предлагаем соответствующие услуги взрослым.</p>
						</div>
					</div>
					<div class="item">
						<div class="item_top">
							<div class="icon">
								<img src="files/o1.svg" alt="">
							</div>
							<div class="name">Опытный и высококвалифицированный персонал</div>
						</div>
						<div class="body">
							<p>У нас работают кандидаты, доктора медицинских наук и врачи высшей врачебной категории. </p>
							<p>Мы специализируемся на лечении зубов именно у детей, но также предлагаем соответствующие услуги взрослым.</p>
						</div>
					</div>
					<div class="item">
						<div class="item_top">
							<div class="icon">
								<img src="files/o1.svg" alt="">
							</div>
							<div class="name">Опытный и высококвалифицированный персонал</div>
						</div>
						<div class="body">
							<p>У нас работают кандидаты, доктора медицинских наук и врачи высшей врачебной категории. </p>
							<p>Мы специализируемся на лечении зубов именно у детей, но также предлагаем соответствующие услуги взрослым.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>								
	<div class="form_green_block mobile_ad">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">Записаться на консультацию</div>
				<div class="text">Заполните форму и в ближайшее время с вами свяжется администратор для уточнения подробностей</div>
			</div>
			<div class="right_block">
				<form>
					<div class="left_form">
						<div class="col_2">
							<div class="field">
								<div class="name_field">Ваше имя*</div>
								<input type="text" required placeholder="Например, Олег...">
							</div>
							<div class="field">
								<div class="name_field">Мобильный телефон*</div>
								<input type="text" required placeholder="+7 (___) ___-__-__">
							</div>
						</div>
						<div class="field_text">Нажимая кнопку «Отправить», Вы даете согласие на обработку персональных данных</div>
					</div>
					<div class="right_form">
						<input type="submite" value="Отправить" class="btn">
						<div class="phone">
							<div class="name_phone">или позвоните нам</div>
							<a href="tel:+74992887115">+7 (499) 288-71-15</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>																
include _footer.jade