include _header_gl.jade
<div class="fixed_btns">
    <a href="" class="wh_btn"></a>
    <div class="up_link"></div>
</div>
<div class="site_wrapper header_bg reviews_page">
    include _head.jade
    <div class="content_block_wr">
        <div class="header_wrapper">
            <div class="path_block">
                <div class="block_inner">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li> / Что о нас говорят клиенты</li>
                    </ul>
                </div>
            </div>
            <div class="projects_main_block">
                <div class="block_inner">
                    <div class="left">
                        <h1><span>Что о нас говорят клиенты</span></h1>
                        <div class="text">Деятельность компании  лицензирована на всей территории Российской Федерации и стран СНГ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project_page_tabs">
            <div class="block_inner">
                <div class="mob_title">Направление</div>
                <div class="project_page_tabs_inner">
                    <div class="select_dropdown btn btn_select">Животноводство</div>
                    <ul class="tabs-title">
                        <li class="btn btn_black active"><span>Животноводство</span></li>
                        <li class="btn btn_black"><span>Растениеводство</span></li>
                        <li class="btn btn_black"><span>Переработка</span></li>
                        <li class="btn btn_black"><span>Другое</span></li>
                        <li class="btn btn_black more">Все проекты</li>
                    </ul>
                    <div class="tabs-block">
                        <div class="tabs-b active">
                            <div class="review_page_tabs__items">
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon yb">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-b">
                            <div class="review_page_tabs__items">
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-b">
                            <div class="review_page_tabs__items">
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-b">
                            <div class="review_page_tabs__items">
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-b">
                            <div class="review_page_tabs__items">
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                                <div class="review_item">
                                    <div class="icon">
                                        <img src="files/icon_logo.png" alt="">
                                    </div>
                                    <div class="name">КубаньПромСтрой</div>
                                    <a href="#" class="link_icon">Перейти к оригиналу отзыва</a>
                                    <div class="text">Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. </div>
                                    <div class="author">
                                        <strong>Алексей Владимирович Владимиров</strong>
                                        <span>Директор Компании</span>
                                    </div>
                                    <div class="bottom_text">
                                        <div>Услуга: <span>Название услуги</span></div>
                                        <div>Решения: <span>Государственным учреждениям</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    include _footer.jade