include _header_gl.jade
<div class="fixed_btns">
    <a href="" class="wh_btn"></a>
    <div class="up_link"></div>
</div>
<div class="site_wrapper header_bg">
    include _head.jade
<div class="content_block_wr page_inner_wrapper">
    <div class="path_block">
        <div class="block_inner">
            <ul>
                <li><a href="">Главная</a></li>
                <li> / Результаты поиска</li>
            </ul>
        </div>
    </div>
    <div class="search_result_page">
        <div class="block_inner">
            <h1>Результаты поиска</h1>
            <div class="search_page_form">
                <form action="">
                    <input type="text" placeholder="Введеный запрос поиска">
                    <button class="btn btn_orange_full">Найти</button>
                </form>
            </div>
            <div class="search_result_items">
                <div class="item">
                    <div class="name">
                        <a href="#">С нашей стороны менеджеры, конечно, помогают оформить документы в лизиниг, но какого строго алгоритма или одной лизинговой компании нет. Все индивидуально.</a>
                    </div>
                    <div class="text">В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</div>
                    <div class="search_path">Путь: <a href="">Главная</a><span>/</span><a href="">Информация</a><span>/</span><a href="">Новости</a></div>
                </div>
                <div class="item">
                    <div class="name">
                        <a href="#">С нашей стороны менеджеры, конечно, помогают оформить документы в лизиниг, но какого строго алгоритма или одной лизинговой компании нет. Все индивидуально.</a>
                    </div>
                    <div class="text">В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</div>
                    <div class="search_path">Путь: <a href="">Главная</a><span>/</span><a href="">Информация</a><span>/</span><a href="">Новости</a></div>
                </div>
                <div class="item">
                    <div class="name">
                        <a href="#">С нашей стороны менеджеры, конечно, помогают оформить документы в лизиниг, но какого строго алгоритма или одной лизинговой компании нет. Все индивидуально.</a>
                    </div>
                    <div class="text">В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</div>
                    <div class="search_path">Путь: <a href="">Главная</a><span>/</span><a href="">Информация</a><span>/</span><a href="">Новости</a></div>
                </div>
                <div class="item">
                    <div class="name">
                        <a href="#">С нашей стороны менеджеры, конечно, помогают оформить документы в лизиниг, но какого строго алгоритма или одной лизинговой компании нет. Все индивидуально.</a>
                    </div>
                    <div class="text">В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</div>
                    <div class="search_path">Путь: <a href="">Главная</a><span>/</span><a href="">Информация</a><span>/</span><a href="">Новости</a></div>
                </div>
                <div class="item">
                    <div class="name">
                        <a href="#">С нашей стороны менеджеры, конечно, помогают оформить документы в лизиниг, но какого строго алгоритма или одной лизинговой компании нет. Все индивидуально.</a>
                    </div>
                    <div class="text">В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</div>
                    <div class="search_path">Путь: <a href="">Главная</a><span>/</span><a href="">Информация</a><span>/</span><a href="">Новости</a></div>
                </div>
            </div>
            <div class="button_block">
                <a href="" class="btn btn_orange_full">Загрузить еще</a>
            </div>
            <div class="page_list">
                <a href="" class="arrow prev"></a>
                <span class="number">1</span>
                <a href="" class="number">2</a>
                <span class="number">...</span>
                <a href="" class="number">9</a>
                <a href="" class="number">10</a>
                <a href="" class="arrow next"></a>
            </div>
        </div>
    </div>
</div>
include _footer.jade