include _header.jade
	<div class="content_main_bg doctors_page">
		<div class="block_inner">
			<div class="path_block"><a href="/">Главная</a><span>></span>Лечение зубов Седативная Стоматология</div>
			<div class="sedation_page">
				<div class="left_block">
					<h1>Лечение зубов «Седативная Стоматология»</h1>
					<div class="body">
						<p><strong>Хотите вылечить зубы без стресса и боли?</strong></p>
						<p>Мы клиника «Седативная Стоматология» уже более 14 лет специализируемся по лечению зубов под седацией (закисью азота) и лечению «во сне». К нам приходят дети и взрослые с различными патологиями, когда проблематично вылечить зубы без седации или наркоза.</p>
						<ul>
							<li>Случаи сильного страха у детей перед стоматологом</li>
							<li>Непереносимость стоматологического вмешательства у взрослых</li>
							<li>Много зубов пораженных кариесом</li>
						</ul>
						<p>Мы "Седативная Стоматология" лучшие в лечении зубов без боли и стресса. Взрослые приходят к нам и доверяют своих детей. Для записи на консультацию звоните по телефону <a href="tel:+74957341166"><strong style="color: #BA70EA;">+7 (495) 734-11-66</strong></a></p>
						<ul>
							<li>Лечим "во сне" и седативным методом более 14 лет</li>
							<li>Врачи с многолетним опытом</li>
							<li>Непрерывное обучение по мировым стандартам</li>
							<li>Новейшее оборудование</li>
						</ul>
					</div>				
				</div>
				<div class="right_block">
					<h1>Лечение зубов «Седативная Стоматология»</h1>
					<img src="files/sedation.jpg" alt="">
				</div>			
			</div>
		</div>
	</div>	
	<div class="grey_block_bg">
		<div class="block_inner">
			<div class="vidos_block">
				<div class="item">
					<iframe width="100%" height="210" src="https://www.youtube.com/embed/Nl8c8iO4x0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="item">
					<iframe width="100%" height="210" src="https://www.youtube.com/embed/Nl8c8iO4x0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="item">
					<iframe width="100%" height="210" src="https://www.youtube.com/embed/Nl8c8iO4x0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="accor_block opened">
				<div class="accor_title">Стоимость услуг "Лечение зубов Седативная Стоматология" <span></span></div>
				<div class="accor_body">
					<div class="table_inner">
						<div class="row">
							<div class="name">Лечение зубов под «общим наркозом» общей анестезией севоран 30 мин.</div>
							<div class="value">9 900 руб</div>
						</div>
						<div class="row">
							<div class="name">Лечение зубов под закисью азота «веселящий газ» 30 мин.</div>
							<div class="value">3 000 руб</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
	<div class="sedation_block_inner">
		<div class="block_inner sedation_page">
			<div class="left_block">
				<div class="title">Детский наркоз: лечение пройдет, как сладкий сон</div>
				<div class="body">
					<p>Если вашему ребенку нужно в стоматологию и без серьезного лечения не обойтись, тогда клиника «Щелкунчик» предлагает вам мягкое и безопасное лечение <strong style="color: #BA70EA;">под общим наркозом «Севоран»</strong>. Он является действительно эффективным способом провести все необходимые процедуры, не причиняя ребенку вреда. То есть, пока ваш малыш будет сладко спать в стоматологическом кресле, доктор проведет лечебные и профилактические мероприятия. Клиника «Щелкунчик» предлагает своим клиентам только максимально действенные методы анестезии. </p>
					<p>Также в клинике «Щелкунчик» практикуется менее радикальный метод успокоения маленьких пациентов - <strong style="color: #BA70EA;">лечение под седацией</strong>. Закись азота, которую вдыхает пациент перед началом врачебного осмотра, позволяет и малышам, и подросткам успокоиться, а также почувствовать себя расслабленными. Такое лечение оставляет у детей, посещавших «Щелкунчик», только позитивные воспоминания.</p>
				</div>				
			</div>
			<div class="right_block">
				<img src="files/sedation2.jpg" alt="">
			</div>			
		</div>
	</div>
	<div class="bottom_slider_block mobile_hide">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">5 преимуществ наших <br> стоматологий </div>
			</div>
			<div class="right_block">
				<div class="slider_b">
					<div class="item">
						<div class="item_top">
							<div class="icon">
								<img src="files/o1.svg" alt="">
							</div>
							<div class="name">Опытный и высококвалифицированный персонал</div>
						</div>
						<div class="body">
							<p>У нас работают кандидаты, доктора медицинских наук и врачи высшей врачебной категории. </p>
							<p>Мы специализируемся на лечении зубов именно у детей, но также предлагаем соответствующие услуги взрослым.</p>
						</div>
					</div>
					<div class="item">
						<div class="item_top">
							<div class="icon">
								<img src="files/o2.svg" alt="">
							</div>
							<div class="name">Забота о комфорте малыша до, во время и после процедуры</div>
						</div>
						<div class="body">
							<p>Наши врачи не просто опытные стоматологи, но и своего рода детские психологи. </p>
							<p>Мы ищем индивидуальный подход к каждому ребенку, защищаем его от стресса и страха перед зубными врачами.    </p>
						</div>
					</div>
					<div class="item">
						<div class="item_top">
							<div class="icon">
								<img src="files/o3.svg" alt="">
							</div>
							<div class="name">Абсолютно безболезненное лечение</div>
						</div>
						<div class="body">
							<p>Мы применяем местную анестезию, а в некоторых случаях используем общий наркоз. Это комфортно для ребенка и полностью безопасно. Применение общего наркоза возможно благодаря новому наркозно-дыхательному аппарату Dräger Fabius plus. </p>
						</div>
					</div>
					<div class="item">
						<div class="item_top">
							<div class="icon">
								<img src="files/o4.svg" alt="">
							</div>
							<div class="name">Лучшее современное оборудование</div>
						</div>
						<div class="body">
							<ul>
								<li>Лучшее в мире кресло Brumaba</li>
								<li>Первый в Москве новейший микроскоп Karl Zeis</li>
								<li>Самый лучший наркозно-дыхательный аппарат Drager Fabius Plus</li>
								<li>Лучшее диагностическое оборудование ОПТГ, КТ, ТРГ, визиограф</li>
							</ul>
						</div>
					</div>
					<div class="item">
						<div class="item_top">
							<div class="icon">
								<img src="files/o5.svg" alt="">
							</div>
							<div class="name">Индивидуальный подход к каждому</div>
						</div>
						<div class="body">
							<p>Выбор конкретного лечения зависит от множества факторов, в том числе от общего состояния здоровья и особенностей психики малыша.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>			
	<div class="form_green_block mobile_show">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">Записаться на консультацию</div>
				<div class="text">Заполните форму и в ближайшее время с вами свяжется администратор для уточнения подробностей</div>
			</div>
			<div class="right_block">
				<form>
					<div class="left_form">
						<div class="col_2">
							<div class="field">
								<div class="name_field">Ваше имя*</div>
								<input type="text" required placeholder="Например, Олег...">
							</div>
							<div class="field">
								<div class="name_field">Мобильный телефон*</div>
								<input type="text" required placeholder="+7 (___) ___-__-__">
							</div>
						</div>
						<div class="field_text">Нажимая кнопку «Отправить», Вы даете согласие на обработку персональных данных</div>
					</div>
					<div class="right_form">
						<input type="submite" value="Отправить" class="btn">
						<div class="phone">
							<div class="name_phone">или позвоните нам</div>
							<a href="tel:+74992887115">+7 (499) 288-71-15</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>																
include _footer.jade