include _header_gl.jade
<div class="fixed_btns">
    <a href="" class="wh_btn"></a>
    <div class="up_link"></div>
</div>
<div class="site_wrapper header_bg montage_page service_main_page">
    include _head.jade
    <div class="content_block_wr">
        <div class="header_wrapper">
            <div class="path_block">
                <div class="block_inner">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li> / Сервис</li>
                    </ul>
                </div>
            </div>
            <div class="projects_main_block">
                <div class="block_inner">
                    <div class="left">
                        <h1><span>Сервис</span></h1>
                        <div class="text">Новосибирский завод исготовитель сельскохозяйственного оборудование</div>
                        <div class="down_btn_arrow button_down"></div>
                    </div>
                    <div class="right">
                        <img src="files/ser_main.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="project_page_main first_block_scroll">
            <div class="block_inner">
                <div class="item_service">
                    <div class="image">
                        <img src="files/pr_img2.jpg" alt="">
                    </div>
                    <div class="detals">
                        <div class="name">Доставка</div>
                        <div class="text">Частные объявления такого плана: «Зерновой экструдер Россия продам по низким ценам», - вот, что в действительности привлекает внимание. Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур. </div>
                        <div class="bottom">
                            <a href="#" class="link">Подробнее</a>
                        </div>
                    </div>
                </div>  
                <div class="item_service">
                    <div class="image">
                        <img src="files/pr_img2.jpg" alt="">
                    </div>
                    <div class="detals">
                        <div class="name">Монтаж или шефмонтаж</div>
                        <div class="text">Частные объявления такого плана: «Зерновой экструдер Россия продам по низким ценам», - вот, что в действительности привлекает внимание. Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур. Теперь в изготовлении употребляется  соя, разные зерновые отходы, солома, отходы боен , а также многое другое.</div>
                        <div class="bottom">
                            <a href="#" class="link">Подробнее</a>
                        </div>
                    </div>
                </div>  
                <div class="item_service">
                    <div class="image">
                        <img src="files/pr_img2.jpg" alt="">
                    </div>
                    <div class="detals">
                        <div class="name">Пуско-наладочные работы</div>
                        <div class="text">Частные объявления такого плана: «Зерновой экструдер Россия продам по низким ценам», - вот, что в действительности привлекает внимание. Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур. Теперь в изготовлении употребляется  соя, разные зерновые отходы, солома, отходы боен , а также многое другое. </div>
                        <div class="bottom">
                            <a href="#" class="link">Подробнее</a>
                        </div>
                    </div>
                </div>  
                <div class="item_service">
                    <div class="image">
                        <img src="files/pr_img2.jpg" alt="">
                    </div>
                    <div class="detals">
                        <div class="name">Обслуживание</div>
                        <div class="text">Частные объявления такого плана: «Зерновой экструдер Россия продам по низким ценам», - вот, что в действительности привлекает внимание. Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур. </div>
                        <div class="bottom">
                            <a href="#" class="link">Подробнее</a>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    include _footer.jade