include _header.jade
	<div class="content_main_bg services_page">
		<div class="tabs-wr-main">
			<div class="block_inner">
				<div class="path_block"><a href="/">Главная</a><span>></span>Услуги</div>
				<h1>Стоматологические услуги клиники Щелкунчик</h1>
				<ul class="tabs-title">
					<li>
						</span>Для детей</span>
					</li>
					<li>
						</span>Для родителей</span>
					</li>
				</ul>
				<div class="tabs-block">
					<ul class="">
						<li><a href="services/detskaya-stomatologiya/konsultacziya-i-diagnostika/" tooth2.png><span>Консультация и диагностика</span></a>
							<div class="text">когда вы только пришли к нам</div>
						</li>
						<li><a href="services/detskaya-stomatologiya/lechenie-zubov/" tooth2.png><span>Лечение зубов детям</span><span class="arrow"></span></a>
							<div class="text">когда зуб только заболел или с ним что-то не так</div>
							<div class="list">
								<ul class="">
									<li><a href="services/detskaya-stomatologiya/lechenie-kariesa/"><span>Лечение кариеса</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/detskaya-stomatologiya/lechenie-pulpita/"><span>Лечение пульпита</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/detskaya-stomatologiya/lechenie-stomatita/"><span>Лечение стоматита</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/detskaya-stomatologiya/lechenie-periodontita/"><span>Лечение периодонтита</span></a>
										<div class="text"></div>
									</li>
								</ul>
							</div>
						</li>
						<li><a href="services/detskaya-stomatologiya/lechenie-zubov-pod-narkozom/" tooth5.png><span>Лечение зубов под седацией и общим наркозом</span></a>
							<div class="text">когда ребенок боится или особенные дети (ДЦП, аутизм, синдром дауна)</div>
						</li>
						<li><a href="services/detskaya-stomatologiya/ispravlenie-prikusa/" tooth2.png><span>Исправление прикуса</span></a>
							<div class="text">когда молочные зубы неровные</div>
						</li>
						<li><a href="services/detskaya-stomatologiya/plastika-uzdechki/"><span>Пластика уздечки</span></a>
							<div class="text">когда проблемы с кормлением или дефект речи</div>
						</li>
						<li><a href="services/detskaya-stomatologiya/profilaktika-zabolevanij/" tooth2.png><span>Профилактика</span><span class="arrow"></span></a>
							<div class="text">чтобы зубки не болели</div>
							<div class="list">
								<ul class="">
									<li><a href="services/detskaya-stomatologiya/profilaktika-zabolevanij/professionalnaya-chistka-zubov/"><span>Профессиональная чистка зубов</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/detskaya-stomatologiya/profilaktika-zabolevanij/remineralizacziya-molochnyix-zubov/"><span>Реминерализация эмали зубов</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/detskaya-stomatologiya/profilaktika-zabolevanij/ftorirovanie-zubov/"><span>Фторирование зубов</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/detskaya-stomatologiya/profilaktika-zabolevanij/germetizacziya-fissur/"><span>Герметизация фиссур</span></a>
										<div class="text"></div>
									</li>
								</ul>
							</div>
						</li>
						<li><a href="services/detskaya-stomatologiya/lechenie-dyosen/" tooth2.png><span>Лечение дёсен</span></a>
							<div class="text">когда десна кровоточит или стоматит</div>
						</li>
						<li><a href="services/detskaya-stomatologiya/xirurgiya/" tooth2.png><span>Хирургия</span><span class="arrow"></span></a>
							<div class="text">когда зуб разрушен или болит</div>
							<div class="list">
								<ul class="">
									<li><a href="services/detskaya-stomatologiya/xirurgiya/udalenie-molochnogo-zuba/"><span>Удаление молочного зуба</span></a>
										<div class="text"></div>
									</li>
								</ul>
							</div>
						</li>
						<li><a href="services/detskaya-stomatologiya/lechenie-travm-zubov/" tooth2.png><span>Лечение травм зубов</span></a>
							<div class="text">когда ребенок упал</div>
						</li>
						<li><a href="services/detskaya-stomatologiya/protezirovanie/" tooth2.png><span>Протезирование</span></a>
							<div class="text">когда зуб разрушен</div>
						</li>
						<li><a href="services/detskaya-stomatologiya/lechenie-zubov-podrostkam/" tooth2.png><span>Лечение зубов подросткам</span></a>
							<div class="text"></div>
						</li>
					</ul>
					<ul class="">
						<li><a href="services/vzroslaya-stomatologiya/pervichnaya-konsultacziya/" tooth4.png><span>Первичная консультация</span></a>
							<div class="text"></div>
						</li>
						<li class="red"><a href="services/vzroslaya-stomatologiya/pervichnaya-konsultacziya/" tooth4.png><span>Лечение зубов беременным</span></a>
							<div class="text"></div>
						</li>
						<li><a href="services/vzroslaya-stomatologiya/terapevt/" tooth1.png><span>Стоматолог-Терапевт</span><span class="arrow"></span></a>
							<div class="text"></div>
							<div class="list">
								<ul class="">
									<li><a href="services/vzroslaya-stomatologiya/terapevt/konsultacziya-i-diagnostika/" tooth1.png><span>Консультация и диагностика</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/terapevt/profilakticheskie-proczeduryi/" tooth1.png><span>Профилактика</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/terapevt/lechenie-slizistoj/" tooth1.png><span>Лечение болезней слизистой</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/terapevt/udalenie-nervov/" tooth1.png><span>Удаление нервов</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/terapevt/otbelivanie/" tooth1.png><span>Отбеливание</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/terapevt/restavracziya-zubov/" tooth1.png><span>Реставрация зубов</span></a>
										<div class="text"></div>
									</li>
								</ul>
							</div>
						</li>
						<li><a href="services/vzroslaya-stomatologiya/gigienist/" tooth6.png><span>Стоматолог-Гигиенист</span><span class="arrow"></span></a>
							<div class="text"></div>
							<div class="list">
								<ul class="">
									<li><a href="services/vzroslaya-stomatologiya/gigienist/konsultacziya-i-diagnostika/" tooth6.png><span>Консультация и диагностика</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/gigienist/profilaktika/" tooth6.png><span>Профилактика</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/gigienist/udalenie-blyashek-i-kamnej/" tooth6.png><span>Удаление бляшек и камней</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/gigienist/udalenie-nalyota/" tooth6.png><span>Удаление налёта</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/gigienist/germetizacziya-fissur/" tooth6.png><span>Герметизация фиссур</span></a>
										<div class="text"></div>
									</li>
								</ul>
							</div>
						</li>
						<li><a href="services/vzroslaya-stomatologiya/ortoped/" tooth1.png><span>Стоматолог-Ортопед</span><span class="arrow"></span></a>
							<div class="text"></div>
							<div class="list">
								<ul class="">
									<li><a href="services/vzroslaya-stomatologiya/ortoped/konsultacziya-i-diagnostika/" tooth1.png><span>Консультация и диагностика</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/ortoped/mikroprotezirovanie/" tooth1.png><span>Микропротезирование</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/ortoped/semnyie-protezyi/" tooth1.png><span>Съемные протезы</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/ortoped/nesemnyie-konstrukczii/" tooth1.png><span>Несъемные конструкции</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/ortoped/kosmeticheskoe-protezirovanie/" tooth1.png><span>Косметическое протезирование</span></a>
										<div class="text"></div>
									</li>
								</ul>
							</div>
						</li>
						<li><a href="services/vzroslaya-stomatologiya/ortodont/" tooth3.png><span>Стоматолог-Ортодонт</span><span class="arrow"></span></a>
							<div class="text"></div>
							<div class="list">
								<ul class="">
									<li><a href="services/vzroslaya-stomatologiya/ortodont/konsultacziya-i-diagnostika/"><span>Консультация и диагностика</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/ortodont/ispravlenie-prikusa/"><span>Исправление прикуса</span></a>
										<div class="text"></div>
									</li>
								</ul>
							</div>
						</li>
						<li><a href="services/vzroslaya-stomatologiya/paradantolog/" tooth1.png><span>Стоматолог-Пародонтолог</span></a>
							<div class="text"></div>
						</li>
						<li><a href="services/vzroslaya-stomatologiya/xirurg/" tooth1.png><span>Стоматолог-Хирург</span><span class="arrow"></span></a>
							<div class="text"></div>
							<div class="list">
								<ul class="">
									<li><a href="services/vzroslaya-stomatologiya/xirurg/konsultacziya-i-diagnostika/" tooth1.png><span>Консультация и диагностика</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/xirurg/udalenie-zubov/" tooth1.png><span>Удаление зубов</span></a>
										<div class="text"></div>
									</li>
								</ul>
							</div>
						</li>
						<li><a href="services/vzroslaya-stomatologiya/implantolog/" tooth1.png><span>Стоматолог-Имплантолог</span><span class="arrow"></span></a>
							<div class="text"></div>
							<div class="list">
								<ul class="">
									<li><a href="services/vzroslaya-stomatologiya/implantolog/konsultacziya-i-diagnostika/" tooth1.png><span>Консультация и диагностика</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/implantolog/podbor-implantata/" tooth1.png><span>Подбор имплантата</span></a>
										<div class="text"></div>
									</li>
									<li><a href="services/vzroslaya-stomatologiya/implantolog/podbor-anestezii/" tooth1.png><span>Подбор анестезии</span></a>
										<div class="text"></div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>				
	<div class="garant_block">
		<div class="block_inner">
			<div class="item" style="background-image: url(files/garant1.jpg);">
				<div class="title">Гарантия <br>на молочные <br>зубы</div>
				<div class="text">Даётся до полной смены молочного зуба на постоянный при условии, если вы каждые 3 месяца приходите к нам на профилактический осмотр и профилактическую гигиену</div>
			</div>
			<div class="item" style="background-image: url(files/garant2.jpg);">
				<div class="title">Гарантия <br>на постоянные <br>зубы</div>
				<div class="text">5 лет при условии, если вы каждые 6 месяцев приходите к нам на профилактический осмотр и профилактическую гигиену</div>
			</div>
		</div>
	</div>		
	<div class="form_green_block main_page_hide">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">Записаться на консультацию</div>
				<div class="text">Заполните форму и в ближайшее время с вами свяжется администратор для уточнения подробностей</div>
			</div>
			<div class="right_block">
				<form>
					<div class="left_form">
						<div class="col_2">
							<div class="field">
								<div class="name_field">Ваше имя*</div>
								<input type="text" required placeholder="Например, Олег...">
							</div>
							<div class="field">
								<div class="name_field">Мобильный телефон*</div>
								<input type="text" required placeholder="+7 (___) ___-__-__">
							</div>
						</div>
						<div class="field_text">Нажимая кнопку «Отправить», Вы даете согласие на обработку персональных данных</div>
					</div>
					<div class="right_form">
						<input type="submite" value="Отправить" class="btn">
						<div class="phone">
							<div class="name_phone">или позвоните нам</div>
							<a href="tel:+74992887115">+7 (499) 288-71-15</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
include _footer.jade