include _header.jade
	<div class="content_main_bg service_page_wr">
		<div class="block_inner">
			<div class="path_block"><a href="/">Главная</a><span>></span><a href="/">Услуги</a><span>></span><a href="/">Для детей</a><span>></span>О клинике</div>
			<h1>Лечение зубов у детей</h1>
			<div class="service_inner">
				<div class="left_block">
					<p>Страх оставим позади, добрый доктор впереди! Психологическая адаптация ребенка в стоматологии «Щелкунчик» начинается уже на пороге клиники. Подходя к нашему учреждению, ребенок увидит на фасаде ярких сказочных персонажей, которые в вечернее время горят разноцветными лампочками. Таким образом, у малыша в голове всплывают любимые сказки и он интуитивно отбрасывает страх, заходя в нашу клинику.</p>
					<p>Учитывая способность ребенка быстро переключаться с одних предметов, мыслей или действий на другие, мы оформили нашу стоматологию таким образом, чтобы ребенку было интересно, не скучно и совсем не страшно. Поэтому, восхитившись ярким фасадом «Щелкунчика», ребенок переступает порог и попадает в не менее интересные декорации.</p>
					<p>После этого мы переводим малыша не сразу в кабинет врача, а в игровую комнату, где он знакомится с медсестрой и может немного привыкнуть к новому месту. Здесь для него есть масса интересных развлечений, которые направлены на дальнейшую психологическую подготовку ребенка в стоматологии.</p>
				</div>
				<div class="right_block">
					<div class="list_menu">
						<div class="title">Мы можем помочь:</div>
						<ul>
							<li><a href="">Лечение кариеса</a></li>
							<li><a href="">Лечение пульпита</a></li>
							<li><a href="">Лечение стоматита</a></li>
							<li><a href="">Лечение периодонтита</a></li>
							<li><a href="">Лечение кариеса по системе ICON</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="form_green_block main_page_hide">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">Записаться на консультацию</div>
				<div class="text">Заполните форму и в ближайшее время с вами свяжется администратор для уточнения подробностей</div>
			</div>
			<div class="right_block">
				<form>
					<div class="left_form">
						<div class="col_2">
							<div class="field">
								<div class="name_field">Ваше имя*</div>
								<input type="text" required placeholder="Например, Олег...">
							</div>
							<div class="field">
								<div class="name_field">Мобильный телефон*</div>
								<input type="text" required placeholder="+7 (___) ___-__-__">
							</div>
						</div>
						<div class="field_text">Нажимая кнопку «Отправить», Вы даете согласие на обработку персональных данных</div>
					</div>
					<div class="right_form">
						<input type="submite" value="Отправить" class="btn">
						<div class="phone">
							<div class="name_phone">или позвоните нам</div>
							<a href="tel:+74992887115">+7 (499) 288-71-15</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="grey_block_bg">
		<div class="block_inner">
			<div class="accor_block opened">
				<div class="accor_title">Стоимость услуг "Лечение зубов детям" <span></span></div>
				<div class="accor_body">
					<div class="table_inner">
						<div class="row">
							<div class="name">Пломба на молочный зуб из композитного светоотверждаемого материала</div>
							<div class="value">5 000 руб</div>
						</div>
						<div class="row">
							<div class="name">Лечение пульпита молочного зуба с использованием мумифицирующей пасты</div>
							<div class="value">11000 руб</div>
						</div>
						<div class="row">
							<div class="name">Лечение пульпита молочного зуба с использованием витализирующей пасты ПроРут</div>
							<div class="value">12800 руб</div>
						</div>
						<div class="row">
							<div class="name">Лечение молочного зуба неинвазийным методом (ICON)</div>
							<div class="value">4500 руб</div>
						</div>
						<div class="row">
							<div class="name">Лечение пульпита экстирпационным методом</div>
							<div class="value">12500 руб</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="list_menu">
			<div class="title">Мы можем помочь:</div>
			<ul>
				<li><a href="">Лечение кариеса</a></li>
				<li><a href="">Лечение пульпита</a></li>
				<li><a href="">Лечение стоматита</a></li>
				<li><a href="">Лечение периодонтита</a></li>
				<li><a href="">Лечение кариеса по системе ICON</a></li>
			</ul>
		</div>
		<div class="personal_block">
			<div class="block_inner">
				<div class="title">Врачи-стоматологи клиники "Щелкунчик"</div>
				<div class="inner">
					<div class="personal_slider">
						<div class="item">
							<div class="image">
								<a href="">
									<img src="files/per1.jpg" alt="">
									<div class="labels">
										<div class="blue">Доктор медицинских наук</div>
										<div class="green">Врач высшей категорий</div>
									</div>
								</a>
							</div>
							<div class="name"><a href="">Яцкевич Елена Евгеньевна</a></div>
							<div class="body">Главный врач</div>
						</div>
						<div class="item">
							<div class="image">
								<a href="">
									<img src="files/per2.jpg" alt="">
									<div class="labels">
										<div class="blue">Доктор медицинских наук</div>
										<div class="green">Врач высшей категорий</div>
									</div>
								</a>
							</div>
							<div class="name"><a href="">Селезнёв Дмитрий Александрович</a></div>
							<div class="body">Врач-ортодонт, член ассоциации ортодонтов России</div>
						</div>
						<div class="item">
							<div class="image">
								<a href="">
									<img src="files/per3.jpg" alt="">
									<div class="labels">
										<div class="red">Кандидат медицинских наук</div>
										<div class="green">Врач высшей категорий</div>
									</div>
								</a>
							</div>
							<div class="name"><a href="">Воронов Антон Сергеевич</a></div>
							<div class="body">Хирург, имплантолог</div>
						</div>
						<div class="item">
							<div class="image">
								<a href="">
									<img src="files/per4.jpg" alt="">
									<div class="labels">
										<div class="green">Врач высшей категорий</div>
									</div>
								</a>
							</div>
							<div class="name"><a href="">Первушина Лариса Александровна</a></div>
							<div class="body">Детский стоматолог</div>
						</div>
						<div class="item">
							<div class="image">
								<a href="">
									<img src="files/per1.jpg" alt="">
									<div class="labels">
										<div class="blue">Доктор медицинских наук</div>
										<div class="green">Врач высшей категорий</div>
									</div>
								</a>
							</div>
							<div class="name"><a href="">Яцкевич Елена Евгеньевна</a></div>
							<div class="body">Главный врач</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="text_content_block">
		<div class="block_inner">
			<div class="more_text_content">
				<p>Лечение зубов у детей – решение стоматологических проблем маленьких пациентов с учетом возрастной анатомии и физиологии. Специалист выбирает методы лечения кариеса, назначает консервативные или хирургические мероприятия, не забывая об особенностях детской психологии</p>
				<p>Наиболее распространенная проблема – кариес, который на молочных зубах протекает нередко безболезненно и незаметно визуально. Поэтому для маленьких детей вдвойне важны профилактические осмотры.</p>
				<p>Итак, к детскому стоматологу обращаются для лечения:</p>
				<ul>
					<li>кариеса</li>
					<li>пульпита</li>
					<li>стоматита;</li>
					<li>периодонтита</li>
				</ul>
				<p>Маленькому пациенту нужен особый подход. Следует обращаться к специалистам, которые не только обладают опытом в лечении детских зубов, но и умеют находить общий язык с ребенком. В клинике «Щелкунчик» работают врачи высшей категории, кандидаты и доктора медицинских наук. Мы ищем индивидуальный подход к каждому пациенту и делаем все возможное, чтобы у ваших детей не было страха перед врачом стоматологом.</p>
			</div>
		</div>
	</div>
	<div class="like_it_block">
		<div class="block_inner">
			<div class="title">Вашему ребенку понравится в стоматологии «Щелкунчик»!</div>
			<div class="inner">
				<div class="images_slider">
					<div class="image">
						<img src="files/like1.jpg" alt="">
					</div>
					<div class="image">
						<img src="files/like2.jpg" alt="">
					</div>
					<div class="image">
						<img src="files/like3.jpg" alt="">
					</div>
				</div>
				<div class="images">
					<div class="image">
						<img src="files/like1.jpg" alt="">
					</div>
					<div class="image">
						<img src="files/like2.jpg" alt="">
					</div>
					<div class="image">
						<img src="files/like3.jpg" alt="">
					</div>
				</div>
				<div class="video">
					<iframe width="100%" height="270" src="https://www.youtube.com/embed/Nl8c8iO4x0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>	
	<div class="bottom_slider_block">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">5 преимуществ наших <br> стоматологий </div>
			</div>
			<div class="right_block">
				<div class="slider_b">
					<div class="item">
						<div class="item_top">
							<div class="icon">
								<img src="files/o1.svg" alt="">
							</div>
							<div class="name">Опытный и высококвалифицированный персонал</div>
						</div>
						<div class="body">
							<p>У нас работают кандидаты, доктора медицинских наук и врачи высшей врачебной категории. </p>
							<p>Мы специализируемся на лечении зубов именно у детей, но также предлагаем соответствующие услуги взрослым.</p>
						</div>
					</div>
					<div class="item">
						<div class="item_top">
							<div class="icon">
								<img src="files/o1.svg" alt="">
							</div>
							<div class="name">Опытный и высококвалифицированный персонал</div>
						</div>
						<div class="body">
							<p>У нас работают кандидаты, доктора медицинских наук и врачи высшей врачебной категории. </p>
							<p>Мы специализируемся на лечении зубов именно у детей, но также предлагаем соответствующие услуги взрослым.</p>
						</div>
					</div>
					<div class="item">
						<div class="item_top">
							<div class="icon">
								<img src="files/o1.svg" alt="">
							</div>
							<div class="name">Опытный и высококвалифицированный персонал</div>
						</div>
						<div class="body">
							<p>У нас работают кандидаты, доктора медицинских наук и врачи высшей врачебной категории. </p>
							<p>Мы специализируемся на лечении зубов именно у детей, но также предлагаем соответствующие услуги взрослым.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page_link_wr">
		<div class="block_inner">
			<div class="title">Статьи, которые могут быть Вам полезны</div>
			<ul>
				<li><a href="#">5 мифов о детской стоматологии</a></li>
				<li><a href="#">Кариес и его профилактика</a></li>
			</ul>
		</div>
	</div>
include _footer.jade