include _header_gl.jade
<div class="fixed_btns">
    <a href="" class="wh_btn"></a>
    <div class="up_link"></div>
</div>
<div class="site_wrapper header_bg montage_page">
    include _head.jade
    <div class="content_block_wr">
        <div class="header_wrapper">
            <div class="path_block">
                <div class="block_inner">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li> / Монтаж или шефмонтаж</li>
                    </ul>
                </div>
            </div>
            <div class="projects_main_block">
                <div class="block_inner">
                    <div class="left">
                        <h1><span>Монтаж <br>или шефмонтаж</span></h1>
                        <div class="text">Новосибирский завод исготовитель сельскохозяйственного оборудование</div>
                        <div class="down_btn_arrow button_down"></div>
                    </div>
                    <div class="right">
                        <img src="files/montage_man.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="project_page_main first_block_scroll">
            <div class="block_inner">
                <div class="content_center">
                    <h2>Монтаж</h2>
                    <p><strong>Данная линия предназначена для производства рассыпных комбикормов. Исходное сырье располагается в сусеках. Дозирование осуществляется с напольного хранения, далее измельчается и подается вместе с добавками на участок смешивания. После смешивания готовый продукт распределяется по бункерам готовой продукции внутри производственного помещения и за его пределами. В случае необходимости возможно дозирование готового продукта. Линия оснащена автоматической системой управления.</strong></p>
                    <h3>Этапы реализации</h3>
                    <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                    <p>
                        <img src="files/pr_img3.jpg" alt="">
                    </p>
                    <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, <a href="">или попробовать себя в кондитерской росписи</a>, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                    <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                    <h3 style="color: #C84014;">Шефмонтаж</h3>
                    <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                    <p>
                        <img src="files/pr_img4.jpg" alt="">
                        <img src="files/pr_img5.jpg" alt="">
                    </p>
                    <p>В рамках площадки можно будет принять участие в мастер-классах, например, узнать, что такое молекулярная кухня и как её готовить, или попробовать себя в кондитерской росписи, приготовить сыр-косичку или сырный трюфель, собрать улей и многое другое.</p>
                </div>
                <div class="right_panel">
                    <div class="right_menu">
                        <div class="title">Сервис</div>
                        <ul>
                            <li><a href="">Доставка</a></li>
                            <li class="opened"><a href="">Монтаж или шефмонтаж</a></li>
                            <li><a href="">Пуско-наладочные работы</a></li>
                            <li><a href="">Обслуживание</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    include _footer.jade