include _header_gl.jade
<div class="fixed_btns">
	<a href="" class="wh_btn"></a>
	<div class="up_link"></div>
</div>
<div class="site_wrapper vacant_page">
	<div class="content_block_wr">
		<div class="header_wrapper">
			include _head.jade
			<div class="path_block">
				<div class="block_inner">
					<ul>
						<li><a href="">Главная</a></li>
						<li> / <a href="">О компании</a></li>
						<li> / Пресс-центр</li>
					</ul>
				</div>
			</div>
			<div class="catalog_main_block">
				<div class="block_inner">
					<div class="left">
						<h1><span>Вакансии</span> в компании</h1>
						<div class="text">Поставляем по России и в зарубежье  от одного экструдера или дробилки до комбикормовых заводов под ключ</div>
					</div>
					<div class="right">
						<img src="files/setting_man.png" alt="">
					</div>
					<div class="title">
						<svg width="902" height="244" viewBox="0 0 902 244" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M383.266 69.0607V46.432H334.039V202.962H356.087V239.777H259.993V202.962H278.227V46.432H249.871V4.21966H427.636V69.0607H383.266ZM90.1996 125.875L111.971 50.4453L133.672 125.875H90.1996ZM77.4434 4.21966L13.7295 202.962H0V239.777H87.9123V202.962H70.9254L78.7604 165.871H145.111L153.016 202.962H135.959V239.777H223.872V202.962H210.145L146.498 4.21966H77.4434ZM557.634 202.962V239.777H462.857V202.962H481.438V46.432H453.081V4.21966H565.189C584.327 4.21966 599.58 6.71208 610.949 11.6271C622.251 16.6087 630.847 22.7684 636.741 30.1726C642.633 37.6435 646.447 45.6034 648.18 54.2522C649.914 62.8344 650.814 70.9308 650.814 78.4049C650.814 102.97 643.466 121.586 628.696 134.248C614.07 146.913 593.892 153.279 568.45 153.279H536.903V202.962H557.634ZM536.903 46.432V109.752H564.496C569.073 109.752 572.954 108.851 576.145 107.123C579.265 105.393 581.759 103.107 583.493 100.202C585.227 97.2965 586.474 94.1119 587.237 90.5145C588.001 86.9839 588.347 83.2468 588.347 79.3732C588.347 75.4965 588.001 67.6097 587.237 64.1488C586.474 60.688 585.02 57.6431 582.8 54.9444C580.652 52.2456 577.669 50.1691 573.858 48.6483C570.044 47.1941 565.052 46.432 558.951 46.432H536.903ZM786.01 244C632.857 244 635.214 0 788.297 0C941.384 0 939.164 244 786.01 244ZM788.297 194.59C862.62 194.59 864.354 49.4102 788.297 49.4102C712.241 49.4102 713.975 194.59 788.297 194.59Z" fill="#E9E9E9"/>
						</svg>
					</div>	
					<div class="subtitle">
						<svg width="803" height="68" viewBox="0 0 803 68" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M790.777 17.5634H803V0H755.526V11.2916H762.44V56.7084H755.585V68H785.591V56.7084H777.317V11.2916H790.777V17.5634Z" fill="#110E0D"/>
						<path d="M740.503 11.2916V0H712.412V11.2916H719.142V27.8534H694.385V11.2916H701.484V0H672.9V11.2916H679.506V56.7084H672.407V68H701.362V56.7084H694.385V38.2642H719.142V56.7084H712.287V68H740.44V56.7084H733.956V11.2916H740.503Z" fill="#110E0D"/>
						<path d="M654.114 0H627.691V11.2916H634.79L609.911 38.8917V11.2916H615.344V0H587.933V11.2916H595.032V56.7084H587.871V68H616.517V56.7084H607.566L632.816 28.7312V56.7084H625.655V68H654.051V56.7084H647.692V11.2916H654.114V0Z" fill="#110E0D"/>
						<path d="M551.851 68V56.7084H543.948V42.029H553.454C556.913 42.029 560.001 41.5915 562.717 40.7108C565.371 39.7724 567.654 38.4542 569.569 36.6984C571.481 34.9398 572.903 32.7465 573.889 30.1733C574.877 27.5396 575.373 24.4656 575.373 20.9512C575.373 19.8229 575.311 18.6313 575.186 17.5001C575.064 16.3718 574.877 15.1802 574.631 13.9252C574.447 12.7336 574.076 11.6053 573.58 10.4741C573.087 9.40916 572.407 8.27801 571.668 7.27636C570.926 6.27183 570 5.33062 568.827 4.45273C567.717 3.57485 566.419 2.82073 564.875 2.13282C563.394 1.44202 561.604 0.877881 559.567 0.564146C557.531 0.187087 555.185 0 552.528 0H522.279V11.2916H529.193V56.7084H522.279V68H551.851ZM543.948 11.2916H550.8C551.727 11.2916 552.591 11.352 553.333 11.4787C554.134 11.6053 554.876 11.7924 555.494 12.0428C556.109 12.2932 556.726 12.6703 557.222 13.0473C557.715 13.4244 558.21 13.8619 558.579 14.3656C558.95 14.8664 559.258 15.3672 559.505 15.9314C559.751 16.4984 559.938 17.0626 560.06 17.6901C560.185 18.1909 560.247 18.8184 560.309 19.3825C560.369 20.01 560.431 20.6375 560.431 21.2016C560.431 21.8291 560.369 22.3932 560.309 23.0207C560.247 23.6482 560.185 24.2123 560.06 24.7793C559.938 25.4068 559.814 25.9709 559.567 26.5351C559.383 27.0992 559.134 27.6001 558.825 28.1038C558.579 28.6679 558.21 29.1054 557.777 29.5458C557.344 29.9862 556.851 30.3604 556.296 30.6741C555.74 30.9878 555.123 31.2382 554.443 31.4282C553.826 31.552 553.086 31.6786 552.344 31.6786H543.948V11.2916Z" fill="#110E0D"/>
						<path d="M507.196 0H480.774V11.2916H487.872L462.993 38.8917V11.2916H468.426V0H441.015V11.2916H448.114V56.7084H440.953V68H469.599V56.7084H460.707L485.898 28.7312V56.7084H478.734V68H507.134V56.7084H500.774V11.2916H507.196V0Z" fill="#110E0D"/>
						<path d="M422.655 11.2916V0H394.564V11.2916H401.294V27.8534H376.475V11.2916H383.576V0H354.99V11.2916H361.658V56.7084H354.56V68H383.514V56.7084H376.475V38.2642H401.294V56.7084H394.44V68H422.593V56.7084H416.109V11.2916H422.655Z" fill="#110E0D"/>
						<path d="M337.131 0H310.708V11.2916H317.807L292.928 38.8917V11.2916H298.361V0H270.95V11.2916H278.049V56.7084H270.888V68H299.534V56.7084H290.642L315.833 28.7312V56.7084H308.669V68H337.069V56.7084H330.709V11.2916H337.131V0Z" fill="#110E0D"/>
						<path d="M185.644 31.3016L170.397 56.7084H161.568V68H179.903L202.068 31.3016L183.115 0H164.777V11.2916H173.544L185.644 31.3016ZM218.179 11.2916H226.329V0H194.904V11.2916H203.3C203.3 26.4084 203.3 41.5915 203.3 56.7084H194.845V68H226.453V56.7084H218.179C218.179 41.5915 218.179 26.4084 218.179 11.2916ZM219.415 31.3016L238.305 0H256.703V11.2916H247.873L235.835 31.3016L251.086 56.7084H259.912V68H241.517L219.415 31.3016Z" fill="#110E0D"/>
						<path d="M149.334 11.2916V0H121.243V11.2916H127.971V27.8534H103.217V11.2916H110.253V0H81.7316V11.2916H88.3372V56.7084H81.2387V68H110.193V56.7084H103.217V38.2642H127.971V56.7084H121.119V68H149.272V56.7084H142.788V11.2916H149.334Z" fill="#110E0D"/>
						<path d="M66.2428 0H39.8204V11.2916H46.8566L22.0403 38.8917V11.2916H27.4732V0H0.0623258V11.2916H7.16077V56.7084H0V68H28.6459V56.7084H19.695L44.9446 28.7312V56.7084H37.7838V68H66.1805V56.7084H59.8213V11.2916H66.2428V0Z" fill="#110E0D"/>
						</svg>
					</div>	
				</div>					
			</div>
		</div>
		<div class="reasons_slider_block">
			<div class="block_inner">
				<div class="title"><span>Пять причин</span> работать у нас</div>
				<div class="swiper reasons_slider">
					<div class="swiper_arrow">
						<div class="swiper_arrow_btn swiper-button-prev"></div>
						<div class="swiper_arrow_btn swiper-button-next"></div>
					</div>
					<div class="swiper-wrapper">	
						<div class="item swiper-slide">
							<div class="left">
								<div class="name"><span>1</span> Стабильная оплата труда</div>
								<div class="body">Поставляем по России и в зарубежье  от одного экструдера или дробилки до комбикормовых заводов под ключ. Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур.  </div>
							</div>
							<div class="right">
								<img src="files/vaca.jpg" alt="">
							</div>
						</div>
						<div class="item swiper-slide">
							<div class="left">
								<div class="name"><span>2</span> Стабильная оплата труда</div>
								<div class="body">Поставляем по России и в зарубежье  от одного экструдера или дробилки до комбикормовых заводов под ключ. Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур.  </div>
							</div>
							<div class="right">
								<img src="files/vaca.jpg" alt="">
							</div>
						</div>
						<div class="item swiper-slide">
							<div class="left">
								<div class="name"><span>3</span> Стабильная оплата труда</div>
								<div class="body">Поставляем по России и в зарубежье  от одного экструдера или дробилки до комбикормовых заводов под ключ. Вся суть в том, что указанное приспособление используется для изготовления корма из различных зерновых культур.  </div>
							</div>
							<div class="right">
								<img src="files/vaca.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="vacant_accor_block">
			<div class="block_inner">
				<div class="item_accor">
					<div class="title">Вакансии на производстве</div>
					<div class="inner">
						<div class="accor_block">
							<div class="accor_name">Инженер</div>
							<div class="accor_body">
								<div class="accor_body_inner">
									<strong>Требуемый опыт работы</strong>
									<ul>
										<li>От 3 до 6 лет</li>
										<li>Полная занятость</li>
									</ul>
									<strong>Обязанности</strong>
									<ul>
										<li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
										<li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
										<li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
										<li>Контроль за содержанием в исправном состоянии грузоподъемных механизмов и другого инструмента</li>
									</ul>
									<strong>Требования:</strong>
									<ul>
										<li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
										<li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
										<li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
									</ul>
									<a href="#" class="link_hh">Смотреть вакансию на hh.ru</a>
									<div class="form_respond">
										<div class="name_form">Откликнуться</div>
										<div class="text">В ближайшее время мы свяжемся с вами</div>
										<form action="">
											<div class="row_form">
												<div class="left_col">
													<div class="row_field">
														<div class="field name">
															<input type="text" placeholder="Имя*" required>
														</div>
														<div class="field phone">
															<input type="text" placeholder="Телефон*" required>
														</div>
													</div>
													<div class="row_field">
														<div class="field file">
															<div class="file_input">
																<input type="file" name="file" id="file-2" required="" class="inputfile inputfile-2">
																<label for="file-2"><span>Прикрепить файл</span></label>
															</div>
															<div class="file_text">Файл не более 10МБ</div>
														</div>
														<a href="#" class="link_hh">Смотреть вакансию на hh.ru</a>
													</div>
												</div>
												<div class="right_col">
													<div cass="field submit">
														<input type="submit" class="btn btn_orange_full" value="Откликнуться">
													</div>		
													<div class="police">Я даю согласие на обработку персональных данных</div>
												</div>
											</div>			
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="accor_block">
							<div class="accor_name">Технолог</div>
							<div class="accor_body">
								<div class="accor_body_inner">
									<strong>Требуемый опыт работы</strong>
									<ul>
										<li>От 3 до 6 лет</li>
										<li>Полная занятость</li>
									</ul>
									<strong>Обязанности</strong>
									<ul>
										<li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
										<li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
										<li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
										<li>Контроль за содержанием в исправном состоянии грузоподъемных механизмов и другого инструмента</li>
									</ul>
									<strong>Требования:</strong>
									<ul>
										<li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
										<li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
										<li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
									</ul>
									<a href="#" class="link_hh">Смотреть вакансию на hh.ru</a>
									<div class="form_respond">
										<div class="name_form">Откликнуться</div>
										<div class="text">В ближайшее время мы свяжемся с вами</div>
										<form action="">
											<div class="row_form">
												<div class="left_col">
													<div class="row_field">
														<div class="field name">
															<input type="text" placeholder="Имя*" required>
														</div>
														<div class="field phone">
															<input type="text" placeholder="Телефон*" required>
														</div>
													</div>
													<div class="row_field">
														<div class="field file">
															<div class="file_input">
																<input type="file" name="file" id="file-2" required="" class="inputfile inputfile-2">
																<label for="file-2"><span>Прикрепить файл</span></label>
															</div>
															<div class="file_text">Файл не более 10МБ</div>
														</div>
														<a href="#" class="link_hh">Смотреть вакансию на hh.ru</a>
													</div>
												</div>
												<div class="right_col">
													<div cass="field submit">
														<input type="submit" class="btn btn_orange_full" value="Откликнуться">
													</div>		
													<div class="police">Я даю согласие на обработку персональных данных</div>
												</div>
											</div>			
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="accor_block">
							<div class="accor_name">Токарь</div>
							<div class="accor_body">
								<div class="accor_body_inner">
									<strong>Требуемый опыт работы</strong>
									<ul>
										<li>От 3 до 6 лет</li>
										<li>Полная занятость</li>
									</ul>
									<strong>Обязанности</strong>
									<ul>
										<li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
										<li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
										<li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
										<li>Контроль за содержанием в исправном состоянии грузоподъемных механизмов и другого инструмента</li>
									</ul>
									<strong>Требования:</strong>
									<ul>
										<li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
										<li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
										<li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
									</ul>
									<a href="#" class="link_hh">Смотреть вакансию на hh.ru</a>
									<div class="form_respond">
										<div class="name_form">Откликнуться</div>
										<div class="text">В ближайшее время мы свяжемся с вами</div>
										<form action="">
											<div class="row_form">
												<div class="left_col">
													<div class="row_field">
														<div class="field name">
															<input type="text" placeholder="Имя*" required>
														</div>
														<div class="field phone">
															<input type="text" placeholder="Телефон*" required>
														</div>
													</div>
													<div class="row_field">
														<div class="field file">
															<div class="file_input">
																<input type="file" name="file" id="file-2" required="" class="inputfile inputfile-2">
																<label for="file-2"><span>Прикрепить файл</span></label>
															</div>
															<div class="file_text">Файл не более 10МБ</div>
														</div>
														<a href="#" class="link_hh">Смотреть вакансию на hh.ru</a>
													</div>
												</div>
												<div class="right_col">
													<div cass="field submit">
														<input type="submit" class="btn btn_orange_full" value="Откликнуться">
													</div>		
													<div class="police">Я даю согласие на обработку персональных данных</div>
												</div>
											</div>			
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item_accor">
					<div class="title">Административный корпус</div>
					<div class="inner">
						<div class="accor_block">
							<div class="accor_name">Менеджер</div>
							<div class="accor_body">
								<div class="accor_body_inner">
									<strong>Требуемый опыт работы</strong>
									<ul>
										<li>От 3 до 6 лет</li>
										<li>Полная занятость</li>
									</ul>
									<strong>Обязанности</strong>
									<ul>
										<li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
										<li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
										<li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
										<li>Контроль за содержанием в исправном состоянии грузоподъемных механизмов и другого инструмента</li>
									</ul>
									<strong>Требования:</strong>
									<ul>
										<li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
										<li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
										<li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
									</ul>
									<a href="#" class="link_hh">Смотреть вакансию на hh.ru</a>
									<div class="form_respond">
										<div class="name_form">Откликнуться</div>
										<div class="text">В ближайшее время мы свяжемся с вами</div>
										<form action="">
											<div class="row_form">
												<div class="left_col">
													<div class="row_field">
														<div class="field name">
															<input type="text" placeholder="Имя*" required>
														</div>
														<div class="field phone">
															<input type="text" placeholder="Телефон*" required>
														</div>
													</div>
													<div class="row_field">
														<div class="field file">
															<div class="file_input">
																<input type="file" name="file" id="file-2" required="" class="inputfile inputfile-2">
																<label for="file-2"><span>Прикрепить файл</span></label>
															</div>
															<div class="file_text">Файл не более 10МБ</div>
														</div>
														<a href="#" class="link_hh">Смотреть вакансию на hh.ru</a>
													</div>
												</div>
												<div class="right_col">
													<div cass="field submit">
														<input type="submit" class="btn btn_orange_full" value="Откликнуться">
													</div>		
													<div class="police">Я даю согласие на обработку персональных данных</div>
												</div>
											</div>			
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="accor_block">
							<div class="accor_name">Секретарь</div>
							<div class="accor_body">
								<div class="accor_body_inner">
									<strong>Требуемый опыт работы</strong>
									<ul>
										<li>От 3 до 6 лет</li>
										<li>Полная занятость</li>
									</ul>
									<strong>Обязанности</strong>
									<ul>
										<li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
										<li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
										<li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
										<li>Контроль за содержанием в исправном состоянии грузоподъемных механизмов и другого инструмента</li>
									</ul>
									<strong>Требования:</strong>
									<ul>
										<li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
										<li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
										<li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
									</ul>
									<a href="#" class="link_hh">Смотреть вакансию на hh.ru</a>
									<div class="form_respond">
										<div class="name_form">Откликнуться</div>
										<div class="text">В ближайшее время мы свяжемся с вами</div>
										<form action="">
											<div class="row_form">
												<div class="left_col">
													<div class="row_field">
														<div class="field name">
															<input type="text" placeholder="Имя*" required>
														</div>
														<div class="field phone">
															<input type="text" placeholder="Телефон*" required>
														</div>
													</div>
													<div class="row_field">
														<div class="field file">
															<div class="file_input">
																<input type="file" name="file" id="file-2" required="" class="inputfile inputfile-2">
																<label for="file-2"><span>Прикрепить файл</span></label>
															</div>
															<div class="file_text">Файл не более 10МБ</div>
														</div>
														<a href="#" class="link_hh">Смотреть вакансию на hh.ru</a>
													</div>
												</div>
												<div class="right_col">
													<div cass="field submit">
														<input type="submit" class="btn btn_orange_full" value="Откликнуться">
													</div>		
													<div class="police">Я даю согласие на обработку персональных данных</div>
												</div>
											</div>			
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="accor_block">
							<div class="accor_name">Бухгалтер</div>
							<div class="accor_body">
								<div class="accor_body_inner">
									<strong>Требуемый опыт работы</strong>
									<ul>
										<li>От 3 до 6 лет</li>
										<li>Полная занятость</li>
									</ul>
									<strong>Обязанности</strong>
									<ul>
										<li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
										<li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
										<li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
										<li>Контроль за содержанием в исправном состоянии грузоподъемных механизмов и другого инструмента</li>
									</ul>
									<strong>Требования:</strong>
									<ul>
										<li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
										<li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
										<li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
									</ul>
									<a href="#" class="link_hh">Смотреть вакансию на hh.ru</a>
									<div class="form_respond">
										<div class="name_form">Откликнуться</div>
										<div class="text">В ближайшее время мы свяжемся с вами</div>
										<form action="">
											<div class="row_form">
												<div class="left_col">
													<div class="row_field">
														<div class="field name">
															<input type="text" placeholder="Имя*" required>
														</div>
														<div class="field phone">
															<input type="text" placeholder="Телефон*" required>
														</div>
													</div>
													<div class="row_field">
														<div class="field file">
															<div class="file_input">
																<input type="file" name="file" id="file-2" required="" class="inputfile inputfile-2">
																<label for="file-2"><span>Прикрепить файл</span></label>
															</div>
															<div class="file_text">Файл не более 10МБ</div>
														</div>
														<a href="#" class="link_hh">Смотреть вакансию на hh.ru</a>
													</div>
												</div>
												<div class="right_col">
													<div cass="field submit">
														<input type="submit" class="btn btn_orange_full" value="Откликнуться">
													</div>		
													<div class="police">Я даю согласие на обработку персональных данных</div>
												</div>
											</div>			
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>				
	</div>
include _footer.jade